﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="LearningLoungeMaster.master.cs" Inherits="Hilton.SuppliersConnection.UI.LearningLounge.LearningLoungeMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title></title>

    <link href="/LearningLounge/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/LearningLounge/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
    <link href="/LearningLounge/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/LearningLounge/css/animate.min.css" rel="stylesheet" />
    <link href="/LearningLounge/css/styles.css" rel="stylesheet" />
    <link href="/LearningLounge/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/LearningLounge/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/LearningLounge/css/toggles.css" rel="stylesheet" />
    <link href="/LearningLounge/css/toggles-light.css" rel="stylesheet" />

    <script src="/LearningLounge/js/moment.min.js"></script>
    <script src="/LearningLounge/js/jquery.min.js" type="text/javascript"></script>
    <script src="/LearningLounge/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/LearningLounge/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/LearningLounge/js/respond.min.js"></script>
    <script src="/LearningLounge/js/bootstrap-formhelpers.min.js"></script>
    <script src="/LearningLounge/js/bootstrap-formhelpers-states.js"></script>
    <script src="/LearningLounge/js/jquery-toggles/toggles.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src="js/LearningLoungeMaster.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <script>
        var _userTypeId = <%=GetUserTypeId() %>;
        var _isAdminModeToggledOn = <%=AreAdminToolsOn() %>;

        function navigateMyAccount() {
            if (_userTypeId == 2) {             //Partner
                window.open("/Account/ApprovedCategories.aspx");

            } else if (_userTypeId == 3 || _userTypeId == 4) {      //Owner or Consultant
                window.open("/Account/ProjectList.aspx");

            }  else if (_userTypeId == 5) {     //Administrator
                window.open("/Admin/Dashboard.aspx");

            } else {
                //window.open("/About/GetAnAccount.aspx");
                $('#myaccount-modal').modal('show');
            }
        }

        function isUserAdmin() {
            return (_userTypeId == -1);   //Always change this to 5 before checking in.  5=admin, -1=public.
        }

        function setFormTarget() {
            //set the target and action of the form so that the page posts back to itself.
            //This is required for the login link button.
            $('#form1').attr("target", "_self");
            $('#form1').attr("action", document.location.href);
        }

    </script>

     <script  type="text/javascript">
         (function (i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                 (i[r].q = i[r].q || []).push(arguments)
             }, i[r].l = 1 * new Date(); a = s.createElement(o),
     m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
         })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

         ga('create', '<%#GoogleAnalyticsId%>', 'auto');
         ga('send', 'pageview');

    </script>
</head>
<body runat="server" id="bodyTag">
    <form id="form1" runat="server">

        <div id="meet-and-greet-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-border">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header-col col1">&nbsp;</div>
                            <div class="modal-header-col col2">
                                <h4 class="modal-title"><span>Meet & Greet &nbsp;&nbsp;|&nbsp;&nbsp; Lunch & Learn</span></h4>
                            </div>
                            <div class="modal-header-col col3">&nbsp;</div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                    <div class="meet-and-greet-intro">
                                        <p>As a Suppliers' Connection Recommended Partner, you can request a meeting with the Hilton AD&C Team to present your product/service or share your CE course.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="meet-and-greet-tab-wrapper">
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" class="meet-greet active"><a href="#meet-and-greet-tab" aria-controls="meet-and-greet" role="tab" data-toggle="tab">Meet & Greet</a>
                                        <div class="row">
                                            <div class="hidden-xs hidden-sm tab-description">
                                                <div class="icon-share">
                                                    <img src="images/home/share-presentation.png" alt="Share Your CE Presentation" />
                                                </div>
                                                <div class="intro"></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li role="presentation" class="lunch-learn"><a href="#lunch-and-learn-tab" aria-controls="lunch-and-learn" role="tab" data-toggle="tab">Lunch & Learn</a>
                                        <div class="row">
                                            <div class="hidden-xs hidden-sm tab-description">
                                                <div class="icon-share">
                                                    <img src="images/home/share-product-service.png" alt="Share Your CE Presentation" />
                                                </div>
                                                <div class="intro"></div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <!-- meet and greet tab -->
                                    <div role="tabpanel" class="tab-pane active" id="meet-and-greet-tab">
					  				    <div class="row">
						  				    <div class="visible-xs visible-sm hidden-md tab-description">
							  				    <div class="icon-share">
								  				    <img src="images/home/share-presentation.png" alt="Share Your CE Presentation" />
								  			    </div>
							  				    <div class="intro"></div>
						  				    </div>
						  			    </div>

                                        <div class="tab-form-wrapper">
                                            <div class="row">
                                                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                                                    <h4>Request Form</h4>
                                                    <div class="form-group">
                                                        <input id="txtMeetNGreetCompany" type="text" class="form-control" placeholder="COMPANY" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="txtMeetNGreetContact" type="text" class="form-control" placeholder="CONTACT" />
                                                    </div>
                                                    <div class="row" style="margin-left: -15px;">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <input id="txtMeetNGreetPhone" type="text" class="form-control" placeholder="PHONE NUMBER" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="txtMeetNGreetProducts" type="text" class="form-control" placeholder="PRODUCTS TO BE PRESENTED" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Does product comply with brand standards?</label>
                                                        <label class="radio-inline">
                                                            <input name="meet-and-greet-brand-standards" type="radio" value="yes" />
                                                            Yes 
									  			
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input name="meet-and-greet-brand-standards" type="radio" checked="checked" value="no" />
                                                            No
									  			
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="txtMeetNGreetEmail" type="text" class="form-control" placeholder="Email address for CEU communication" style="width: 400px" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="btnMeetNGreetSubmit" type="button" class="btn btn-light-orange" value="Submit" onclick="return btnMeetNGreetSubmit_Click();" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- lunch and learn tab -->
                                    <div role="tabpanel" class="tab-pane" id="lunch-and-learn-tab">

					  				<div class="row">
						  				<div class="visible-xs visible-sm hidden-md tab-description">
							  				<div class="icon-share">
								  				<img src="images/home/share-product-service.png" alt="Share Your CE Presentation" />
								  			</div>
							  				<div class="intro"></div>
						  				</div>
						  			</div>

                                        <div class="tab-form-wrapper">
                                            <div class="row">
                                                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                                                    <h4>Request Form</h4>
                                                    <div class="form-group">
                                                        <input id="txtLunchNLearnCompany" type="text" class="form-control" placeholder="COMPANY" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="txtLunchNLearnContact" type="text" class="form-control" placeholder="CONTACT" />
                                                    </div>
                                                    <div class="row" style="margin-left: -15px;">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <input id="txtLunchNLearnPhone" type="text" class="form-control" placeholder="PHONE NUMBER" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="txtLunchNLearnProducts" type="text" class="form-control" placeholder="PRODUCTS TO BE PRESENTED" />
                                                    </div>
                                                    <div class="form-group radio">
                                                        <label class="radio-main">Does product comply with brand standards?</label>
                                                        <label class="radio-inline">
                                                            <input name="lunch-and-learn-brand-standards" type="radio" value="yes" />
                                                            Yes 
									  			
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input name="lunch-and-learn-brand-standards" type="radio" checked="checked" value="no" />
                                                            No
									  			
                                                        </label>
                                                    </div>
                                                    <div class="form-group radio aia-accredited">
                                                        <label class="radio-main">AIA Accredited?</label>
                                                        <label class="radio-inline">
                                                            <input id="chkLunchAndLearnAIAYes" name="lunch-and-learn-aia" type="radio" value="yes" />
                                                            Yes
									  			
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input name="lunch-and-learn-aia" type="radio" checked="checked" value="no" />
                                                            No
									  			
                                                        </label>
                                                        <input id="txtAIACEUsEarned" type="text" class="form-control small" placeholder="If yes, CEU's earned" />
                                                    </div>
                                                    <div class="form-group radio leed-accredited">
                                                        <label class="radio-main">LEED Accredited?</label>
                                                        <label class="radio-inline">
                                                            <input id="chkLunchAndLearnLEEDYes" name="lunch-and-learn-leed" type="radio" value="yes" />
                                                            Yes
									  			
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input name="lunch-and-learn-leed" type="radio" checked="checked" value="no" />
                                                            No
									  			
                                                        </label>
                                                        <input id="txtLEEDCEUsEarned" type="text" class="form-control small" placeholder="If yes, CEU's earned" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="txtLunchNLearnEmail" type="text" class="form-control" placeholder="Email address for CEU communication" style="width: 400px" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="btnLunchNLearnSubmit" type="button" class="btn btn-light-orange" value="Submit" onclick="btnLunchNLearnSubmit_Click(); return false;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="meet-and-greet-questions">
                                <h4>Questions</h4>
                                <p>Contact Kerry Burnett at <a href="mailto:kerry.burnett@hilton.com">kerry.burnett@hilton.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Meet n Greet/Lunch n Learn-->

        <div id="partner-login-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-border">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header-col col1">&nbsp;</div>
                            <div class="modal-header-col col2">
                                <h4 class="modal-title"><span>Meet & Greet &nbsp;&nbsp;|&nbsp;&nbsp; Lunch & Learn</span></h4>
                            </div>
                            <div class="modal-header-col col3">&nbsp;</div>
                        </div>
                        <div class="modal-body">
                            <p>This section is for Hilton's Partners to share their products and certified education units (CEU) courses with Hilton staff.</p>
                            <p>
                                If you are a partner, please
                                <asp:LinkButton ID="LinkButton1" ViewStateMode="Enabled" runat="server" EnableViewState="true"
                                    OnClick="LoginLinkButton_Click" OnClientClick="setFormTarget(); return true;" Text="Login"></asp:LinkButton>.<br>
                                To learn how to become a partner, <a href="../../Partners/BecomeRecommendedPartner.aspx" target="_blank">click here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	    <div id="myaccount-modal" class="modal fade has-top-border utility-modal">
		    <div class="modal-dialog">
			    <div class="modal-content">
				    <div class="modal-border">
		  			    <div class="modal-body">
	  					    <p>If you have credentials, click the Log In link below.<br /><br />
                                  If you need credentials, please <a href="SupportCenter.aspx" target="_blank">click here</a> and <br />read the FAQ item titled "How do I get an account?".</p>
	  					    <div class="modal-row blue">
                                <asp:LinkButton CssClass="modal-row blue" ID="LinkButton2" ViewStateMode="Enabled" runat="server" EnableViewState="true"
                                    OnClick="LoginLinkButton_Click" OnClientClick="setFormTarget(); return true;" Text="Login"></asp:LinkButton>
	  					    </div>
		  			    </div>
				    </div>
			    </div>
			    <!-- /.modal-content -->
		    </div>
		    <!-- /.modal-dialog -->
	    </div>
	    <!-- /#password-modal -->

        <div style="width: 100%; background: url(../Images/header-bg.gif) repeat-x 0 0;">
            <div class="mainHeader">
                <%--<div class="wrapper">--%>
                <div id="hdr-print" style="display: none">
                    <img src="../Images/header-img.jpg" />
                </div>
                <h1>
                    <asp:HyperLink ID="homeHyperlink" runat="server" NavigateUrl="~/LearningLounge/Home.aspx" Text="Hilton Worldwide"></asp:HyperLink>
                </h1>
                <div class="h-right">
                    <asp:LinkButton ID="adminLinkButton" runat="server" OnClick="AdminLinkButton_Click"
                        Text="Administration" CBID="1053" OnClientClick="setFormTarget(); return true;"></asp:LinkButton>
                    <span>
                        <asp:Image runat="server" ID="barImage" ImageUrl="~/Images/dots.gif" AlternateText="" />
                    </span>
                    <asp:LinkButton ID="loginLinkButton" ViewStateMode="Enabled" runat="server" EnableViewState="true"
                        OnClick="LoginLinkButton_Click" Text="Login" OnClientClick="setFormTarget(); return true;"></asp:LinkButton>
                </div>
                <div class="welcome">
                    <h2>
                        <asp:Label ID="userNameLabel" Text="" runat="server"></asp:Label>
                    </h2>
                    <asp:ContentPlaceHolder ID="cphHeader" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <%--</div>--%>
            </div>
            <!-- header -->
            <header>
                <div class="container">
                    <h2>Welcome to</h2>
                    <h1>Suppliers' Connection</h1>
                    <h2>Your AD&C Hub</h2>
                    <div id="nav-trigger">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div id="search" style="display: none">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </header>
            <!-- /header -->

            <div class="content">
                <div class="wrapper">
                    <asp:ContentPlaceHolder ID="mainContent" runat="server">
                    </asp:ContentPlaceHolder>
                    <div class="clear">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="wrapper">
                </div>
            </div>

        </div>

        <script>

            // admin tools toggle switch -->
            $('.toggle').on('toggle', function (e, active) {
                if (active) {
                    console.log('active');
                    $('.toggle-wrapper .state').html('ON');
                    _isAdminModeToggledOn = true;
                    adminToolsToggled();

                } else {
                    console.log('inactive');
                    $('.toggle-wrapper .state').html('OFF');
                    _isAdminModeToggledOn = false;
                    adminToolsToggled();
                }
            });

            // admin tool - edit -->
            $('.admin-icon').on('click', function (e) {
                e.stopPropagation();
            });

            if (isUserAdmin()) {
                $('.toggle-wrapper').show();
            }

            populateIntroCopy();

            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });

            $('#meet-and-greet-modal').modal({
                backdrop: 'static',
                keyboard: false,
                show: false
            });
        </script>
    </form>
</body>
</html>
