/**************************************************************
**	GLOBAL
**************************************************************/

html,
body {
	/*
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	*/
} 

body {
   font-family: 'montserrat_light';
}

a {
	color: #f04d22;
	font-family: 'montserrat_semibold';
}
a:hover, a:active {
	color: #f04d22;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	color: #063547;
}

.row .no-gutters {
  padding-right: 0;
  padding-left: 0;
}
.row .sm-gutters {
  padding-right: 3px;
  padding-left: 3px;
}

/* Font Styles */
.light {
	font-family: 'montserrat_light';
}
.regular {
	font-family: 'montserrat_regular';
}
.strong {
	font-family: 'montserrat_bold';
}

.centered {
	text-align: center;
}

input, button {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}

.radio+.radio, .checkbox+.checkbox {
	margin-top: 0;
}

/* toggles */
.toggle-wrapper {
	text-align: center;
	margin: 36px 0 0;
}
.toggle-wrapper .toggle-title {
	color: #f04d22;
	padding: 3px;
}
.toggle-wrapper .toggle.toggle-light {
	display: inline-block;
	margin: 0 auto;
}
.toggle-wrapper .state {
	display: inline-block;
	vertical-align: top;
	width: 34px;
}


/* Forms */
form {
	font-family: 'montserrat_ultralight';
}

.bootstrap-select.btn-group {
	width: 100% !important;
}
.bootstrap-select.btn-group .btn {
	border: 1px solid #27ade4;
	color: #333333;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #333333;
	font-family: 'montserrat_ultralight';
	
}
.bootstrap-select.btn-group .dropdown-menu li:hover a, .bootstrap-select.btn-group .dropdown-menu li.selected a {
	color: #ffffff;
	background: #27ade4;
}

/* Buttons */
.btn {
	margin: 0 auto;
	display: block;
	width: 230px;
	height: 43px;
	border: 1px solid #f04d22;
	color: #f04d22;
	background: #ffffff;
	text-transform: uppercase;
	font-family: 'montserrat_light';
	font-size: .8em;
	margin-bottom: 17px;
	border-radius: 0;
	cursor: pointer;
	
}
.btn.btn-primary {
	cursor: pointer;
}
.btn.btn-primary:hover, .btn.btn-primary.active, .sidebar .btn.btn-primary:focus, .sidebar .btn.btn-primary.active {
	color: #ffffff;
	background-color: #f04d22;
	border-color: #f04d22;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}

/* Form Controls */
.bfh-selectbox-toggle.form-control {
	height: 44px;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid #f05329;
}
.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option {
	height: 27px;
}
.bfh-selectbox .bfh-selectbox-toggle .selectbox-caret {
	margin-top: 13px;
}
.bfh-selectbox.open>.bfh-selectbox-options {
	width: 100%;
}
.bfh-selectbox .bfh-selectbox-options ul {
	font-size: 1.2em;
	max-width: 100%;
}
.bfh-selectbox .bfh-selectbox-options ul li>a:hover, .bfh-selectbox .bfh-selectbox-options ul li>a:focus {
	color: #063547;
	background: #f05329;
}

#primary-nav {
	margin: 0 auto;
	text-align: center;
	background: url('../images/global/primary-header-bg.jpg') repeat-x;
}
#primary-nav img {
	width: 100%;
}

/* Search */

.navbar-form.navbar-search {
	display: block;
	text-align: center;
	margin: 0 auto 40px;
	width: 100%;
	max-width: 700px;
}
.navbar-form.navbar-search .input-group {
	display: block;
	margin: 0 auto;
	max-width: 260px;
}
.navbar-form.navbar-search .input-group .input-group-btn {
	display: block;
	width: 100%;
}
.navbar-form.navbar-search .input-group .input-group-btn button {
	display: block;
	width: 100%;
	margin: 0;
	border: 1px solid #29b3e6;
	color: #ffffff;
	font-size: 14px;
	background: #29b3e6;
}
.navbar-form.navbar-search .input-group .input-group-btn button:hover {
	border: 1px solid #29b3e6;
	color: #29b3e6;
	background: #ffffff;
}
.navbar-form.navbar-search .input-group input[type='text'] {
	display: block;
	padding-left: 40px;
	border-radius: 6px;
	margin: 0 auto 10px auto;
	width: 100%;
	max-width: inherit;
	height: 43px;
	border: none;
	background-color: #f2f2f2;
}
.navbar-search .inner-addon .glyphicon {
	left: 0;
	position: absolute;
	padding: 12px;
	font-size: 18px;
	pointer-events: none;
	z-index: 20;
}
#gallery-filters .input-group.inner-addon {
	max-width: 260px;
}

/* Modals */
.modal {
	color: #ffffff;
}
.modal-backdrop.in {
	filter: alpha(opacity=80);
	opacity: .8;
}
.modal-dialog {
	margin: 60px auto;
	width: 98%;
}
.modal .modal-content {
	padding: 30px;
	background: url('../images/global/modal-bg.png');
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
	color: #ececec;
}
.modal .modal-content a {
	font-family: 'montserrat_semibold';
	color: #063547;
}
.modal .modal-content .modal-border {
	border: 3px solid #ffffff;
	border-top: none;
}
.modal.has-top-border .modal-content .modal-border {
	border-top: 3px solid #ffffff;
}
.modal .modal-content .modal-header {
	text-align: center;
	border: none;
	padding: 0;
}
.modal .modal-content .modal-header h4 {
	margin-top: -24px;
	font-family: 'montserrat_semibold';
	font-size: 17px;
	text-transform: uppercase;
	border: none;
	line-height: 1.1;
	color: #ffffff;
}
.modal .modal-content .modal-header h4 .light {
	font-family: 'montserrat_ultralight';
}
.modal .modal-content .modal-header h4 span {
	display: block;
	white-space: nowrap;
}
.modal .modal-content .modal-header .modal-header-col {
	display: table-cell;
	vertical-align: top;
	width: 20%;
}
.modal .modal-content .modal-header .modal-header-col.col1 {
	border-top: 3px solid #ffffff;
}
.modal .modal-content .modal-header .modal-header-col.col2 {
	border-top: none;
	padding: 13px;
	width: 37%;
}
.modal .modal-content .modal-header .modal-header-col.col3 {
	border-top: 3px solid #ffffff;
}

.modal .modal-content .input-header {
	font-family: 'montserrat_regular';
}
.modal .modal-content .input-p {
	font-size: .9em;
}

.modal-header .close {
	width: 34px;
	height: 34px;
	margin: -47px -27px 0 0;
	font-size: 28px;
	color: #2ab3e6;
	-webkit-border-radius: 18px; 
	-moz-border-radius: 18px; 
	border-radius: 18px;
	opacity: 1; 
	background: #ffffff;
	
}
.modal-header .close:hover {
	color: #ffffff;
	background: #063547;
}
.modal-header .close span {
	display: inherit;
	margin: -4px 0 0 1px;
}

.modal .modal-content .modal-body {
	padding: 8px 26px 26px 26px;
	font-family: 'montserrat_ultralight';
}
.modal .modal-content .modal-body .body-description {
	padding: 12px 0;
}

.modal .modal-content .modal-body .input-group.checkbox {
	width: 100%;
	margin-top: 2px;
	padding: 5px 2px 0px;
	/*border: 1px solid #27ade4;*/
}
.modal .modal-content .modal-body .input-group.checkbox .input-group-addon {
	text-align: left;
	border: none;
	color: #ffffff;
	background: transparent;
}
.modal .modal-content .modal-body .input-group.checkbox .input-group-addon label {
	margin: 0 12px 0 0;
	display: block;
	width: 100%;
	font-size: .9em;
}

.modal .modal-content .modal-col {
	display: inline-block;
	padding: 0;
	vertical-align: top;
}
.modal .modal-content .modal-col.col1 {
	width: 100%;
	padding:  0 0 12px;
}
.modal .modal-content .modal-col.col2 {
	width: 100%;
}
.modal .modal-content .modal-col .form-col1 {
	display: block;
	width: 100%;
}
.modal .modal-content .modal-col .form-col2 {
	display: block;
	width: 100%;
}
.modal .modal-content .modal-col.col2 .form-group.topic {
	margin-top: 30px;
}
.modal .modal-content input, .modal .modal-content .btn {
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px; 
}
.modal .modal-content input[type='text']:not(.bootstrap-datetimepicker-widget), .modal .modal-content textarea:not(.bootstrap-datetimepicker-widget) {
	width: 100%;
	border: 1px solid #2ab3e6;
	font-family: 'montserrat_ultralight';
	font-size: 13px;
	color: #272727;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
}
.modal .modal-content input[type='text']:not(.bootstrap-datetimepicker-widget) {
	height: 45px;	
}
.modal .modal-content input[type='textarea']:not(.bootstrap-datetimepicker-widget) {
	/*height: 160px;*/
}

/* Modal Buttons */
.modal .btn:not(.bootstrap-datetimepicker-widget), {
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 50px;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'montserrat_ultralight';
	cursor: pointer;
}
.modal .btn.btn-primary {
	color: #ffffff;
	border: none;
	background-color: #063547;
}
.modal .btn.btn-primary:hover, .modal .btn.btn-primary.active  {
	cursor: pointer;
	color: #2ab3e6;
	background-color: #ffffff;
}
.modal .btn.btn-primary.submit {
	margin: 40px auto 20px;
}
.modal .btn.btn-secondary {
	width: 150px;
	height: 40px;
	padding: 12px 12px;
	color: #ffffff;
	border: none;
	background-color: #f04d22;
}
.modal .btn.btn-secondary:hover {
	cursor: pointer;
	color: #f04d22;
	background-color: #ffffff;
}
.modal .btn.btn-tertiary {
	background: #063547;
	border-color: #26ace3;
	color: #FFFFFF;
	padding-top: 13px;
}
.modal .btn.btn-tertiary:hover {
	background: #26ace3;
}
.modal .btn.btn-white {
	color: #2ab3e6;
	margin-top: 30px;
	border: 1px solid #2ab3e6;
	background: #FFFFFF;
}
.modal .btn.btn-white:hover {
	color: #ffffff;
	background: #2ab3e6;
}
.modal .btn.btn-light-orange {
	border: none;
	color: #ffffff;
	margin-top: 30px;
	background: #efa61f;
}
.modal .btn.btn-light-orange:hover {
	border: none;
	color: #efa61f;
	background: #ffffff;
}

.modal.utility-modal {
	
}
.modal.utility-modal .modal-content .modal-body {
	text-align: center;
	padding: 26px;
}
.modal.utility-modal .modal-content .modal-body .note {
	display: block;
	margin: 18px auto 0;
	font-size: 0.9em;
}

.modal .form-group label.radio-main {
	margin-right: 6px;
	padding-left: 0;
}
.modal .form-group.aia-accredited label.radio-main {
	margin-right: 19px;
}

.modal .form-group input.small[type='text'] {
	display: block;
	width: 100%;
	height: 28px;
	margin-top: 5px;
	margin-left: 0px;
}

.modal .modal-footer {
	text-align: center;
	border: none;
}
.modal .modal-footer .btn.btn-primary.submit {
	margin: auto;
	display: initial;
}

/* editable content */
.modal#page-template-modal .nav.nav-tabs {
	display: none;
}
.modal .edit-content-copy {
	
}
.modal .edit-content-copy.full {
	margin: 14px 0;
}
.modal .edit-content-title {
	padding: 5px 0;
}



/* Main Navigation */

.navigation-panel-mask {
	position: absolute;
	overflow: hidden;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

#navigation-panel-wrapper {
	display: block;
	height: 100%;
}

#navigation-panel {
	position: relative;
	top: 0;
	margin-left: -300px;
	z-index: 1000;
	max-width: 250px;
	height: 100%;
	color: #ffffff;
	background: #063547;
}
#navigation-panel .wrapper {
	position: relative;
	margin-top: -24px;
}
#navigation-panel .wrapper ul {
	margin-top: 24px;
	list-style: none;
}
#navigation-panel .wrapper ul li {
}
#navigation-panel .wrapper ul li a {
	display: block;
	padding: 16px 30px 0 0;
	color: #ffffff;
	text-decoration: none;
    font-family:montserrat_regular;
}
#navigation-panel .wrapper ul li a:hover {
	color: #26ace3;
}
#navigation-panel .wrapper #close-navigation-panel {
	position: absolute;
	bottom: -60px;
	right: 20px;
}
#navigation-panel .wrapper #close-navigation-panel a {
	color: #26ace3;
}
#navigation-panel .wrapper #close-navigation-panel a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* Container */
.container {
	position: relative;
	height: initial;
	color: #063547;
	/*padding: 0 6px;*/
}
.container .row {
	height: initial;
}
.container h1, .container h2, .container h3, .container h4, .container h5 {
	text-align: center;
}
.container h1 {
	display: table;
	margin: 24px auto 0 auto;
	padding: 22px 0;
	border-bottom: 2px solid #f04d22;
	font-family: 'montserrat_bold';
}
.container h1 {
	
}

/* Container Secondary */
.container.secondary {
	width: 100%;
	padding: 0;
}

.page-description {
	display: block;
	margin: 20px auto;
	padding: 12px;
	text-align: center;
	font-size: 1.2em;
	font-family: 'montserrat_ultralight';
	width: 100%;
	max-width: 900px;
}

.page-subtitle {
	text-align: center;
}
.page-subtitle h2, .page-subtitle img {
	display: inline-block;
	vertical-align: middle;
}
.page-subtitle .title-icon {
	margin:  9px 10px 0 -20px;
}

/* Sidebar */
.sidebar {
	max-width: 100%;
	padding: 34px 0px;
	text-align: center;
	height: initial;
	background: #f8f8f8;
}

.sidebar .title {
	font-family: 'montserrat_semibold';
	margin: 0 auto;
}

/* Sidebar Well */
.sidebar .well {
	width: 90%;
	margin: 19px auto;
	color: #272727;
	font-family: 'montserrat_semibold';
	font-size: 1.15em;
	letter-spacing: .05em;
	background-color: transparent;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}
.sidebar .well.nav {
	max-width: 510px;
	margin-top: 0;
}
.well.nav button {
	display: inline-block;
	margin: 4px 0 0 0;
	width: 100%;
}
.well.nav .btn.btn-primary.active {
}
.sidebar .well .well-header {
	margin: 17px 0;
	font-size: .8em;
	color: #272727;
	font-family: 'montserrat_semibold';
}
.sidebar .well.callout {
	/*display: none;*/
	font-family: 'montserrat_light';
	font-size: 1.0em;
	color: #272727;
}

/* Sidebar Brand Logos */
#sidebar-logos {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #f04d22;
}
#sidebar-logos img.logo {
	width: 50%;
}
#sidebar-logos #sidebar-print-map-container {
	margin: 14px 0;
	font-family: 'montserrat_light';
	font-size: .9em;
	text-align: center;
	cursor: pointer;
}
#sidebar-logos #sidebar-print-map-container #print-map-icon {
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	color: #ffffff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	background: #f04d22;
}
#sidebar-logos #sidebar-print-map-container:hover #print-map-icon {
	background: #27ade4;
}
#sidebar-logos #sidebar-print-map-container #print-map-text {
	display: inline-block;
	font-size: .9em;
}
#sidebar-logos #sidebar-print-map-container:hover #print-map-text {
	color: #27ade4;
}

/* Masonry */
.grid-item {
	overflow: visible !important;
}
.grid-item.disabled, .hero-grid__item.disabled {
	opacity: .3;
	/*pointer-events: none;*/
}


/* image uploader */
.uploader {
	margin: 0 auto;
}

.uploader .image-wrapper {
	width: 100%;
	margin: 0 0 12px;
	border: 1px dotted #063547;
}
.uploader .image-wrapper img {
	width: 100%;
}
.uploader.hero .image-wrapper {
	display: block;
	min-height: 300px;
}
.uploader.callout .image-wrapper {
	display: inline-block;
	width: 100%;
	min-height: 280px;
}

#t1-tab {
	
}

#t2-tab .uploader.callout .image-wrapper {
	min-height: 230px;
}


/* admin */

.admin-icon.edit {
	position: absolute;
	width: 32px;
	height: 32px;
	top: -8px;
	left: -8px;
	z-index: 500;
	background: url('../images/admin/icon-edit.png') no-repeat;
}
.admin-icon.edit:hover {
	background: url('../images/admin/icon-edit-active.png') no-repeat;
}

@media only screen and (min-width : 480px) {
	
	/* Search */
	.navbar-form.navbar-search {
		margin: 0 auto 40px;
	}
	.navbar-form.navbar-search .input-group {
		display: table;
		width: 100%;
	}
	.navbar-form.navbar-search .input-group .input-group-btn {
		display: table-cell;
		width: 230px;
	}
	.navbar-form.navbar-search .input-group .input-group-btn button {		
		margin: 0 0 0 12px;
	}
	.navbar-form.navbar-search .input-group input[type='text'] {
		display: block;
		width: 100%;
		margin-bottom: 0;
	}
	
	/* modals */
	.modal-dialog {
		width: 90%;
	}
	.modal .modal-content .modal-header h4 {
		font-size: 20px;
	}
	.modal .modal-content .modal-header h4 span {
		display: inline-block;
	}
	
	.modal-header .close {
		margin: -47px -47px 0 0;
	}
	
}

@media only screen and (min-width : 768px) {
	
	.modal .modal-content .modal-header h4 {
		margin-top: -22px;
	}
	
	/* modals */
	.modal .modal-content .modal-col {
		
	}
	.modal .modal-content .modal-col.col1 {
		width: 49%;
		padding: 0 25px 12px 0;
	}
	.modal .modal-content .modal-col.col2 {
		width: 49%;
	}
	
	/* meet & greeet modal */
	.modal .form-group label.radio-main {
		margin-right: 6px;
		padding-left: 0;
	}
	.modal .form-group label.radio-main {
		margin-right: 19px;
	}
	
	.modal .form-group input.small[type='text'] {
		display: inline-block;
		width: 200px;
		margin-left: 20px;
	}
	
}

@media only screen and (min-width : 992px) {
	
	/* modeals */
	.modal {
		color: #ffffff;
	}
	.modal-dialog {
		width: 870px;
		margin: 60px auto;
	}
	
	.modal .modal-content .modal-header h4 {
		font-size: 22px;
	}
	.modal .modal-content .modal-header .modal-header-col {
		width: 26%;
	}
	.modal .modal-content .modal-header .modal-header-col.col2 {
		width: 36%;
	}
	
	/* Container */
	.container {
		/*height: 100%;*/
	}
	.container .row {
		height: 100%;
	}
	
	/* Sidebar */
	.sidebar {
		height: 100%;
		max-width: 340px;
	}
	
}

@media only screen and (min-width : 1200px) {
	
	/* modeals */
	.modal {
		color: #ffffff;
	}
	.modal-dialog {
		width: 870px;
		margin: 60px auto;
	}
			
	.modal .modal-content .modal-col .form-col1 {
		display: inline-block;
		width: 49%;
	}
	.modal .modal-content .modal-col .form-col2 {
		display: inline-block;
		width: 49%;
	}
	
}


/**************************************************************
**	HOMEPAGE
**************************************************************/

/* Header */
header {
	padding: 28px 0 14px;
	height: 232px;
	text-align :center;
	background: #084258 url('../images/home/header-bg.jpg');
}
header .container {
	position: relative;
	padding: 0;
	height: 100%;
}
header .container h1 {
	color: #26ace3;
	font-size: 30px;
	font-family: 'montserrat_semibold';
	border-bottom: 2px solid #ffffff;
	display: inline-block;
	padding: 0 0 6px 0;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
}
header .container h2 {
	color: #ffffff;
	font-family: 'montserrat_light';
	font-size: 28px;
	margin: 10px 0 -10px 0;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
}
header .container h3 {
	color: #26ace3;
	font-family: 'montserrat_regular';
	border-bottom: 4px solid #ffffff;
	display: inline-block;
	padding-bottom: 4px;
}
header .container #nav-trigger {
	position: absolute;
	bottom: -12px;
	left: 20px;
	color: #ffffff;
	font-size: 36px;
	cursor: pointer;
}
header .container #nav-trigger:hover {
	color: #26ace3;
}
header .container #search {
	position: absolute;
	bottom: -6px;
	left: 70px;
	color: #ffffff;
	font-size: 30px;
	cursor: pointer;
}
header .container #search:hover {
	color: #26ace3;
}

/* Carousel (header) */
#carousel-home.carousel {
    height: 210px;
    padding: 10px 0 6px;
}
#carousel-home.carousel .item,
#carousel-home.carousel .item.active,
#carousel-home.carousel .carousel-inner {
    height: 100%;
}
#carousel-home.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#carousel-home .carousel-control {
	filter: inherit;
	background: none;
}
#carousel-home .carousel-control .icon-prev {
	left: 30px;
}
#carousel-home .carousel-control .icon-next {
	right: 30px;
}
#carousel-home .carousel-control .icon-prev:before, .carousel-control .icon-next:before {
	display: none;
}

/* Masonry Grid */
* {
	box-sizing: border-box;
}

body.home .container .grid {
	background: #ffffff;
	max-width: 1200px;
}
body.home .container .grid-sizer {
	width: 100%;
}
body.home .container .grid:after {
	content: '';
	display: block;
	clear: both;
}
body.home .container .grid-item {
	width: 100%;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
body.home .container .grid-item:hover {
	opacity: .8;
}
body.home .container .grid-item img {
	width: 100%;
	height: 50%;
	border-top: 6px solid #ffffff;
	border-bottom: 6px solid #ffffff;
}
body.home .container .grid-item--width2 {
	width: 100%;
}
body.home .container .grid-item--width2 img {
	height: 100%;
}
body.home .container .grid-item--height2 {
	
	
}
body.home .container .grid-item--height2 img {
	
}
body.home .container .grid-item.grid-item--width2.top-left {
	position: relative !important;
}

/* Carousel (partners) */
#carousel-partners.carousel {
	position: absolute;
	width: 100%;
	bottom: 38px;
	padding: 15px 0;
    background: url('../images/home/carousel-partners/bg.png');
}
#carousel-partners.carousel .item,
#carousel-partners.carousel .item.active,
#carousel-partners.carousel .carousel-inner {
	width: 78%;
	margin: 0 auto;
    height: 100%;
}
#carousel-partners.carousel .carousel-inner .item {
	width: 100%;
}
#carousel-partners.carousel .carousel-inner .item div {
	width: 32.0%;
	padding: 0 4px;
	display: inline-block;
}
#carousel-partners.carousel img {
	width: 100%;
	max-width: 100px;
	border: none;
	display: block;
	margin: 0 auto;
}
#carousel-partners.carousel .fill {
    /*width: 100%;*/
    height: 100%;
    background-position: center;
    background-size: cover;
}
#carousel-partners .carousel-control {
	filter: inherit;
	background: none;
}
#carousel-partners .carousel-control .icon-prev {
	margin-top: -16px;
	height: auto;
	left: 22px;
}
#carousel-partners .carousel-control .icon-next {
	margin-top: -16px;
	height: auto;
	right: 22px;
}
#carousel-partners .carousel-control .icon-prev img, #carousel-partners .carousel-control .icon-next img {
	width: 14px;
	height: 25px;
}
#carousel-partners .carousel-control .icon-prev:before, .carousel-control .icon-next:before {
	display: none;
}

/* Modals */
#partner-login-modal .modal-body { font-size: 18px; text-align: center; padding: 30px 20px; }
#partner-login-modal .modal-body p:first-child { padding: 0 0px 20px 0px; }

#meet-and-greet-modal .modal-dialog {
	width: 100%;
	max-width: 800px;
}
#meet-and-greet-modal .modal-dialog .modal-content {
	padding: 30px 0;
}
#meet-and-greet-modal .modal-dialog .modal-border {
	border: none;
}
#meet-and-greet-modal .modal-dialog .modal-body {
	padding: 0;
}
#meet-and-greet-modal .modal-dialog .modal-header .close {
	margin: -47px 7px 0 0;
}
#meet-and-greet-modal .modal-dialog .modal-header .modal-header-col.col1, #meet-and-greet-modal .modal-dialog .modal-header .modal-header-col.col3 {
	border: none;
}

#meet-and-greet-modal .meet-and-greet-intro {
	padding: 0 15px 15px;
	text-align: center;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper { }
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs {
	display: block;
	text-transform: uppercase;
	font-size: 22px;
	border: none;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li {
	width: 50%;
	margin-bottom: -1px;
	text-align: center;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li a {
	border-radius: 0;
	padding: 10px 15px 10px 0;
	background: transparent;
	color: #FFFFFF;
	line-height: 1em;
	margin-right: 0;
	font-size: .8em;
	border: none;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li.active,
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li:hover {
	background: #f15526;
	border: none;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li:last-child a:hover {  }

#meet-and-greet-modal .tab-header { padding: 20px 0; }

#meet-and-greet-modal .btn.btn-tertiary {
	background: transparent;
	border-color: #063547;
	color: #FFFFFF;
	padding-top: 13px;
}
#meet-and-greet-modal .btn.btn-tertiary:hover {
	color: #063547;
}

#meet-and-greet-modal .tab-pane {
	padding: 20px 35px;
	background: #f15526;
}

#meet-and-greet-modal .tab-header .tab-title {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'montserrat_semibold';
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs .tab-description { }

#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs .tab-description .icon-share {
	display: none;
	position: absolute;
	top: -40px;
	left: -32px;
	width: 25%;
	padding: 0 10px 10px;
	vertical-align: top;
}



#meet-and-greet-modal .meet-and-greet-tab-wrapper .tab-pane .tab-description .icon-share {
	position: relative;
	display: inline-block;
	width: 32%;
	padding: 0 10px 10px;
	vertical-align: top;
	text-align: right;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .tab-pane .tab-description .intro {
	display: inline-block;
	padding-top: 12px;
	width: 63%;
	text-align: left;
	font-size: .8em;
}



#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li.active .tab-description .icon-share {
	display: block;
}
#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs .tab-description .intro {
	display: inline-block;
	width: 74%;
	font-size: .5em;
	text-align: left;
}
#meet-and-greet-modal .tab-form-wrapper {
	color: #FFFFFF;
}
#meet-and-greet-modal .tab-form-wrapper h4 {
	margin-bottom: 20px;
	color: #FFFFFF;
	font-family: 'montserrat_semibold';
	text-transform: uppercase;
}

#meet-and-greet-modal .meet-and-greet-upcoming { margin-top: 35px; }

#meet-and-greet-modal .meet-and-greet-questions {
	text-align: center;
	color: #FFFFFF;
	padding: 10px 0 0 0;
}
#meet-and-greet-modal .meet-and-greet-questions h4 {
	color: #FFFFFF;
	text-transform: uppercase;
}
#meet-and-greet-modal .meet-and-greet-questions a { color: #063547; }



@media only screen and (min-width : 480px) {
	
	header .container {
		padding: 20px 0;
	}
	
	header .container h1 {
		font-size: 37px;
		margin-bottom: 20px;
	}
	header .container h2 {
		font-size: 32px;
		margin-top: -10px;
	}
	
	header .container #nav-trigger {
		/*left: 50px;*/
	}
	header .container #search {
		left: 100px;
	}
	
	/* Carousel */
	#carousel-home.carousel {
	    height: 300px;
	    padding: 10px 6px 6px;
	}
	
	/* Carousel (partners) */
	#carousel-partners.carousel .carousel-inner .item div {
		width: 32.5%;
	}
	#carousel-partners .carousel-control .icon-prev {
		margin-top: -14px;
	}
	#carousel-partners .carousel-control .icon-next {
		margin-top: -14px;
	}
	
	/* masonry grid */
	body.home .container .grid-item img {
		border: 6px solid #ffffff;
	}
	
}

@media only screen and (min-width : 768px) {
	
	header .container {
		padding: 14px 0;
	}
	header .container h1 {
		font-size: 44px;
	}
	header .container h2 {
		font-size: 38px;
	}
	
	/* Carousel */
	#carousel-home.carousel {
	    height: 372px;
	}

	/* Masonry Grid */
	body.home .container .grid-sizer {
		width: 50%;
	}
	body.home .container .grid-item {
		width: 50%;
		/*height: 748px;*/
	}
	
	body.home .container .grid-item--width2 {
		width: 100%;
	}
	body.home .container .grid-item--width2 img {
		height: 100%;
	}
	
	body.home .container .grid-item--height2 {
		
	}
	body.home .container .grid-item--height2 img {
		height: 100%;
	}
	
	
	/* Carousel (partners) */
	#carousel-partners.carousel .carousel-inner {
		width: 60%;
	}
	#carousel-partners .carousel-control .icon-prev {
		margin-top: -13px;
		left: 42px;
	}
	#carousel-partners .carousel-control .icon-next {
		margin-top: -13px;
		right: 42px;
	}
	
	/* Modals */
	#partner-login-modal .modal-body { padding: 50px 70px; }
	#partner-login-modal .modal-body p:first-child { padding: 0 50px 20px 50px; }
	
		
}

@media only screen and (min-width : 992px) {
	
	body.home .container {
		height: initial;
	}
	
	/* Masonry Grid */
	body.home .container .grid-sizer {
		width: 25%;
	}
	body.home .container .grid-item {
		width: 25%;
		/*height: 485px;*/
	}
	body.home .container .grid-item--width2 {
		width: 50%;
	}
	
	/* Carousel (partners) */
	#carousel-partners.carousel .carousel-inner {
		width: 77%;
	}

	/* Modals */
	#meet-and-greet-modal .modal-dialog {
		max-width: 1100px;
	}
	#meet-and-greet-modal .modal-dialog .modal-content {
		padding: 30px;
	}
	#meet-and-greet-modal .modal-dialog .modal-border {
		border: 3px solid #ffffff;
		border-top: none;
	}
	#meet-and-greet-modal .modal-dialog .modal-body {
		padding: 8px 26px 26px 26px;
	}
	#meet-and-greet-modal .modal-dialog .modal-header .close {
		margin: -47px -47px 0 0;
	}
	#meet-and-greet-modal .modal-dialog .modal-header .modal-header-col.col1, #meet-and-greet-modal .modal-dialog .modal-header .modal-header-col.col3 {
		border-top: 3px solid #ffffff;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper {
		width: 100%;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs {
		display: inline-block;
		width: 50%;
		float: left;
		text-transform: uppercase;
		font-size: 22px;
		vertical-align: top;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li {
		width: 100%;
		margin-bottom: -1px;
		padding: 16px 20px 16px 90px;
		text-align: left;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li a {
		text-decoration: underline;
		font-size: 1.0em;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper .tab-content {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs .tab-description .intro {
		padding-left: 14px;
	}
	#meet-and-greet-modal .meet-and-greet-tab-wrapper .nav-tabs li.active .tab-description .intro {
		width: 100%;
		padding-left: 14px;
	}
	
	#meet-and-greet-modal .meet-and-greet-questions {
		text-align: left;
		margin: -100px 0 31px;
	}
	
}

@media only screen and (min-width : 1200px) {
	
	/* Masonry Grid */
	body.home .container .grid-sizer {
		width: 25%;
	}
	body.home .container .grid-item {
		width: 25%;
		/*height: 585px;*/
	}
	body.home .container .grid-item--width2 {
		width: 50%;
	}
	
	/* Carousel (partners) */
	#carousel-partners.carousel .carousel-inner {
		width: 70%;
	}
	#carousel-partners .carousel-control .icon-prev {
		margin-top: -15px;
		left: 72px;
	}
	#carousel-partners .carousel-control .icon-next {
		margin-top: -15px;
		right: 72px;
	}
	
}


/**************************************************************
**	FEATURED SUBPAGE 1
**************************************************************/

.container .hero {
	margin: 25px 0 35px;
}
.container .featured-img {
	margin: 0 auto;
}

/**************************************************************
**	FEATURED SUBPAGE 2
**************************************************************/

.container h3 {
	margin-top: 0;
}
.container .copy {
	margin: 0 0 40px 0;
}
.container .featured-img {
	margin: 0 auto 20px;
}


/**************************************************************
**	AD&C DIRECTORS
**************************************************************/

body.adc-directors .main-content {
	min-height: 1100px;
	float: none;
}

.sidebar {
	display: none;
}

#maps-navigation {
	margin: 0 0 30px 0;
}
#maps-navigation .map-navigation {
	margin: 0 auto 12px auto;
	vertical-align: top;
	/*border: 1px solid #f04d22;*/
	text-align: center;
	color: #f04d22;
	cursor: pointer;
}
#maps-navigation .map-navigation.active {
	/*border: 1px solid #2cb9ed;*/
}
#maps-navigation .map-navigation.active .title {
	color: #2cb9ed;
}
#maps-navigation .map-navigation .title {
	display: block;
	height: 55px;
	margin: 12px auto 12px;
	font-size: 1.4em;
	width: 90%;
	text-transform: uppercase;
}
#maps-navigation #map-navigation-north-america .title {
	margin-top: 23px;
}
#maps-navigation #map-navigation-north-america .map-image {
	/*margin-top: -12px;*/
}
#maps-navigation .map-navigation .map-image img {
	display: block;
	margin: 0 auto 10px auto;
	width: 100%;
}

.maps-navigation-trigger {
	margin-top: 36px;
}

/* region container */
.region-container {
	display: none;
	pointer-events: none;
}
.region-container.active {
	pointer-events: all;
}

/* sidebar container */
.sidebar-container {
}

/* map container */
.map-container {
	display: none;
	pointer-events: all;
}
.map-container.active {
	/*pointer-events: all;*/
}
.map-container .map-callout {
	text-align: center;
	font-family: 'montserrat_regular';
	font-size: 1.15em;
}
.map-container .map-subtitle {
	text-align: center;
	font-family: 'montserrat_regular';
	font-size: 1.2em;
	color: #f04d22;
}

.map-wrapper {
	width: 100%;
	margin: 30px 0 0;
}
.map-wrapper svg {
	width: 100%;
	height: auto !important;
	min-height: 270px;
}
.map-wrapper svg g path:hover, .map-wrapper svg g path.active, .map-wrapper svg g.active {
    fill: #2ab4eb;
    cursor: pointer;
}
.map-wrapper svg g text {
	pointer-events: none;
}

body.adc-directors .main-content #map-selectbox {
	display: none;
	max-width: 470px;
	margin: 0 auto;
}
body.adc-directors .map-container #map-selectbox {
	display: none;
}
#map-selectbox .bfh-selectbox {
	/*display: none;*/
}
#map-selectbox .detail {
	margin: 12px 0;
	text-align: center;
}


/* contacts */
.contacts {
	margin: 10px auto;
	text-align: center;
}

.contacts .contacts-label {
	display: block;
	margin: 16px; auto;
	font-size: 18px;
	line-height: 1.0;
}
.contacts .contact {
	margin: 4px; auto;
	font-size: 16px;
}

.contacts .contact .contacts-divider {
	display: none;
	margin: 0 6px;
}

.contacts #contacts-general  {
	margin: 15px auto;
}
.contacts #contacts-general .contact {
	display: block;
	width: 100%;
	padding: 8px;
	font-family: 'montserrat_semibold';
	font-size: 14px;
	border: 1px solid #f04d22;
}
.contacts #contacts-general .contact .contact-line {
	line-height: 1.3em;
	display: block;
	margin: 2px 0;
}
.contacts #contacts-general .contact contact-line.name {
	font-size: .9em;
	font-family: 'montserrat_light';
}

.contacts #contacts-additional  {
	margin: 10px auto 50px auto;
}
.contacts #contacts-main .contact .contact-line, .contacts #contacts-additional .contact .contact-line {
	display: block;
	width: 100%;
}

/* well */
.well.director-info-container {
	display: none;
	margin: 20px auto;
	width: 90%;
	height: 195px;
	text-transform: uppercase;
	background: url('../images/adc-directors/sidebar-wall-bg-blue.gif');
}
.well .director-info {
	display: inline-block;
	text-align: left;
	width: 100%;
}
.well .director-info span {
	display: inline-block;
	line-height: 1.0em;
	vertical-align: middle;
}
.well .director-info span.director-icon {
	margin-left: -45px;
}
.well .director-info.region {
	margin-top: none;
}
.well .director-info.region .region-label {
	font-size: .9em;
	font-family: 'montserrat_semibold';
}
.well .director-info.director {
	color: #063547;
	float: right;
}
.well .director-info.director .director-name {
	margin-top: -12px;
	font-size: .9em;
	font-family: 'montserrat_semibold';
}
.well .director-info.director .director-position {
	display: block;
	margin: -24px 0 10px 10px;
	font-family: 'montserrat_light';
	font-size: .8em;
}
.well .director-info.phone {
	float: right;
	font-size: .9em;
	font-family: 'montserrat_semibold';
}

body.adc-directors.latin-america-and-caribbean .well.director-info-container, body.adc-directors.emea .well.director-info-container {
	margin: 220px auto 0;
}

.well.regions {
	width: 100%;
}
.well.regions .well-header {
	
}
.well.regions .well-region-nav {
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 15px 5px 0;
	width: 86px;
	height: 86px;
	vertical-align: top;
	text-align: center;
	font-size: .70em;
	letter-spacing: -.1px;
	color: #f04d22;
	border: 1px solid #f04d22;
	cursor: pointer;
}
.well.regions .well-region-nav:hover {
	color: #272727;
	border: 1px solid #2cb9ed;
}
.well.regions .well-region-nav.na {
	padding-top: 24px;
	background: url('../images/adc-directors/region-nav-na.png') no-repeat;
	background-size: contain;
}
.well.regions .well-region-nav.na:hover {
	background: url('../images/adc-directors/region-nav-na-active.png');
	background-size: contain;
}
.well.regions .well-region-nav.emea {
	background: url('../images/adc-directors/region-nav-emea.png') no-repeat;
	background-size: contain;
}
.well.regions .well-region-nav.emea:hover {
	background: url('../images/adc-directors/region-nav-emea-active.png');
	background-size: contain;
}
.well.regions .well-region-nav.lac {
	background: url('../images/adc-directors/region-nav-lac.png') no-repeat;
	background-size: contain;
}
.well.regions .well-region-nav.lac:hover {
	background: url('../images/adc-directors/region-nav-lac-active.png');
	background-size: contain;
}

.well.print {
	margin: 10px auto 0px;
}
.well.print .well-header {
	
}


@media only screen and (min-width : 480px) {
		
	#maps-navigation .map-navigation .title {
		
	}
	
	.map-wrapper svg {
		min-height: 440px;
	}
	
	.well.director-info-container {
		height: 135px;
	}
	.well .director-info {
		width: 49%;
	}
	.well .director-info.region .region-label {
		width: 76%;
	}
	
}

@media only screen and (min-width : 768px) {
			
	#maps-navigation .map-navigation .title {
		font-size: 1.1em;
	}	
	
	.contacts .contact.main .contact-line {
		width: 100%;
	}
	.contacts #contacts-general .contact {
		font-size: 12px;
	}
	
	.contacts .contact .contacts-divider {
		display: initial;	
	}
	
	.contacts #contacts-general .contact.general  {
		display: inline-block;
		width: 22.5%;
		margin: 6px 2px;
		background: #ffffff;
	}	
	.contacts #contacts-general .contact.general .contact-line {
		display: block;
		width: 100%;
		line-height: 1.1em;
		margin: 5px 0;
	}
	.contacts #contacts-general .contact.general span.contacts-divider {
		display: initial;
	}
	
	.contacts #contacts-main .contact .contact-line, .contacts #contacts-additional .contact .contact-line {
		display: inline-block;
		width: auto;
	}

	body.latin-america-and-caribbean .contacts #contacts-general .contact .contact-line.region, body.emea .contacts #contacts-general .contact .contact-line.region {
		height: 26px;
	}
	
	.well.director-info-container {
		width: 100%;
	}
	
	.well.nav button {
		/*display: inline-block;*/
	}
	
	
}

@media only screen and (min-width : 992px) {
	
	body.adc-directors .main-content {
		float: left;
	}
	
	body.adc-directors .sidebar {
		min-height: 1100px;
	}
	
	#maps-navigation .map-navigation .title {
		font-size: 1.4em;
	}
	
	.map-wrapper svg {
		min-height: 530px;
	}	
	
	.well .btn {
		width: 256px;
	}
	
	.well.callout {
		display: block;
	}
	
	.well.director-info-container {
		max-width: 250px;
		height: 183px;
	}
	.well.director-info-container .director-info {
		width: 100%;
	}
	.well.director-info-container .director-info.region {
		margin-top: -9px;
	}
	
	.well.print {
		margin: 100px auto 30px;
	}
	
}

@media only screen and (min-width : 1200px) {
	
	
}



/**************************************************************
**	CALENDAR
**************************************************************/
body.calendar {
	padding: 0;
}

body.calendar .container {
	margin-bottom: 30px;
	overflow: hidden;
}
body.calendar .row {
	margin-right: 0;
	/*margin-left: 0;*/
}

body.calendar #create-event-modal .modal-header-col.col2 {
	padding: 5px;
}

body.calendar #create-event {
	text-align: right;
	padding: 12px 0;
}
body.calendar #create-event a:hover {
	text-decoration: none;
}
body.calendar #create-event-modal #event-all-day-container {
	margin-top: -16px;
}
body.calendar #create-event-modal #event-image-container {
	width: 100%;
	min-height: 380px;
	margin: 0 0 12px;
	border: 1px dotted #063547;
}
body.calendar #create-event-modal #event-image-container img {
	width: 100%;
}

.bootstrap-datetimepicker-widget {
	color: #333333;
}
.bootstrap-datetimepicker-widget .btn {
	width: initial;
	height: initial;
	padding: initial;
	margin: initial;
	background: transparent;
	border: none;
}


@media only screen and (min-width : 480px) {
	
	
}

@media only screen and (min-width : 768px) {
	
	
}

@media only screen and (min-width : 992px) {
	
	
}

@media only screen and (min-width : 1200px) {
	
	
}


/**************************************************************
**	SUPPORT CENTER
**************************************************************/

body.support-center {
	background: url('../images/support-center/bg-image.jpg') no-repeat center top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

.support-center-info {
	margin: 20px auto 10px;
	padding: 20px;
	color: #ffffff;
	font-family: 'montserrat_ultralight';
	font-size: 1.0em;
}
.support-center-info a {
	color: #ffffff;
}
.support-center-info .title {
	width: 100%;
}
.support-center-info h3 {
	display: inline-block;
	vertical-align: middle;
	margin:  0px 0 0 20px;
}

.support-center-info.about {
	background: #f25a27;
}
.support-center-info.about .title {
	margin-bottom: 38px;
}
.support-center-info.about h3 {
	color: #671b05;
}

.support-center-info.contact {
	font-size: .9em;
	font-family: 'montserrat_light';
	background: #f0ae22;
}
.support-center-info.contact .note {
	float: none;
	display: inline-block;
	margin: 10px 0 0 0;
	vertical-align: middle;
}
.support-center-info.contact .title {
	margin-bottom: 15px;
}
.support-center-info.contact h3 {
	color: #7b5421;
}
.support-center-info.contact .headline {
	color: #7b5421;
}

/* Masonry Grid */
body.support-center .hero-grid {
  padding: 10px 1%;
  margin: 20px 0;
  font-family: 'montserrat_light';
  background: #ffffff;
}
body.support-center .hero-grid__grid-sizer {
  position: absolute;
  top: 0 !important;
}
body.support-center .hero-grid__item,
body.support-center .hero-grid__grid-sizer {
  width: 98%;
  margin: 0 1% 20px 1%;
}
body.support-center .hero-grid__gutter-sizer {
  width: 2%;
}
body.support-center .hero-grid__item {
  float: left;
  background: #f2f3f3;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 1.0em;
  color: #063547;
}
body.support-center .hero-grid__item a {
	color: #29b3e6;
}
body.support-center .hero-grid__item .hero__title {
  margin: 0;
  line-height: 1.2;
  font-size: 1.3em;
  color: #063547;
  font-family: 'montserrat_semibold';
}
body.support-center .hero-grid__item.light-orange .hero__title {
	color: #efa61f;
}
body.support-center .hero-grid__item.light-blue .hero__title {
	color: #29b3e6;
}
body.support-center .hero-grid__item.dark-orange .hero__title {
	color: #f04d22;
}
body.support-center .hero-grid__item ul {
	margin-left: -10px;
}
body.support-center .hero__img {
  display: block;
  width: 100%;
  margin: 0;
}

body.support-center .navbar-form.navbar-search .input-group {
	max-width: 500px;
}


@media only screen and (min-width : 480px) {
	
	/* Masonry Grid */
	body.support-center .hero-grid__grid-sizer,
	body.support-center .hero-grid__item {
		width: 46.5%;
	}
	
	.support-center-info.contact .note {
		margin: 0 0 0 40px;
	}
	
}

@media only screen and (min-width : 768px) {

	/* Masonry Grid */
	body.support-center .hero-grid__grid-sizer,
	body.support-center .hero-grid__item {
		width: 30.5%;
	}
	
	body.support-center .hero__title {
		font-size: 1.3em;
	}
	
	.support-center-info.contact .note {
		margin: 0 0 0 92px;
	}
	
}

@media only screen and (min-width : 992px) {
	
	/* Masonry Grid */
	body.support-center .hero-grid__grid-sizer,
	body.support-center .hero-grid__item {
		width: 22.5%;
	}
	
	.support-center-info {
		margin: 20px auto 40px;
	}
	
	.support-center-info.contact .row div:nth-child(2) {
		border-left: 1px solid #ffffff;
	}
	
	.support-center-info.contact .note {
		margin: 0 0 0 92px;
	}
	
}

@media only screen and (min-width : 1200px) {
	
	.support-center-info.contact .note {
		margin: 0 0 0 142px;
	}
	
}


/**************************************************************
**	DESIGN INFORMATION
**************************************************************/

body.design-information {
	background-image: url('../images/design-information/bg-image.jpg');
    background-position: center 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* modals */
body.design-information .modal {
	font-family: 'montserrat_ultralight';
}

body.design-information .modal .modal-content button.close {
	margin: -47px -47px 0 0;
	width: 34px;
	height: 34px;
	font-size: 28px;
	color: #2ab3e6;
	border-radius: 18px;
	opacity: 1;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	background: #ffffff;
}
body.design-information .modal .modal-content .modal-header {
	text-align: left;
	padding: 20px 20px 0;
}
body.design-information .modal .modal-content .modal-header button {
	margin: -70px -70px 0 0px;
}
body.design-information .modal .modal-content .modal-header button:hover {
	opacity: 1;
}
body.design-information .modal .modal-content .modal-header .modal-brand-logo img {
	margin: 0px auto 12px;
	display: block;
}

body.design-information .modal .modal-content #carousel-brands .carousel-control {
	top: 45%;
	width: 34px;
	height: 34px;
	font-size: 28px;
	color: #2ab3e6;
	border-radius: 18px;
	opacity: 1;
	text-shadow: none;
	background: #ffffff;
	filter: inherit;
}
body.design-information .modal .modal-content #carousel-brands .left.carousel-control {
	left: -50px;
}
body.design-information .modal .modal-content #carousel-brands .right.carousel-control {
	right: -50px;
}
body.design-information .modal .modal-content #carousel-brands .carousel-control .icon-prev:before {
	display: none;
}
body.design-information .modal .modal-content #carousel-brands .carousel-control .icon-prev, body.design-information .modal .modal-content #carousel-brands .carousel-control .icon-next {
	margin-top: auto;
	top: -4px;
}
body.design-information .modal .modal-content #carousel-brands .carousel-control .icon-prev {
	left: 15px;
}
body.design-information .modal .modal-content #carousel-brands .carousel-control .icon-next {
	right: 15px;
}

body.design-information .modal .modal-content .modal-body .modal-row {
	text-align: center;
	margin-top: 20px;
}
body.design-information .modal .modal-content .modal-body .modal-row .row-header {
	font-size: 1.1em;
	margin: 7px auto;
	width: 80%;
	color: #ffffff;
}
/*body.design-information .modal .modal-content .modal-body .modal-row .btn {
	width: 100%;
	max-width: 320px;
	margin: 8px auto;
	background: none;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}*/

body.design-information .modal .modal-content .modal-body .modal-row.orange .btn {
	border: 1px solid #efa61f;
	background: #efa61f;
}
body.design-information .modal .modal-content .modal-body .modal-row.orange .btn:hover {
	color: #efa61f;
	background: #ffffff;
}
/*body.design-information .modal .modal-content .modal-body .modal-row.blue .btn {
	border: 1px solid #29b3e6;
}
body.design-information .modal .modal-content .modal-body .modal-row.blue .btn:hover {
	color: #29b3e6;
}*/

#brands-container {
	
}
#brands-container div {
	padding: 0;
}
#brands-container .logo-container {
	margin: 0px auto 0px auto;
	text-align: center;
	width: 99%;
	cursor: pointer;
}
#brands-container .logo-container img {
	margin: 0 auto -1px;
	border: 1px solid rgba(255, 255, 255, 0);
}
#brands-container .logo-container img:hover, #brands-container .logo-container img.active {
	border: 1px solid #eb623e;
}


@media only screen and (min-width : 480px) {
	
	
}

@media only screen and (min-width : 768px) {
	
	
}

@media only screen and (min-width : 992px) {
	
}

@media only screen and (min-width : 1200px) {
	
	
}


/**************************************************************
**	GALLERY
**************************************************************/

/* ---- grid ---- */

body.gallery .grid {
	margin: 0;
}
body.gallery .grid:after {
	content: '';
	display: block;
	clear: both;
}
body.gallery .grid-sizer,
body.gallery .grid-item {
	width: 33.333%;
}
body.gallery .grid-item {
	float: left;
}
body.gallery .grid-item img {
	display: block;
	width: 100%;
	padding: 6px;
}
#gallery-filters {
	margin: 0;
}
#gallery-filters .navbar-form.navbar-search {
	margin: 0 auto 40px;
}
#gallery-filters .input-group.inner-addon {
	margin: 16px auto;
}
#gallery-filters .navbar-form fieldset {
	display: block;
	width: 100%;
}
#gallery-filters .checkbox {
	margin: 0 10px;
}

@media only screen and (min-width : 480px) {
	
	body.gallery .grid {
		margin: 10px 0;
	}
	#gallery-filters {
		margin: 4px 0 0;
	}
	#gallery-filters .navbar-form.navbar-search {
		margin: 0 auto 20px;
	}
	
}

@media only screen and (min-width : 768px) {
	
	#gallery-filters {
		margin: 34px 0 0;
	}
}

@media only screen and (min-width : 992px) {
	
}

@media only screen and (min-width : 1200px) {
	
	
}


/**************************************************************
**	CEU
**************************************************************/

body.ceu #ceu-request {
	text-align: center;
	width: 100%;
	max-width: 700px;
	margin: 0 auto 40px;
	padding: 14px;
	border: 1px solid #27ade4;
}

body.ceu .navbar-form.navbar-search {
	margin: 0 auto 48px;
}

body.ceu .navbar-form.navbar-search .input-group button {
	margin: 0 auto;
}

/* modals */
#request-modal {
	
}
#request-modal .modal-dialog {
	max-width: 655px;
}
#request-modal .modal-body {
	padding: 20px;
}

#request-modal .modal-body .ceu-icon-share {
	display: none;
	position: absolute;
	top: -91px;
	left: -106px;
	padding: 0 10px 10px;
	width: 26%;
	vertical-align: top;
	text-align: right;
}
#request-modal .modal-body .ceu-intro {
	display: block;
	margin: auto;
	padding: 0 24px 20px;
	text-align: center;
	width: 90%;
	text-align:left;
}

/* ---- grid ---- */

body.ceu .grid {
	margin: 0;
}
body.ceu .grid:after {
	content: '';
	display: block;
	clear: both;
}
body.ceu .grid-sizer,
body.ceu .grid-item {
	width: 100%;
}
body.ceu .grid-item {
	float: left;
	text-transform: uppercase;
	margin-bottom: 10px;
	border-radius: 7px;
}
body.ceu .grid-item img.main {
	display: block;
	width: 100%;
	padding: 0px;
}
body.ceu .grid-item.aia {
	color: #063547;
	background: url('../images/ceu/course-bg-blue.gif');
}
body.ceu .grid-item.leed {
	color: #671b05;
	background: url('../images/ceu/course-bg-orange.gif');
}
body.ceu .grid-item.aia-leed {
	color: #7b5421;
	background: url('../images/ceu/course-bg-yellow.gif');
}

body.ceu .grid-item .ceu-course-detail {
	Padding: 20px 30px;
    cursor:pointer;
}
body.ceu .grid-item .ceu-course-detail .course-title {
	font-family: 'montserrat_semibold';
}
body.ceu .grid-item .ceu-course-detail .course-divider {
	margin: 10px 0;
}
body.ceu .grid-item .course-footer {
	padding: 6px 0;
	color: #ffffff;
	text-align: center;
}
body.ceu .grid-item.aia .course-footer {
	background: url('../images/ceu/course-bg-dark-blue.gif');
}
body.ceu .grid-item.leed .course-footer {
	background: url('../images/ceu/course-bg-dark-orange.gif');
}
body.ceu .grid-item.aia-leed .course-footer {
	background: url('../images/ceu/course-bg-dark-yellow.gif');
}

@media only screen and (min-width : 480px) {
	
	body.ceu .navbar-form.navbar-search {
		margin: 0 auto 20px;
	}
		

	/* grid */
	body.ceu .grid-sizer,
	body.ceu .grid-item {
		width: 48%;
	}
	
}

@media only screen and (min-width : 768px) {
	
	#request-modal .modal-body {
		padding: 20px 0;
	}

	/* modals */
	#request-modal .modal-body .ceu-icon-share {
		display: inline-block;
	}
	
	/* grid */
	body.ceu .grid-sizer,
	body.ceu .grid-item {
		width: 32.333%;
	}
	
}

@media only screen and (min-width : 992px) {
	
}

@media only screen and (min-width : 1200px) {
	
	
}



/* Footer */
#footer {
	margin: 0;
	border-top: 1px solid #d0cfcd;
	background: #f2eeed;
}
#footer img {
	width: 100%;	
}

body.ceu .ceuDetailImage {
	/*float:left;*/
}

body.ceu .ceuDetailInfo {
	/*float:left;
    margin-left:50px;*/
    font-family: 'montserrat_regular';
    width:600px;
}

body.ceu .ceuTitle {
	font-size:22px;
}

body.ceu .back-ceu-list {
	font-size: 15px;
	cursor: pointer;
	text-transform: uppercase;
    font-family: 'montserrat_regular';
    font-weight:bold;
}

/**************************************************************
**	AD&C Contacts Admin
**************************************************************/
.adc-admin-title {
    font-family: 'montserrat_bold';
    font-size: 30px;
    text-align: center;
}

.mapAdminTable {
    font-family: 'montserrat_regular';
    font-size: 10pt;
}

.mapAdminSelect {
    font-family: 'montserrat_regular';
    font-size: 11pt;
    margin-top:25px;
}


/**************************************************************
**	FONTS
**************************************************************/

@font-face {
    font-family: 'montserrat_ultralight';
    src: url('../fonts/montserrat/montserrat-ultralight.eot');
    src: url('../fonts/montserrat/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-ultralight.woff') format('woff'),
         url('../fonts/montserrat/montserrat-ultralight.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-ultralight.svg#montserrat_ultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_light';
    src: url('../fonts/montserrat/montserrat-light.eot');
    src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-light.svg#montserrat_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_regular';
    src: url('../fonts/montserrat/montserrat-regular.eot');
    src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-regular.svg#montserrat_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_semibold';
    src: url('../fonts/montserrat/montserrat-semibold.eot');
    src: url('../fonts/montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-semibold.woff') format('woff'),
         url('../fonts/montserrat/montserrat-semibold.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-semibold.svg#montserrat_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_bold';
    src: url('../fonts/montserrat/montserrat-bold.eot');
    src: url('../fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-bold.svg#montserrat_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mainHeader 
{
    width:980px;
    margin:0 auto;
    padding:0 10px;
    /*background:url(../Images/header-bg.gif) repeat-x 0 0;*/
    height:136px;
}

.mainHeader h1{float:left;margin-left:-20px; margin-top:2px;}
.mainHeader h1 a{background:url(../../Images/hilton_logo2.png) no-repeat 0 0;width:303px;height:102px;float:left;text-indent:-1000em}

.mainHeader .welcome{float:left;color:#767674;padding:25px 0 0 200px}
.mainHeader .welcome h2{font-size:16px;font-weight:700}
.mainHeader .welcome a{color:#767674;text-decoration:underline;font-weight:700}
.mainHeader .h-right{float:right;padding:30px 10px 0 0}
.mainHeader .h-right a{color:#886200;text-decoration:none;background:url(../../Images/arrow-1.gif) no-repeat 100% 4px;margin:0 0 0 6px;padding:0 15px 0 0}
.mainHeader img{margin-bottom:2px;vertical-align:middle}	

.templateText { font-family: montserrat_light; }