/* Events Calendar contain */
.tiva-events-calendar.full .tiva-events-calendar-wrap {
	margin: 25px 0 40px 15px;
	/*
	border: 1px solid #dedade;
    box-shadow: 0 0 5px 2px rgba(145,145,145,.35);
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    */
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'montserrat_light';
}

/* Calendar */
.tiva-calendar-full .calendar-table {
	margin-bottom: 0 !important;
	border: none;
}

.tiva-calendar-full .calendar-title, .tiva-calendar-full .calendar-btn {
	text-align: center !important;
	background: #5AA4A3;
	color: #ffffff;
	height: 30px;
	vertical-align: middle !important;
}

.tiva-calendar-full .calendar-day-divider {
	text-align: center;
	height: 10px;
	margin: 0 auto;
}
.tiva-calendar-full .calendar-day-divider img {
	vertical-align: top;
	width: 99%;
}

.calendar-btn.month {
	display: inline-block;
	background: #ffffff;
}
.calendar-btn.month span {
	color: #f05329;
}
.calendar-btn.month span:hover {
	text-decoration: underline;
}
.calendar-btn.month.prev {
	float: left;
}
.calendar-btn.month.prev i {
	margin-right: 6px;
}
.calendar-btn.month.next {
	float: right;
}
.calendar-btn.month.next i {
	margin-left: 6px;
}

.tiva-calendar-full .calendar-btn {
	padding: 0 !important;
}
.tiva-calendar-full .calendar-btn span {
	cursor: pointer;
	font-size: 17px !important;
}
.tiva-calendar-full .calendar-title  {
	font-size: 28px;
	font-family: 'montserrat_ultralight';
	color: #2ab4eb;
	text-transform: uppercase;
	padding-top: 12px !important;
	padding-left: 30px !important;
	background: transparent;
}
.tiva-calendar-full .calendar-title span {
	position: relative;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}
.tiva-calendar-full .calendar-title i {
	position: absolute;
	left: -22px;
	top: -1px;
}
.tiva-calendar-full .calendar-table tr th {
	text-align: center;
	color: #717171;
	font-size: 15px;
	text-transform: uppercase;
}
.tiva-calendar-full .calendar-table tr th, .tiva-calendar-full .calendar-table tr td {
	width: 14.285714285714285%;
	border: none;
	background-color: #ffffff !important;
}
.tiva-calendar-full .calendar-day-blank {
	/*background: #f6f6f6;*/
	border: none;
}
.tiva-calendar-full .calendar-day-normal {
	height: 120px;
	font-size: 16px;
	text-align: right !important;
	padding: 6px 10px !important;
	color: #666;
	border: none;
}
.tiva-calendar-full .calendar-day-today {
	background: #d5e9e9;
}
.tiva-calendar-full .calendar-day-weekend {
	color: #f04d22;
	line-height: 20px;
	font-size: 16px;
}
.tiva-calendar-full .calendar-event-name {
	color: #ffffff;
	background: #567BD2;
	font-size: 11px;
	margin-top: 5px;
	text-align: center;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	line-height: 20px;
	padding: 0 3px;
	cursor: pointer;
}
.tiva-calendar-full .calendar-event-name span {
	color: #ffffff;
	font-size: 11px;
	line-height: 20px;
}
.tiva-calendar-full .calendar-event-name.no-name {
	opacity: 0;
	visibility: hidden;
}

.tiva-calendar-full .calendar-event-name.first-day {
	margin-right: -11px;
	-moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tiva-calendar-full .calendar-event-name.middle-day {
	margin-left: -11px;
	margin-right: -11px;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.tiva-calendar-full .calendar-event-name.middle-day span {
	opacity: 0;	
}
.tiva-calendar-full .calendar-event-name.last-day {
	margin-left: -11px;
	-moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tiva-calendar-full .calendar-event-name.last-day span {
	opacity: 0;	
}

/* Event list */
body.calendar #calendar-filters {
	margin: 20px auto;
	max-width: 1000px;
	padding-left: 20px;
	color: #063547;
	text-transform: uppercase;
}
body.calendar #calendar-filters fieldset .checkbox label {
	padding: 0;
	font-size: .9em;
}
body.calendar .hero-grid {
	padding: 10px 1%;
	margin: 20px 0;
	font-family: 'montserrat_light';
	background: #ffffff;
}
body.calendar .hero-grid__grid-sizer {
  position: absolute;
  top: 0 !important;
}
body.calendar .hero-grid__item,
body.calendar .hero-grid__grid-sizer {
  width: 99%;
  margin: 0 1% 20px 1%;
}
body.calendar .hero-grid__gutter-sizer {
  width: 2%;
}
body.calendar .hero-grid__item {
  float: left;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 1.0em;
  color: #063547;
  /*background-color: #f0ab21;*/
}
body.calendar .hero-grid .hero-grid__item:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
/*body.calendar .hero-grid .hero-grid__item:nth-child(2n+2) {
	background-color: #2bb7e7;
}
body.calendar .hero-grid .hero-grid__item:nth-child(3n+3) {
	background-color: #f15124;
}*/
/*body.calendar .hero-grid .category3 {
	background-color: #669933;
}
body.calendar .hero-grid .category4 {
	background-color: #ff8a23;
}
body.calendar .hero-grid .category5 {
	background-color: #F0E881;
}
body.calendar .hero-grid .category6 {
	background-color: #2bb7e7;
}
body.calendar .hero-grid .category7 {
	background-color: #567BD2;
}*/
body.calendar .hero-grid .event-item-left {
	/*width: 100%;*/
}
body.calendar .hero-grid .event-item-right {
	/*width: 82%;
	margin: 0 auto;*/
}
body.calendar .hero-grid .hero-grid__item .hero__description {
	padding: 2px 12px 12px;
}
body.calendar .hero-grid .hero-grid__item .event-image img {
	width: 100%;
}
body.calendar .hero-grid .hero-grid__item .event-name {
	font-size: 17px;
	/*color: #7b5421;*/
	margin-bottom: 4px;
	font-family: 'montserrat_regular';
	text-transform: uppercase;
}
/*body.calendar .hero-grid .hero-grid__item:nth-child(2n+2) .event-name, body.calendar .hero-grid .hero-grid__item:nth-child(2n+2) .event-date, body.calendar .hero-grid .hero-grid__item:nth-child(2n+2) .event-time {
	color: #063547;
}
body.calendar .hero-grid .hero-grid__item:nth-child(3n+3) .event-name, body.calendar .hero-grid .hero-grid__item:nth-child(3n+3) .event-date, body.calendar .hero-grid .hero-grid__item:nth-child(3n+3) .event-time {
	color: #671b05;
}*/
body.calendar .hero-grid .hero-grid__item .event-time, body.calendar .hero-grid .hero-grid__item .event-day {
	margin: 0 0 3px 0;
	color: #ffffff;
	font-size: 15px;
	font-family: 'montserrat_ultralight';
}
body.calendar .hero-grid .hero-grid__item .event-day {
	margin: 8px 0 3px 0;
}
body.calendar .hero-grid .hero-grid__item .event-time {
	margin-bottom: 3px;
	/*color: #7b5421;*/
	font-size: 15px;
}
body.calendar .hero-grid .hero-grid__item .event-category {
	text-align:center;
	color: #fff;
    margin-bottom:-4px;
}
body.calendar .hero-grid .hero-grid__item .event-cat-sep {
	width:100%;
}
body.calendar .hero-grid .hero-grid__item .event-time, body.calendar .hero-grid .hero-grid__item .event-date {
	margin-bottom: 3px;
	/*color: #7b5421;*/
	font-size: 13px;
	font-family: 'montserrat_regular';
}
body.calendar .hero-grid .hero-grid__item .event-date {
	margin-bottom: 0px;
}
body.calendar .hero-grid .hero-grid__item .event-time i, body.calendar .hero-grid .hero-grid__item .event-date i {
	margin-right: 5px;
	display: none;
}
body.calendar .hero-grid .hero-grid__item .event-intro {
	color: #ffffff;
	font-size: 14px;
	font-family: 'montserrat_ultralight';
}
body.calendar .hero-grid .hero-grid__item .link {
	cursor: pointer;
}

body.calendar .tiva-events-calendar #load-more-events-wrapper .btn.btn-primary {
	border-color: #063547;
	color: #063547;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	background: #ffffff;
}
body.calendar #load-more-events-wrapper .btn.btn-primary:hover, body.calendar #load-more-events-wrapper .btn.btn-primary.active {
	color: #ffffff;
	background: #063547;
}



body.calendar .hero-grid__item a {
	color: #29b3e6;
}
body.calendar .hero-grid__item .hero__title {
  margin: 0;
  line-height: 1.2;
  font-size: 1.3em;
  color: #063547;
  font-family: 'montserrat_semibold';
}
body.calendar .hero-grid__item.light-orange .hero__title {
	color: #efa61f;
}
body.calendar .hero-grid__item.light-blue .hero__title {
	color: #29b3e6;
}
body.calendar .hero-grid__item.dark-orange .hero__title {
	color: #f04d22;
}
body.calendar .hero-grid__item ul {
	margin-left: -10px;
}
body.calendar .hero__img {
  display: block;
  width: 100%;
  margin: 0;
}
body.calendar .hero__img img {
  width: 100%;
}

@media only screen and (min-width : 480px) {
	
	/* Masonry Grid */
	body.calendar .hero-grid__grid-sizer,
	body.calendar .hero-grid__item {
		width: 46.5%;
	}
	
	body.calendar #calendar-filters fieldset .checkbox label {
		font-size: 1.1em;
	}
	
}

@media only screen and (min-width : 768px) {

	/* Masonry Grid */
	body.calendar .hero-grid__grid-sizer,
	body.calendar .hero-grid__item {
		width: 30.5%;
	}
	
	body.calendar .hero__title {
		font-size: 1.3em;
	}
	
	.calendar-info.contact .note {
		margin: 0 0 0 92px;
	}
	
}

@media only screen and (min-width : 992px) {
	
	/* Masonry Grid */
	body.calendar .hero-grid__grid-sizer,
	body.calendar .hero-grid__item {
		width: 22.5%;
	}
	
}

@media only screen and (min-width : 1200px) {
	
	
}


/* Event detail */
.tiva-event-detail-full {
	padding: 15px;
	display: none;
	color: #063547;
}
.tiva-event-detail-full .event-image {
	display: inline-block;
	width: 40%;
	text-align: left;
	margin-bottom: 20px;
	padding-right: 12px;
	vertical-align: top;
}
.tiva-event-detail-full .event-image img {
	max-width: 100%;
	border: 1px solid #eee;
}
.tiva-event-detail-full .event-category {
	font-family: 'montserrat_regular';
}
.tiva-event-detail-full .event-copy {
	display: inline-block;
	width: 58%;
}
.tiva-event-detail-full .event-name {
	font-size: 22px;
	font-family: 'montserrat_regular';
    margin: 12px 0 0;
}
.tiva-event-detail-full .event-time, .tiva-event-detail-full .event-date, .tiva-event-detail-full .event-location {
	margin-bottom: 5px;
	font-size: 14px;
}
.tiva-event-detail-full .event-time i, .tiva-event-detail-full .event-date i, .tiva-event-detail-full .event-location i {
	margin-right: 5px;
	width: 14px;
}
.tiva-event-detail-full .event-location i {
	font-size: 18px;
}
.tiva-event-detail-full .event-desc {
	margin-bottom: 22px;
	line-height: 22px;
	font-size: 14px;
}

.tiva-event-detail-full .event-date {
	font-size: 1.4em;
	font-family: 'montserrat_regular';
	margin-bottom: 8px;
}
.tiva-event-detail-full .event-divider {
	height: 10px;
}
.tiva-event-detail-full .event-divider img {
	vertical-align: top;
}
.tiva-event-detail-full .event-link {
	margin-bottom: 30px;
}
.tiva-event-detail-full .event-link a {
	color: #063547;
    background: #5AA4A3;
    padding: 8px 10px 8px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
	cursor: pointer;
	position: relative;
}
.tiva-event-detail-full .event-link a:hover {
	text-decoration: none;
}
.tiva-event-detail-full .event-link a i {
	margin-right: 5px;
}

.tiva-event-detail-full .back-calendar {
	font-size: 15px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight:bold;
}
.tiva-event-detail-full .back-calendar i {
	margin-right: 6px;
}

/* event details admin management */
.tiva-event-detail-full #manage-event {
	padding:  0 10px 10px;
	font-size: 16px;
	text-align: center;
}
.tiva-event-detail-full .admin-header {
	padding: 10px 0;
}
.tiva-event-detail-full #manage-event .btn {
	display: inline-block;
	width: 130px;
	height: 30px;
	color: #333333;
	border: none;
	background: #dddddd;
}
.tiva-event-detail-full #manage-event .btn:hover {
	color: #ffffff;
	background: #2ab4eb;
}
.tiva-event-detail-full #manage-event .btn.confirmation {
	background: red;
}

/* Responsive */
@media (min-width: 480px) {
	
	.tiva-event-list-full .event-item {
		width: 48%;
	}
	
}
@media (min-width: 768px) {
	
	
	.tiva-event-list-full .event-item {
		width: 24%;
	}
	
	.tiva-event-list-full .event-item-left {
		margin-right: 2% !important;
	}
	.tiva-event-list-full .event-item-left.pull-left, .tiva-event-list-full .event-item-right.pull-left {
		float: left !important;
	}
	
}
@media (max-width: 768px) {
	
	.tiva-calendar-full .btn-change-date {
		/*display: none;*/
	}
	.tiva-calendar-full .calendar-day-normal, .tiva-calendar-full .calendar-day-blank {
		padding: 2px !important;
	}
	.tiva-calendar-full .calendar-table tr th {
		padding: 5px 3px !important;
	}
	.tiva-event-list-full .event-item-left {
		margin-bottom: 10px !important;
	}
	.tiva-event-list-full .event-item-left, .tiva-event-list-full .event-item-right {
		/*width: 100%;*/
	}
	
}
