/* Common */
.hidden-fields {
	display: none;
}
.cleardiv {
	clear: both;
}
.loading {
	text-align: center;
}
.tiva-events-calendar {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Bar */
.events-calendar-bar {
	text-align: center;
	margin-top: 20px;
}

.events-calendar-bar .bar-btn {
	display: inline-block;
	margin: 10px 5px 10px 0;
	padding: 11px 12px;
	width: 230px;
	height: 43px;
	border: 1px solid #f04d22;
	color: #f04d22;
	background: #ffffff;
	text-transform: uppercase;
	font-family: 'montserrat_light';
	margin-bottom: 17px;
	border-radius: 0;
	cursor: pointer;
}
.events-calendar-bar .bar-btn:hover, .events-calendar-bar .bar-btn:focus, .events-calendar-bar .bar-btn.active {
	color: #ffffff;
	background-color: #f04d22;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}
.events-calendar-bar .back-calendar {
	padding: 3px 10px 3px 22px;
	margin-right: 0;
	float: right !important;
	font-weight:bold;
}
.events-calendar-bar .bar-btn i {
	display: none;
	position: absolute;
	left: 10px;
}
.events-calendar-bar .calendar-view i {
	top: 7px;
}
.events-calendar-bar .list-view i {
	top: 9px;
}
.events-calendar-bar .back-calendar i {
	top: 9px;
}

/* Search */
.tiva-events-calendar .navbar-search {
	margin: 8px auto;
}
.tiva-events-calendar .navbar-search .input-group {
	max-width: 265px;
	margin: 0 auto;
}
.tiva-events-calendar .navbar-search .input-group input[type='text'] {
	background-color: #f2f2f2;
	border: none;
	border-radius: 6px;
	padding-left: 40px;
}
.tiva-events-calendar .inner-addon { 
    position: relative; 
}

/* style icon */
.tiva-events-calendar .inner-addon .glyphicon {
  position: absolute;
  padding: 12px;
  font-size: 18px;
  pointer-events: none;
  z-index: 20;
}

/* align icon */
.tiva-events-calendar .left-addon .glyphicon  { left:  0px;}
.tiva-events-calendar .right-addon .glyphicon { right: 0px;}

/* add padding  */
.tiva-events-calendar .left-addon input  { padding-left:  30px; }
.tiva-events-calendar .right-addon input { padding-right: 30px; }

/* Calendar */
.tiva-calendar .calendar-table {
	table-layout: auto;
	box-sizing: content-box;
}
.tiva-calendar .calendar-table th, .tiva-calendar .calendar-table td {
	border-bottom: none;
	border-right: none;
	padding: 8px;
}
.tiva-calendar .calendar-btn span {
	font-size: 14px;
	color: #fff;
}

/* Tooltip */
.calendar-day-event {
	position: relative;
}
.calendar-day-event .tiva-event-tooltip {
	position: absolute;
    z-index: 9999;
    width: 180px;
    left: 50%;
	margin: 0 0 0 -75px;
    bottom: 35px;
    background: #f5f5f5;
    opacity: 0;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px 2px rgba(145,145,145,.35);
    border-radius: 6px;
	pointer-events: none;
	padding: 10px;
	text-align: left;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.calendar-day-event .tiva-event-tooltip::before, .calendar-day-event .tiva-event-tooltip::after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.calendar-day-event .tiva-event-tooltip::after {
	border-color: rgba(245, 245, 245, 0);
	border-top-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}
.calendar-day-event .tiva-event-tooltip::before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #cccccc;
	border-width: 9px;
	margin-left: -9px;
}
.calendar-day-event .tiva-event-tooltip .event-tooltip-item {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.calendar-day-event .tiva-event-tooltip .event-tooltip-item:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.calendar-day-event .tiva-event-tooltip .event-time {
	display: inline-block;
	font-size: 12px;
	color: #fff;
    background: #f04d22;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    margin-bottom: 5px;
	line-height: 22px;
}
.calendar-day-event .tiva-event-tooltip .event-time i {
	margin-right: 5px;
}
.calendar-day-event .tiva-event-tooltip .event-name {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 6px;
	color: #063547;
	line-height: 18px;
}
.calendar-day-event .tiva-event-tooltip .event-image  img {
	width: 100%;
	margin-bottom: 6px;
	border: 1px solid #EEE;
}
.calendar-day-event .tiva-event-tooltip .event-intro {
	font-size: 14px;
	color: #063547;
}
.eventCategoryFilterCheckbox {
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    padding: 3px;
    text-align:center;
}