.toggle-light {
	
	.toggle-slide {
		border-radius: 9999px;
		box-shadow: 0 0 0 1px #c0c0c0;
	}
	
	.toggle-on, .toggle-off {
		font-size: 11px;
		font-weight: 500;
	}
	
	.toggle-on, .toggle-off, .toggle-select .toggle-inner .active {
		background: rgb(255, 255, 255);
		box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
		color: rgba(255 , 255, 255, 0.8);
	}
	
/*
	.toggle-off, .toggle-select .toggle-on {
		color: rgba(0,0,0,0.6);
		text-shadow: 0 1px rgba(255,255,255,0.2);
		background: linear-gradient(#cfcfcf ,#f5f5f5);
	}
*/
	.toggle-blob {
		
		border-radius: 50px;
		background-color: #bd2c1e;
		background-image: linear-gradient(#bd2c1e, #cf4235);
		box-shadow: 1px 1px 2px #888;
		border: thin solid #ffffff;
		
		&:hover {
			background-color: #cf4235;
			background-image: linear-gradient(#bd2c1e, #d95042);
		}
		
	}
	  
}
