﻿.btn-style{padding:0 8px 4px 0!important}
.btn-style{padding:2px 7px 4px 0}
.btn-stylemargin{padding-right:0;margin:0!important}
.btn-style1 a{ display:block; line-height:15px;}
#specifications .col-1{width:35%}