@charset utf-8;body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,embed,object{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;border:0}
address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,strong,th,var{font-style:normal}
ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em}
q:before,q:after{content:''}
a,ins{text-decoration:none}
.clear{clear:both;height:1px;line-height:1px}
.h-right{float:right;padding-top:5px}
.h-right a{color:#fff;font-weight:700;line-height:30px;padding:5px 10px}
.h-right .logout{color:#EBDFB4;background-color:#2a1b1d}
body{font-size:11px;font-family:Arial;background:#f2f2f2}
.wrapper{width:965px;margin:0 auto}
.header{background:#462F30;height:54px}
.header h1{float:left;padding:8px 0 0 10px}
.header h1 a{background:url(../Images/admin-logo.gif) no-repeat 0 0;width:109px;height:37px;text-indent:-1000em;float:left}
.header .welcome{float:left;border-left:solid 1px #231718;margin:16px 0 0 15px;padding:3px 0 3px 15px}
.header .welcome h3{color:#ebdfb5;font-family:Georgia;font-style:italic}
.menu{clear:both;padding-top:14px;border-top:1px #fff solid;background:#E95E3F}
.menu .wrapper{position:relative}
a.static.selected{background:#f2f2f2;color:#462f30!important}
.menu li{float:left;margin-right:4px}
.menu li a{float:left;background:#ed7e65;color:#fff;font-weight:700;height:40px;line-height:40px;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;padding:0 10px}
.menu li:hover a,.menu li.active a{background:#f2f2f2;color:#462f30}
.dropDown .wrapper{background:url(../Images/lft-dropdown.png) no-repeat 0 0;height:47px}
.dropDown .rgt-bg{background:url(../Images/rgt-dropdown.png) no-repeat 100% -2px;height:47px}
.menu li:hover .dropDown{display:block}
.dropDown ul li{float:left;padding:15px}
.dropDown ul li a{color:#676767!important;background:0;font-weight:400;float:left}
.dropDown ul li a.active{font-weight:700;color:#462f30!important}
.dropDown ul li .active{font-weight:700;color:#462f30!important}
.dropDown ul li a:hover{color:#462f30!important}
.content .wrapper{background:#fff;margin:10px auto}
.content .inner-content{border-right:#e6e6e6 solid 1px;border-left:#e6e6e6 solid 1px;border-bottom:#e6e6e6 solid 1px;padding:25px 30px}
.dashboard .lft{width:438px;float:left}
.dashboard .rgt{width:438px;float:right}
.box{background-color:#f2f2f2;margin-bottom:15px;clear:both}
.box .box-content{border-right:solid 1px #e8e8e8;border-left:solid 1px #e8e8e8;border-bottom:solid 1px #e8e8e8;padding:15px}
.box h3,.rgt-col .box h3{background:#e78060 url(../Images/icons.gif) no-repeat scroll 10px -217px;color:#fff;font-size:16px;font-weight:700;width:auto;float:none;position:relative;padding:5px 10px 5px 30px}
.rgt-col .box h3 span,.lft-col .box h3 span{background:url(../Images/icons.gif) no-repeat 100% -420px;padding-right:40px}
.rgt-col .box h3 img{vertical-align:middle;margin:0 0 0 5px}
.content h2{background:#462f30;color:#ebdfb4;font-size:18px;padding:10px 15px}
.dashboard .col-1{color:#e95e3f!important;border-left:solid 1px #e8e8e8;text-align:left;padding:8px 10px}
.dashboard .col-2{width:16%;text-align:right;padding:8px 15px}
.dashboard .col-3{width:60px;text-align:right;padding:8px 15px}
.col-3 td{border-bottom:solid 1px #e8e8e8;color:#442f30;background:#fff}
.col-3 th{font-weight:700;border-top:solid 1px #e8e8e8;color:#442f30;background-color:#ececec}
.dashboard #partners .col-3{border-right:1px solid #E8E8E8}
.dashboard #projects .col-2{text-align:left;width:16%}
.dashboard #projects .col-3{text-align:left;width:17%}
.dashboard #projects .col-5{padding-right:30px;border-right:1px solid #E8E8E8}
.dashboard #products .col-2{width:22%;text-align:left;border-right:1px solid #E8E8E8}
.dashboard #users .col-1{width:28%;text-align:left}
.dashboard #users .col-2{width:16%;text-align:left}
.dashboard #users .col-3{width:20%;text-align:left}
.dashboard #users .col-4{width:20%;text-align:left}
.dashboard #users .col-5{width:36%;border-right:1px solid #E8E8E8}
.dashboard #messaging .col-2{width:26%;text-align:left;border-right:1px solid #E8E8E8}
.col-4{width:18%;text-align:center}
.col-5{width:30%;text-align:center}
.search .wrapper{padding:15px 0 0}
.search .middle{background:url(../Images/search-middle-curve.gif) repeat-y 0 0;padding:5px 10px}
.search-section{text-align:right;padding-bottom:5px}
.search .textbox{font-size:11px;color:#666;margin-right:5px;float:right}
.search .textbox input{-moz-border-radius:5px;border-radius:5px;background:#fff;width:215px;font-size:11px;color:#666;border:1px #d7d7d7 solid;padding:5px}
.search-btn{background:url(../Images/btns.gif) no-repeat 0 -219px;width:56px;height:20px;text-indent:-1000em;border:0;cursor:pointer;float:right;margin-top:2px}
.search .fieldset .field{float:left;color:#583e3f;padding:5px 2px}
.search .fieldset .field .textbox-1 input{width:119px;background:#fff;font-size:11px;color:#666;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;padding:5px}
.search .fieldset .field .textbox-2 select{border:1px #d7d7d7 solid;width:157px;-moz-border-radius:5px;border-radius:5px;color:#462F30;padding:3px;font-size:11px}
.input select{border:1px #d7d7d7 solid;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462F30;padding:5px 3px}
.search .go-btn{background:url(../Images/btns.gif) no-repeat 0 -37px;width:38px;height:20px;border:0;float:left;text-indent:-1000em;margin-top:3px;cursor:pointer}
.add-partner{float:right;margin:10px 10px 0 0}
.no-space{margin:-25px -30px}
.col-6,.col-7{width:100%;border-bottom:1px solid #E6E6E6}
.col-7 th{font-size:12px;color:#878787;border-bottom:solid 1px #e6e6e6;padding:8px}
.col-6 th,.col-7 th{background:#f2f2f2;font-style:italic}
.col-6 td,.col-7 td{font-weight:700;vertical-align:top}
.col-6 a,.col-7 a{color:#ed7e65;font-family:Georgia;font-style:italic}
.col-6 th a{color:#878787}
.col-7 th a{color:#878787}
.col-7 .col-two{width:105px}
.col-7 .col-three{width:125px}
.col-7 .col-four{width:175px}
.button{border:0}
.paging{text-align:right;padding:8px 20px 10px}
.paging a{line-height:30px;color:#ed7252;font-size:14px;background:#ededed;margin-left:5px;-moz-border-radius:3px;border-radius:3px;padding:5px 8px}
.paging a:hover,.paging a.active{background:#ed7050;color:#fff}
.col-6 td.active,.col-7 td.active,.scroll td.active{background:#faf7ec}
.sort-a a{color:#84c6b7!important;background:#f2f2f2 url(../Images/sort-Asc.gif) no-repeat 100% 0!important;padding-right:14px}
.sort-d a{color:#84c6b7!important;background:#f2f2f2 url(../Images/sort-Desc.gif) no-repeat 100% 0!important;padding-right:14px}
.sort{color:#84c6b7!important;background:#f2f2f2 url(../Images/arrow-1.gif) no-repeat 100% -207px!important;padding-right:14px}
.sorta{color:#84c6b7!important;background:#f2f2f2 url(../Images/sort-asc.gif) no-repeat 100% 0!important;padding-right:14px}
.sortd{color:#84c6b7!important;background:#f2f2f2 url(../Images/sort-Desc.gif) no-repeat 100% 0!important;padding-right:14px}
.search a{color:#e95e3f;font-size:12px;font-weight:700}
.lft-col{width:48%;float:left}
.rgt-col{width:48%;float:right}
.lft-col h3,.rgt-col h3{color:#462f30;font-size:16px;font-weight:700;background:url(../Images/line-bg.gif) repeat-x 0 3px;width:100%;float:left;margin-bottom:10px}
.lft-col h3 span,.rgt-col h3 span{background:#fff;padding:0 15px 0 0}
.row{width:100%;float:left;padding:10px 0 0}
.row .label{float:left;width:25%;font-size:12px;color:#462f30;padding:5px 10px}
.row .labelpartner{padding:5px!important}
.row .input{margin-left:30%;padding:5px}
#email .input,#top-section .input{margin-left:37%}
#email .textbox3 input,#featured .textbox3 input,#termsandcondition .textbox3 input,#top-section .textbox3 input,#partners .textbox3 input{width:228px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;background:#fff;padding:5px}
#featured,#termsandcondition{clear:both;float:left;width:100%;padding:20px 0 0}
.rgt-col .col-3 td,.rgt-col .col-3 th{padding:8px 2px 8px 8px}
.row .textbox3 input{width:177px;font-size:11px;color:#462f30;background:#fff;-moz-border-radius:5px;border-radius:5px;border:solid 1px #d7d7d7;padding:5px}
.row .readonly input{background:#efefef}
.errorText{font-size:11px;color:#e95e3f;height:20px;padding-top:0px}
.errorPadding{padding:0 30px 15px!important}
.errorText1{font-size:11px;color:#e95e3f;height:25px;-moz-border-radius:5px;padding-left:10px}
.row .textbox3 select{width:186px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.row .textbox4 select{background:0;border:0 none;width:87px;font-size:11px;color:#462f30;padding:5px 4px}
.row .textarea{margin-bottom:15px;padding:0;}
.row .textarea textarea{height:74px;width:258px;border:solid 1px #d7d7d7;-moz-border-radius:3px;border-radius:3px;font-size:11px;color:#462f30;font-family:Arial,Helvetica,sans-serif}
.section{background:url(../Images/box-bg1.gif) no-repeat 0 0;height:42px;clear:both}
.scroll{height:200px;overflow:auto}
.btn{float:right;font-weight:700;background:#2a1c1d;color:#ebdfb5;font-size:12px;-moz-border-radius:3px;border-radius:3px;margin:8px 10px 0 0;padding:5px 15px}
.btn span{color:#fff}
.col-7 .description{border:0;background:#fff!important;padding:0;font-weight:bold;color:#999}
.col-7 .description div{display:none;width:559px;padding:10px 80px 10px 294px}
.arrow{background:url(../Images/arrow-1.gif) no-repeat 0 -116px;width:7px;height:9px;float:left;margin-top:3px;cursor:pointer}
.arrow.active{background-position:0 -156px}
.list-1{border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;width:109px;font-size:12px;color:#462f30;padding:3px}
.list-2{border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;width:228px;margin-top:-5px;font-size:11px;color:#462f30;padding:3px}
.list-3{width:159px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;font-family:'Myriad Pro',Arial}
.list-4{width:96px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:4px}
.list-5{width:296px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:4px}
.list-6{width:185px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:4px}
.editor{clear:both;padding:15px 0 0 10px}
.editor1{clear:both;padding:15px 0 0 5px}
.image p a{color:#e95e3f;margin-left:10px}
.recommended{color:#462f30;font-size:12px;clear:both;padding:15px 0}
.checkbox{font-size:12px;padding:0 0 20px}
.checkbox input{vertical-align:middle;margin:-2px 5px 0 0}
.send-detail td{color:#462f30;padding:0 5px 15px 0}
.send-detail .col1{width:25%;font-size:12px}
#payment h4{color:#462f30;font-size:16px}
#linked .col-3 .col-2{width:16%}
.field-one .col2{width:15%;padding-top:15px}
.field-two{width:100%;border-right:solid 1px #e6e6e6;border-left:solid 1px #e6e6e6;border-bottom:solid 1px #e6e6e6}
.accordion-1{margin-top:10px;background:#fff;-webkit-box-shadow:0 0 1px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 1px 0 rgba(0,0,0,0.3);box-shadow:0 0 1px 0 rgba(0,0,0,0.3)}
.accordion-1 .btn{background:#84c6b7;color:#fff;margin:0;padding:5px 10px}
.accordion-1 h3{background:#84c6b7 url(../Images/accordion-panels-1.png) no-repeat 0 0px;cursor:pointer;color:#fff;font-size:14px;text-transform:uppercase;padding:10px 80px 10px 15px}
.accordion-1 h3.active{background:#84c6b7 url(../Images/accordion-panels.png) no-repeat 0 0px;}
.acc-content{display:none}
.category td{padding:0 5px 5px}
.types{width:0!important;margin-top:10px}
.types td{width:50%;padding:5px 0}
.add-btn{text-align:right}
.add-field{width:100%;overflow:hidden;padding:10px 0 0}
.add-field input{margin-right:4px}
.field-one{border-right:solid 1px #e6e6e6;border-left:solid 1px #e6e6e6;border-bottom:solid 1px #e6e6e6}
.add-field .add-field1{width:90px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:5px}
.add-field .add-field2{width:60px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:5px}
.add-field .add-field3{width:135px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:5px}
.flR,.row .browse{float:right}
.dashboard #projects .col-1,#linked .col-3 .col-1,.field-two .col3{width:22%}
.search .fieldset .field .label,.sign{float:left;padding:5px}
.col-6 th,.col-7 td,.col-6 td{font-size:12px;color:#878787;border-top:solid 1px #e6e6e6;padding:10px 8px}
.search a:hover,.image p a:hover,#linked .col-3 a:hover{text-decoration:underline}
#email .label,#featured .label,#termsandcondition .label,#top-section .label,.field-two .col1,#partners .label{width:35%}
.image p,.field-two select{margin-bottom:10px}
.field-two .col2 select{margin-bottom:0}
.field-two .col2 .category{margin:10px 0 5px}
.field-one td,.field-two td{padding:0 10px}
.field-one td label,.field-two td label{font-size:12px;color:#878787;font-weight:700;vertical-align:top;padding:0 0 5px}
.field-one .col1,.field-one .col4{width:20%;padding-top:15px}
.field-one .col3,.field-two .col2{width:25%;padding-top:15px}
.box1{width:100%;float:left;margin-bottom:30px}
.no-pad{padding:0,0,0,0!important}
#add-edit-partner .row .textbox3 input{width:228px}
#add-edit-partner .row select{width:240px}
#top-section{margin-top:-13px}
#top-section .label{padding-left:0;width:23%}
#top-section .input{margin-left:26%}
.input textarea{width:230px;border:solid 1px #d7d7d7;-moz-border-radius:3px;border-radius:3px;color:#462f30;font-size:11px;padding:4px;font-family: Arial,Helvetica,sans-serif;}
#add-edit-partner #payment .input input{width:255px}
#payment .section .save{margin-right:0}
#linked .add-field a{float:left;margin-top:4px}
.field-two .types td{padding:0 10px 10px 0}
.field-two .col3 input{margin:0 5px 0 0}
/* 12-12-12 */
.field-two .col1,.field-two .col2,.field-two .col3,.field-two .add-btn{padding-bottom:15px; vertical-align:top;}
/* 12-12-12 */
#add-edit-partner .row .field-four{line-height:15px;padding:5px 0}
#add-edit-partner .row .textarea textarea{width:266px;height:120px}
.field-four a{margin-left:10px}
.tb1 td{vertical-align:bottom}
#specifications .col-3{padding:8px 5px!important}
#specifications .col-3 .col-3 td{padding:0 3px 3px}
.category-fields{padding:10px 0}
.category-fields select{width:126px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.category-table select{width:126px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
#specifications .category-table .col-1 td{padding:0 5px 5px 0}
#specifications .category-table .col-2{width:42%;font-size:12px;color:#462f30;padding:5px 10px}
#specifications .category-table .save{margin:0}
#add-edit-partner .row .select2 select{width:160px}
#add-edit-partner .row .select3 select{width:240px}
.box2{margin-top:15px}
.box2 h3{background:url(../Images/icons.gif) no-repeat scroll 10px -217px #E78060;color:#FFF;float:none;font-size:16px;font-weight:700;position:relative;width:auto;padding:5px 10px 5px 30px}
.box2 td,.box2 th{padding:8px}
.box2 td{border-bottom:solid 1px #ececec}
.box2 table{border:solid 1px #ececec}
.box2 .scroll{overflow:auto;height:154px}
.box3 .col-2{width:38%!important}
.field-three{padding:15px 0}
.field-three .col-2{width:28%!important}
.field-three select{width:106px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.box4 .box-content{padding-top:0;padding-bottom:0}
.box4 h4{font-size:16px;color:#462f30;margin-bottom:10px}
.box4 td{color:#462f30;padding:5px}
.box4 .tb2 .col-1{width:38%}
.box4 .tb2 .col-2{width:42%}
.box4 .tb2 .col-2 a{float:right;margin:4px 30px 0 0}
.box4 .tb2 .col-2 select{width:146px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.section1 .row .input{margin-left:35%}
#request-details .row .label{width:25%;padding-left:0}
#request-details .row .input{margin-left:30%}
#request-details .row .input select{width:150px}
#request-details.section1 .status .label{width:14%;padding-left:0}
#request-details.section1 .status .input{margin-left:16%}
#add-edit-partner .row .small input{width:68px}
.field-four .browse{margin-right:28px}
.cat-table{width:100%}
.cat-table h4{font-size:16px}
.cat-level1 h5{margin:0 0 0 10px}
.cat-level1 .cat-level2 h5{margin:0 0 0 50px}
.cat-level1 .cat-level2 .cat-level3 h5{margin:0 0 0 90px}
/* 10-dec */
.categories h5{font-size:14px;color:#878787;background:url(../Images/project-icon.gif) no-repeat 0 0px;padding:5px 0 5px 40px; width:330px}
/* 10-dec */
.categories h5 span{font-weight:400;font-style:italic}

.cat-table th{background:#f2f2f2;color:#878787;font-size:12px;font-weight:400;vertical-align:top}
.cat-table th.col-1{padding-left:15px; width:78%;}
.cat-table th.col-2,.cat-table th.col-3,.cat-table th.col-4,.cat-table th.col-5{font-style:italic;text-align:center}
.cat-table .col-1{border-bottom:solid 1px #e6e6e6;padding:8px;  width:75%;}
.cat-table .col-3{width:35px;border-bottom:solid 1px #e6e6e6;padding:8px}
.cat-table .col-5{width:55px;border-bottom:solid 1px #e6e6e6;padding:8px}
/* 10-dec */
.edit-btns{float:right;width:300px}
td.edit-btns{float:none;padding:5px 10px 5px 20px}
.edit-btns a{background:#84c6b7;line-height:26px;font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:700;margin-right:5px;color:#fff;-moz-border-radius:3px;border-radius:3px;padding:5px}
.sub-cat{margin:0 0 0 50px}
.sub-cat td{font-size:14px;color:#878787;font-weight:700;padding:5px 10px}
.sub-col-2{width:100px}
.sub-col-3{width:40px}
.no-border{border-bottom:solid 1px #e6e6e6}
.no-border td{border:0!important}
.inactive td,.inactive h5{color:#c2c2c2}
.form-field .row .textbox3 input{width:235px}
.form-field .row .no-pad select{width:246px}
.form-field .input textarea{width:237px}
.form-field .section{padding-top:20px;background-position:0 20px}
#copytemplate p{margin-bottom:10px;padding:0 15px}
#copytemplate .copybox{background:#fff;border:solid 1px #ececec;color:#462f30;font-size:11px;margin-bottom:10px;padding:10px}
#copytemplate .copybox table td{vertical-align:top;padding:5px}
#copytemplate .copybox select{width:126px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;margin-top:-5px;padding:5px}
#copytemplate .copybox span{font-size:12px}
#copytemplate .col-2{width:35%;padding:0!important}
#copytemplate .col-2 td{padding-bottom:0!important}
.rgt-col #users .col-5{width:15%;text-align:left}
.add-field .textbox5{width:70px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.add-field .textbox6{width:70px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.add-field .textbox7{width:60px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:5px}
.add-field .list-7{width:60px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:4px 5px}
.add-field input[type=checkbox]{vertical-align:middle;margin-left:5px;margin-bottom:2px;margin-top:7px}
#history .col-3 .col-3{width:30%;color:#e95e3f}
#history .col-4{text-align:left;width:auto}
#basic-details .browse{margin-right:10px}
#basic-details .input textarea{width:267px}
.project-detail th{background:none repeat scroll 0 0 #F2F2F2;color:#878787;font-size:12px;font-weight:400;font-style:italic;padding:15px}
.project-level2 .project-detail .col-2{text-indent:30px}
.project-level3 .project-detail .col-2{text-indent:60px}
.project-detail td{font-size:12px;border-bottom:solid 1px #e6e6e6;padding:15px}
.project-detail .col-1{width:9%; }
.project-detail td.col-1{ text-indent:15px;}
.project-detail .col-5{width:10%;text-align:left}
.project-detail .col-6{width:15%}
.project-detail td.col-2{color:#878787;font-weight:700}
.list-8{width:140px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:4px 5px}
.list-9{width:110px;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;border:solid 1px #d7d7d7;padding:4px 5px}
caption,th,.cat-table th.col-4,.cat-table th.col-5{text-align:left}
#no-bg.wrapper,#payment .section{background:0}
.col-3 td td,table td,table th,fieldset,img,abbr{border:0}
#featured .input,#termsandcondition .input{margin-left:39%}
#featured .input p,.box4 table,#termsandcondition .input p{margin-bottom:15px}
#featured .input p input,.box4 td input,#termsandcondition .input p input{vertical-align:middle;margin:0 5px 2px 0}
.rgt-col .col-3 .col-2,.rgt-col #users .col-3 .col-3{width:26%}
.save,.login,.cancel{float:right!important;margin:12px 12px 0 0}
.login{background:url(../Images/btns.gif) no-repeat 0 -292px;width:120px;height:19px;float:right}
.save{margin:0!important}
.browse{width:65px;height:19px;background:url(../Images/btns.gif) no-repeat 0 0}
.add{background:url(../Images/btns.gif) no-repeat 0 -76px;float:left}
.add-btn a{float:right;background:url(../Images/btns.gif) no-repeat 0 -76px}
.send-detail .col2,#activation .col-1{width:51%}
#linked td,#copytemplate .modal-content{color:#462f30}
#linked .col-3 .col-4,#access .col-1{width:30%}
.field-two .col3,.field-two .col1,.field-one .col5,.field-two .add-btn{padding-top:15px}
.col-7 .col-five,.col-7 .col-six,.sub-col-1{width:135px}
.col-7 span,#linked .col-3 a,.field-four,.field-four a,.fname,.project-detail td.col-5{color:#e95e3f}
/* 10-dec */
.row .textbox3,.row .textbox4,#specifications .col-3 .col-3,.form-field .row .no-pad, .row .no-pad{padding:0}
/* 10-dec */
#payment .label,.section1 .row .label{width:30%;padding-left:0}
#payment .input,#basic-details .row .input{margin-left:33%}
#specifications td,.box3 td{vertical-align:top}
#specifications .col-1,.box3 .col-3 .col-3,.box4 .tb2 .col-3,.rgt-col #users .col-2,#history .col-1,#history .col-2{width:20%}
#specifications .col-2,.box3 .col-1,.field-three .col-1,.field-three .col-3,#basic-details .row .label,.project-detail .col-2{width:28%}
.category-table,.field-three table,.cat-table,#copytemplate .copybox table,.rgt-col #users .col-3,#history .col-3,.project-detail{width:100%}
#add-edit-partner .row .select1 select,#add-edit-partner .row .small select{width:80px}
.box3 .col-4,.cat-table td.col-2,.cat-table td.col-3,.cat-table td.col-4,.cat-table td.col-5,.rgt-col #users .col-6{text-align:center}
.field-three td,.cat-table td,.add-field img{vertical-align:middle}
.box4 .col-1,.box4 .col-2{width:34%}
#add-edit-partner .row .small1 select,#basic-details .input select{width:180px}
#add-edit-partner .row .small1 input,#basic-details .small select{width:100px}
.cat-table .col-2,.cat-table .col-4{width:40px;border-bottom:solid 1px #e6e6e6;padding:8px}
#copytemplate .col-1,.rgt-col #users .col-1{width:10%}
#copytemplate .col-3,.project-detail .col-3{width:18%}
.rgt-col #users .col-4,.project-detail .col-4{width:18%;text-align:left}
.search-result .label{float:left;font-size:13px;text-transform:uppercase;padding:5px 10px 0 20px}
.add-field .add{width:43px;height:20px;background-position:0 -255px;margin:3px 0 0 5px}
.add-sm{background:url(../Images/btns.gif) no-repeat 0 -185px;width:40px;height:19px;float:right;margin-right:18px}
.cancel{background:url(../Images/btns.gif) no-repeat scroll 0 -111px transparent;height:20px;width:64px}
.dropDown,.box-content{clear:both}
.dashboard #products table,.dashboard #messaging table{border-top:1px solid #E8E8E8}
.search .fieldset .field .textbox-1,.search .fieldset .field .textbox-2,#linked .add-field input,.accordion-1 .shadow,.add-field *{float:left}
.right-field{float:right}
.search .fieldset .right-field .field{float:right}
.search .fieldset .right-field .field .textbox-1 input{width:135px}
#transaction .input{color:#462f30}
#transaction .input select{width:167px}
#update-standard .input{color:#462f30;line-height:16px}
#update-standard .scroll{background:#fff;height:120px;color:#462f30}
#update-standard .scroll div{margin:10px}
#update-standard .scroll div p{margin-bottom:10px}
#update-standard select{width:167px}
.send-notification{padding:10px 0;width:100%;overflow:hidden}
.send-notification a{float:left;background:url(../Images/btns.gif) no-repeat 0 -332px;width:124px;height:21px}
#update-standard .lft-col .box1{height:305px}
.detail-section{padding:15px 0}
.detail-section td{padding:3px 15px;font-size:12px;color:#666}
.detail-section .col1,.detail-section .col3,.detail-section .col5{width:8%}
.detail-section .col2{width:28%}
.detail-section .col4{width:18%}
.box3 .scroll .col-1{width:100px!important}
.box3 .scroll .col-3{width:auto!important}
.message{padding:10px 30px;margin-bottom:0;padding:10px 30px}
.cat-level{padding:0;width:100%;overflow:hidden;border-bottom:solid 1px #e6e6e6;background:#fff;margin-top:-1px}
.cat-level .cat-level{border:0}
.cat-level td{border:0!important}
.sub-cat{float:right;margin:0 233px 0 0}
.cat-level .cat-level h5{margin-right:300px}
.categories{width:100%;overflow-x:scroll}
#addedit{width:440px}
.message{padding:10px 30px}
.messagefilter{padding:10px 30px;margin-bottom:25px}
.notification{border:1px solid #FCEFA1;color:#363636;background:#fbfaf0 url(../Images/highlight.gif) no-repeat 10px 10px}
.error{border:1px solid #CD0A0A;color:#CD0A0A;background:#fef8f6 url(../Images/highlight.gif) no-repeat 10px -44px}
.success{border:1px solid #4bc422;color:#363636;background:#e5ffdc url(../Images/highlight.gif) no-repeat 10px -98px}
.mandatory input{border-left:solid 3px #E95E3F!important}
.mandatoryBG input{background:#996!important}
.mandatory-input{border-left:solid 3px #E95E3F!important}
.toggle-divider{background:url(../Images/toggle-line.gif) repeat-x 0 100%;height:12px;width:100%;float:left;margin-top:5px;position:relative}
.toggle-divider a{position:absolute;left:10px;top:0;cursor:pointer;width:12px;height:12px;background:url(../Images/toggle.gif) no-repeat 0 0}
.toggle-divider a.active{background-position:0 -12px}
.toggle-content{clear:both}
.float-width{height:70px}
.error-message{text-indent:10px;padding-top:3px}
.rgt-col .error-message{text-indent:56px}
.paging-number{float:left;padding:20px 10px}
#toggleDiv .error-message{float:left;padding-top:0px}
#toggleDiv .search-msg{float:none;color:#E95E3F;text-align:right;clear:both}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar h2{background:0}
#editor-page .lft-col{width:300px}
#editor-page .lft-col textarea{width:180px}
#editor-page .rgt-col{width:580px}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-group h3{background:0}
.yui-toolbar-group-fontstyle{width:180px}
.yui-toolbar-group-textstyle{width:302px}
.yui-toolbar-group-undoredo{width:70px}
.yui-toolbar-group-alignment{width:130px}
.yui-toolbar-group-parastyle{width:102px}
.yui-toolbar-group-indentlist2,.yui-toolbar-group-indentlist{width:130px}
.yui-toolbar-group-insertitem{width:70px}
.yui-skin-sam{clear:both}
.browsefile a{margin-left:0!important;margin-right:5px}
.field-four span{clear:both;display:block}
.imagestyle{height:40px;width:50px;border:1px lightgray solid}
.tb8 select{width:180px;margin-bottom:5px}
.tb8 td{vertical-align:top}
.all-check{margin-bottom:5px;padding-left:5px}
.all-check input{margin-right:5px}
.project-level3 td{padding-top:8px!important;padding-bottom:8px;border:0}
.project-level3{border-bottom:1px solid #E6E6E6}
.btn{border:0}
.div-content{border-right:#e6e6e6 solid 1px;border-left:#e6e6e6 solid 1px;border-bottom:#e6e6e6 solid 1px;padding:25px 30px}
.fileinputs{position:relative}
.dummyfile{position:absolute;top:0;left:-5px;z-index:1}
.productImageUpload{position:relative;text-align:right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;margin-left:-50px!important}
.companyLogoFileUpload{position:relative;text-align:right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;margin-left:-50px!important}
.fileinputs,.row .fileinputs{position:relative;float:left;width:75px;height:20px;padding-top:0!important}
.ImageUpload{position:relative;text-align:right;-moz-opacity:0;filter:alpha(opacity=1);opacity:0;z-index:2;margin-left:-50px!important}
#imageErrSpan,#pdfErrSpan{clear:both;display:block;padding-top:5px}
.customStyle{position:absolute;border:0;color:#fff}
.imgsrc{float:left;padding-top:4px!important;position:relative;z-index:2}
.imageload{position:relative}
.loadingimg{position:absolute;left:18px;top:15px;display:none}
#TB_closeAjaxWindow{display:none}
.list-c select{width:185px;border:solid 1px #d7d7d7;-moz-border-radius:5px;border-radius:5px;font-size:11px;color:#462f30;padding:4px}
.projectImageUpload{position:relative;text-align:right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;margin-left:-50px!important}
select option{text-indent:5px}
.col-7 .description div{width:auto}
.highlight td{background:#FAF7EC}
.btn-style{background:url(../Images/btn-rgt.gif) no-repeat 100% 0;margin:12px 12px 0 0!important;float:none!important;line-height:17px;display:inline-block;padding-right:8px}
.btn-style a,.btn-style a:hover{display:inline-block;background:url(../Images/btn-lft.gif) no-repeat 0 0;text-decoration:none!important;padding:0 3px 5px 13px;font-weight:normal;color:#462F30;margin:0!important;float:none!important;position:relative}
.search .btn-style{padding:0 8px 3px 0!important;margin:0!important;padding-top:0}
.search .btn-style a{padding-top:0!important}
.search-btn1{width:56px;height:20px;text-indent:-1000em;border:0;cursor:pointer;float:right;margin-top:2px}
.btn-style1{background:url(../Images/btn-rgt.gif) no-repeat 100% 0;padding:2px 10px 4px 0;display:inline-block}
.btn-style1 a,.btn-style1 a:hover{background:url(../Images/btn-lft.gif) no-repeat 0 0;line-height:19px;text-decoration:none!important;padding:2px 3px 5px 13px;font-weight:normal;color:#462F30;position:relative}
.search .btn-style1{padding:0 10px 4px 0!important}
.btn-stylepad{padding:2px 7px 4px 0!important}
btn-stylemargin,.btn-stylemargin a,.btn-stylemargin a:hover{margin:10px!important}
.alR{text-align:right}
.pro-specs{margin-top:15px}
.pro-specs input{margin-right:3px}
.pro-specs table{width:auto}
.pro-specs table td{padding-right:15px}
.pad-top{padding-top:12px;clear:both}
.pad-top10{padding-top:10px!important;}
.searchpad-top{padding-top:3px;clear:both}
#overlay{background:url(../Images/overlay.png) repeat 0 0;position:fixed;left:0;top:0;z-index:20;width:100%;height:100%;text-align:center}
#overlay img{margin-top:250px}
.overlay{position:absolute;background:#000;opacity:.5;width:100%;filter:alpha(opacity=50);left:0;top:0;display:none;z-index:90}
.box3 .scroll .col-3.full-tb{width:100%!important}
.checkboxlist tr{vertical-align:top}
.checkbox label{vertical-align:text-top}
.add-field .btn-style{margin-top:3px!important;padding-right:8px;margin-left:3px!important}
.section .btn-style{margin:0 10px 0 0!important;padding-right:8px}
.width-full{ width:100%!important;}
.nopad-top{padding-top:0px!important}

input[type="text"]:disabled, select[disabled]
{
opacity:0.5;
}
.checkbox label{ vertical-align:middle;}
.btn-style1 a,btn-style1 a:hover{ display:block; line-height:15px!important;}
.textbox-2-width select{width: 280px!important;}
.field-two .warning{   margin-bottom: 14px;   margin-top: -10px;}
.smallwidth select { width: 95px!important;}
.width150 { width: 150px!important;}
.widthTC { width: 418px!important;height: 162px!important;}
.noindent {text-indent: 1px!important;}

/* 14 */
.display-inline{ display:inline; margin-left:6px; cursor:pointer;}
.categories h5 p{font-weight:400;font-style:italic}
.project-detail th.col-6{ text-indent:23px;}
.project-detail td.col-6{text-align:right;}
.form-spec{width: 350px;padding:5px 140px;color:#462F30;font-size:12px;}


.ui-autocomplete-category{color: #817E7E !important;}
.main-content p {
margin-bottom: 20px;
}
label.ui-state-hover {
background: #dadada !important;
}
.ui-widget-header {
 background: #FCFCFC !important;
}
.ui-multiselect-menu{width:auto !important;}

.abcd{background: #E6E6E6 !important;color: #868686;padding: 2px 5px;margin-bottom: 5px;
margin-left: 3px;border-radius: 3px;font-size: 11px;}
.icon-cancel{background-image: url(../Images/close.png) !important;margin-top: 2px;margin-left: 5px;}

#cphContent_textCategory.ui-autocomplete-input
{margin-left: 84px;
    border-radius: 5px;
font-size: 12px;
color: #a39c9a !important;
border: 1px #d7d7d7 solid;
margin-bottom: 10px;
padding: 5px;
width: 132px;}

.ui-widget-content{background: #eceadf url() 50% 50% repeat !important;background-color: white !important;}
.ui-state-default{font-weight:normal !important;color:#a39c9a !important;}
.ui-state-active, .ui-state-default{background:#fff !important;}
.ui-icon{background-image: url(../Images/ui-icons_222222_256x240.png) !important;}
.ui-multiselect{width:160px !important;}
.search-result .brands{margin-left:0px !important;}
.message.error{width: 89.70%;}
.hscroll{overflow-x:auto;}
.partnercomdesc{padding-left: 129px;}





.sprite {
  display: inline-block;
  zoom: 1;
  display: inline;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../Images/hilton-sprite.png);
  height: 10px;
  width: 10px;
  padding: 0;
  border: 0;
}

.sprite.down {
  background-position: -82px -15px;
  height: 21px;
  width: 21px;
}
.sprite.up {
  background-position: -114px -15px;
  height: 21px;
  width: 21px;
}

.cat-table-heading tr:first-child th
{
	    border-bottom: 0px;
    padding-bottom: 0px;
    }
 .cat-table-heading tr:last-child th{    padding: 3px;}
 .cat-table-heading tr:last-child .col-4,.cat-table-heading tr:last-child .col-5{text-align: center;}