﻿.ac_results{padding:0;border:1px solid black;background-color:white;overflow:hidden;z-index:99999}
.ac_results ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0}
.ac_results li{margin:0;padding:2px 5px;cursor:default;display:block;font:menu;font-size:12px;line-height:16px;overflow:hidden}
.ac_loading{background:white url('../Images/async.gif') right center no-repeat}
.ac_odd{background-color:#eee}
.ac_over{background-color:#0A246A;color:white;cursor:hand}