#basic-modal-content,.modalbox{display:none}
#basic-modal-content,.modalboxHide{display:none}
#simplemodal-overlay{background-color:#000}
#simplemodal-container{color:#bbb;top:300px!important}
#simplemodal-container code{background:#141414;border-left:3px solid #65B43D;color:#bbb;display:block;font-size:12px;margin-bottom:12px;padding:4px 6px 6px}
#simplemodal-container a{color:#ddd}
.modalbox h3{background:#583e3f;font-size:18px;color:#ebdfb5;padding:10px 20px}
.modal-content{padding:15px;background-color:#f4f4f4}
#addcategory,#copytemplate{width:440px}
.modal h3{background:#583e3f;font-size:18px;color:#ebdfb5;padding:10px 20px}