/* General menu styling */
select.category{width:300px; height:25px; margin-top:5px;}
.cascadeDrop
{
	border: 1px #d7d7d7 solid !important;
	padding: 5px;
	border-radius: 6px;
	}
.nav 
{
	background: #fff;
margin: 0;
padding: 0;
line-height: 22px;
width:200px;
border:1px solid #d7d7d7;
display:none;
max-height: 145px;
overflow-y: auto;
font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
/* The main navigation link containers */
.nav>li {
display: block;
/*float: left;  Displaying them on the same line */
margin: 0;
padding: 0;
}
/* The main navigation links */
.nav>li>a {
/* Layout */
display: block;
position: relative;
padding: 5px 20px;
/* Text */
color: #a39c9a;
font-size: 14px;
text-decoration: none;
/* Background */
background: #fff; /* For older browsers */
/*background: rgba(0, 0, 0, 1);  Transparent background for modern browsers */
/* Making the color to change on hover with a transition */
-webkit-transition: color .2s ease-in;
-moz-transition: color .2s ease-in;
-o-transition: color .2s ease-in;
-ms-transition: color .2s ease-in;
}
/* Changing the color on hover */
.nav>li>a:hover, .nav>li:hover>a {
background: #1E90FF;
color: #fff;
}
.nav>.dropdown1>a {
padding: 3px;
font-size: 12px;
}
/* The links which contain dropdowns menu are wider, because they have a little arrow */
.nav>.dropdown>a {
padding: 3px;
font-size: 12px;
}
/* The arrow indicating the dropdown */
.dropdown>a::after {
content: "";
position: absolute;
top: 10px;
right: 10px;
width: 7px;
height: 7px;
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
border-bottom: 1px solid #000;
border-right: 1px solid #000;
}
/* Changing the color of the arrow on hover */	
.dropdown>a:hover::after, .dropdown:hover>a::after {
border-color: #0fd0f9;
}
/* The submenus */
.nav ul {
position: absolute;
margin: 0;
padding: 0;
list-style: none;
display: block;
}
/* General layout settings for the link containers of the submenus */
.nav ul li {
position: absolute;
top: -9999px; /* Hiding them */
height: 0px;
display: block;
margin: 0;
padding: 0;
/* Making them to expand their height with a transition, for a slide effect */
-webkit-transition: height .2s ease-in;
-moz-transition: height .2s ease-in;
-o-transition: height .2s ease-in;
-ms-transition: height .2s ease-in;
}
/* Displays the submenu links, by expading their containers (with a transition, previously defined) and by repositioning them */
.dropdown:hover>ul>li {
height: 30px;
position: relative;
top: auto;

}
/* The submenu links */
.nav ul li a {
/* Layout */
padding: 5px 20px;
width: 155px;
display: block;
position: relative;
z-index: 100;
/* Text */
border-left: 1px solid #d7d7d7;
border-right: 1px solid #d7d7d7;
color: #a39c9a;
text-decoration: none;
font-size: 12px;
/* Background & effects */
background: #f7f7f7;
/*background: rgba(0, 0, 0, 1);*/
-webkit-transition: color .2s ease-in, background .2s ease-in;
-moz-transition: color .2s ease-in, background .2s ease-in;
-o-transition: color .2s ease-in, background .2s ease-in;
-ms-transition: color .2s ease-in, background .2s ease-in;
}
.nav ul li:first-child a{border-top: 1px solid #d7d7d7;}
.nav ul li:last-child a{border-bottom: 1px solid #d7d7d7;}
.nav ul li ul li a {z-index: 200; background: #e6e6e6; }
/* Changing the link's color and background on hover */
.nav ul li:hover>a, .nav ul li a:hover {
background: #1E90FF;
color: #fff;
}
/* Making the level 2 (or higher) submenus to appear at the right of their parent */
.nav ul .dropdown:hover ul {
left: 40px;
top: 0px;
}
/* The submenu links have a different arrow which indicates another dropdown submenu 
.nav ul .dropdown a::after {
width: 6px;
height: 6px;
border-bottom: 0;
border-right: 1px solid #fff;
border-top: 1px solid #fff;
top: 12px;
}*/
/* Changing the color of the arrow on hover 
.nav ul .dropdown:hover>a::after, .nav ul .dropdown>a:hover::after {
border-right: 1px solid #0fd0f9;
border-top: 1px solid #0fd0f9;
}*/
.special{width:200px;
    height: 25px;
    border: 1px #d7d7d7 solid !important;
	padding: 0 23px 0 0; 
	border-radius: 6px;
	cursor: default;
	color: #a39c9a;
	font-size: 12px;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	background: #fff url(../Images/drop_arrow.png) 95% 50% no-repeat !important;
}
#log
{
	min-height: 230px !important;
	}
	
.special::-ms-clear{display: none;}
.tooltip{
	display: none;
    padding: 10px;
    position: absolute;
    border: 1px solid;
    height: 18px;
    background: #F9F7E2;
}
.arrowInv{
    height: 10px;
    width: 10px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
    position: absolute;
    top: 33px;
    background: #F9F7E2;
}