.menu li ul{background:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(Color=#cecece,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#cecece,Strength=7,Direction=100),progid:DXImageTransform.Microsoft.Shadow(Color=#cecece,Strength=7,Direction=180),progid:DXImageTransform.Microsoft.Shadow(Color=#cecece,Strength=7,Direction=270);position:absolute;top:33px!important;border:1px solid #E6E6E6;display:none;background:#fff;z-index:10;-webkit-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);-moz-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);width:258px;padding:1px 1px 2px}
.recommended-partners td p{margin-bottom:0;line-height:16px;text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:11px}
.recommended-partners .accordion .panel3 td,.recommended-partners .accordion .panel3 th{font-family:Arial,Helvetica,sans-serif;font-size:11px}
.recommended-partners .col1 p{color:#7D706C;font-size:11px}
.main .accordion .accordion{filter:progid:DXImageTransform.Microsoft.Shadow(Color=#dedede,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=0,Direction=0);margin-left:-2px}
.sidebar-box,.box{background:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(Color=#dedede,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=100),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=180),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=270);background:#fff;z-index:10;-webkit-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);-moz-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);margin:-2px 0 15px -2px}
.property-list li{background:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(Color=#dedede,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=100),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=180),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=0,Direction=270);background:#fff;margin:-3px 8px 12px 0;height:234px;width:234px}
.property-list .detail{bottom:-1px}
.header h1 a{height:101px}
.property-list .detail{left:0px;width:214px}
#rightsidebar-wrapper{width:247px!important}
.pad-left6{padding-left:6px!important}

.main .inner-content,.accordion,.box1{background:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(Color=#dedede,Strength=0,Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=100),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=180),progid:DXImageTransform.Microsoft.Shadow(Color=#a8a8a8,Strength=3,Direction=270);z-index:10;-webkit-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);-moz-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);margin:-2px 18px 15px -2px}

.region .select-container ,.brands .select-container { margin: 0 !important}

