﻿/*
    CSS for drop down width fix in IE
*/


/*
  Overlay CSS.
*/
.select-overlay { background:#fff }

.select-overlay span
{
    display:block;
    float:left;
    clear:both;
    background:transparent url(../images/bg-ie-select-width.png) no-repeat 0 0
}

/* Overlay CSS for Internet Explorer 8 with no borders or padding */
.ie8 .select-overlay span
{
    width:18px;
    height:20px;
    background-position:0 0
}

select{ padding-left:0px!important;}
.ie8 .select-overlay-hover span { background-position:-18px 0 }

.ie8 .select-overlay-active span { background-position:-18px 0 }


/* Overlay CSS for Internet Explorer 8 with borders and padding */
#select-styleable-container.ie8 .select-overlay span
{
    width:17px;
    height:20px;
    background-position:-36px 0
}

#select-styleable-container.ie8 .select-overlay-hover span { background-position:-53px 0 }

#select-styleable-container.ie8 .select-overlay-active span { background-position:-53px 0 }