body{font-family:Arial;font-size:11px;margin:0;padding:0}
.modalbox h3{background:#583e3f;font-size:18px;color:#ebdfb5;padding:10px 20px;margin:0;font-family:Arial,Verdana}
.modal-content .modal-innercontent{padding:15px;background-color:#f4f4f4}
.row{float:left;padding:10px 0 0;width:100%}
.row .label{color:#462F30;float:left;font-size:12px;padding:5px 10px;width:30%}
.input select{border:1px solid #D7D7D7;border-radius:5px 5px 5px 5px;color:#462F30;font-size:11px;padding:5px 3px;width:235px}
.form-field .row .textbox3 input{width:222px;float:left}
.row .textbox3 input{background:none repeat scroll 0 0 #FFF;border:1px solid #D7D7D7;border-radius:5px 5px 5px 5px;color:#462F30;font-family:'Myriad Pro',Arial;font-size:11px;padding:5px;width:177px}
.btn-style{background:url(../Images/btn-rgt.gif) no-repeat 100% 0;padding:2px 10px 4px 0;margin:12px 12px 0 0!important;float:none!important}
.btn-style a,.btn-style a:hover{background:url(../Images/btn-lft.gif) no-repeat 0 0;line-height:19px;text-decoration:none!important;padding:2px 3px 5px 13px;font-weight:normal;color:#462F30;margin:0!important;float:none!important;position:relative}
.alR{text-align:right}
.pad-top{padding-top:22px!important;clear:both!important}
.btn-stylepad{padding:2px 7px 4px 0!important}
.form-field .input textarea{width:224px}
.input textarea{border:1px solid #D7D7D7;border-radius:3px 3px 3px 3px;color:#462F30;font-family:'Myriad Pro',Arial;font-size:11px;padding:4px;width:230px}
.section{background:url("../images/box-bg1.gif") no-repeat scroll 0 10px transparent;clear:both;height:42px;padding-top:10px}
.save,.login,.cancel{float:right;margin:12px 12px 0 0}
.save{width:64px;height:20px;background:url(../Images/btns.gif) no-repeat 0 -149px}
.cancel{background:url(../Images/btns.gif) no-repeat scroll 0 -111px transparent;height:20px;width:64px}
.add{width:64px;margin-top:2px;height:19px;background:url(../Images/btns.gif) no-repeat 0 -76px;float:left}
.form-field .row .add-field input{width:152px;margin-right:7px}
.box-content{padding-left:135px;padding-right:13px}
.box-content table{width:100%}
.box-content td{padding:5px;border:solid 1px #d7d7d7;color:#462F30;background:#fff;vertical-align:top}
.box-content table .first-col{width:17%}
.box-content table .third-col{width:10%}
.message{padding:10px 30px}
.notification{border:1px solid #FCEFA1;color:#363636;background:#fbfaf0 url(../Images/highlight.gif) no-repeat 10px 10px}
.error{border:1px solid #CD0A0A;color:#CD0A0A;background:#fef8f6 url(../Images/highlight.gif) no-repeat 10px -44px}
.success{border:1px solid #4bc422;color:#363636;background:#e5ffdc url(../Images/highlight.gif) no-repeat 10px -98px}
.status-dropdown{float:left;margin-left:-6px;margin-top:-8px;width:276px}
.status-dropdown .input select{width:127px}
.status-dropdown .row .label{width:33%}
.copytemplate-dropdown{border:1px solid #D7D7D7;border-radius:5px 5px 5px 5px;color:#462F30;font-size:11px;padding:5px 3px;width:335px}
.mg-bottom{margin-bottom:10px}
.table1 span{padding-left:5px}
iframe{background-color:transparent}
.textbox-multiline{resize:none}
#email-partner{height:400px;width:789px}
.modal .form-btn a,#email-confirm .form-btn a{background:url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent;border:1px solid #CECECE;color:#827672;font-size:13px;margin-left:10px;margin-top:0;padding:5px 15px;text-transform:uppercase;border-radius:.3em .3em .3em .3em;box-shadow:0 1px 2px rgba(0,0,0,0.2)}
.modal .form-btn a:hover,#email-confirm .form-btn a:hover{background-position:0 -153px;border-color:#9F885E;color:#FFF;text-decoration:none}
.copy{padding:30px 0 0 0;font-size:12px}
.copy input{vertical-align:middle;margin:0 5px 2px 0}
.form-btn p{color:#7d706c;font-size:12px;font-style:italic;text-align:right}
#email-confirm h3{color:#7d706c}
#email-confirm{height:370px;width:789px;position:absolute;left:50%;margin-left:-394px;top:300px;z-index:1000}
#email-confirm .box2{margin-left:30px}
#email-confirm .content h4{color:#7d706c}
#email-confirm p{font-size:11px}
#email-confirm .email a{color:#AE9973}
#email-confirm .content .box2 p{font-size:11px}
#email-confirm .content p{color:#4c4c4c;font-size:13px}
#email-confirm .form-btn{float:none;text-align:right;padding:30px 0 0}
.modal .cross{position:absolute;right:15px;top:12px;height:22px;width:22px;background:url(../Images/icons.gif) no-repeat 0 -372px}
.mandatory{background:#996;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding-left:2px}
.row{overflow:hidden;width:100%}
#add-edit li{width:100%;float:left;margin-bottom:10px}
#add-edit .label{width:135px;font-size:11px;float:left;text-transform:uppercase;padding:5px}
#add-edit .input{float:left}
#add-edit .textbox input{width:213px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#686868}
#add-edit .input select{width:227px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#686868}
#add-edit .form-btn{float:none;clear:both;text-align:right;padding-top:20px}
#add-edit .form-btn .remove-project{margin-left:0!important;margin-right:15px}
#addCategoryModal .modal-content{height:450px;overflow:auto}
#addPartnerProductModal .modal-content{height:350px;overflow:auto}
.errorText{font-family:'Myriad Pro',Arial;font-size:11px;color:#e95e3f;height:20px;}
.modal-content .btn-style{padding:2px 7px 4px 0!important}
.modal-content .btn-style a{ padding:2px 3px 5px 13px!important;}
.paderror {padding-left:107px;}
.status-width {width:100px!important;}
.mandatory1 input{border-left:solid 3px #E95E3F!important}
.padleft {padding-left:135px!important;}
.select-combo input{ margin-right:4px;}