@charset utf-8;body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,embed,object{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,abbr{border:0}
address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,strong,th,var{font-weight:400;font-style:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:1em}
q:before,q:after{content:''}
.clear{clear:both;height:1px;line-height:1px}
.btn1{background:url(../Images/btn-right.gif) no-repeat 100% 0;color:#7d706c;text-transform:uppercase}
.btn1 span{background:url(../Images/btn-left.gif) no-repeat 0 0;line-height:28px;height:30px;float:left;padding:0 15px}
.btn1:hover{background-position:100% 100%;cursor:pointer}
.btn1:hover span{background-position:0 100%}
.download{background:url(../Images/arrow-1.gif) no-repeat 100% -261px;color:#886200;padding:0 12px 0 0}
.wrapper{width:980px;margin:0 auto;padding:0 10px}
.menu .wrapper{height:34px}
.footer .wrapper{background:url(../Images/footer-bg.gif) repeat-x 0 0;text-align:right;font-size:11px;color:#ababa9;padding:10px 0}
.header{background:url(../Images/header-bg.gif) repeat-x 0 0;height:136px;min-width:1000px}
.header h1{float:left;margin-left:-20px}
.header h1 a{background:url(../Images/hilton_logo2.png) no-repeat 0 0;width:303px;height:102px;float:left;text-indent:-1000em}
.header .welcome{float:left;color:#767674;padding:25px 0 0 200px}
.header .welcome h2{font-size:16px;font-weight:700}
.header .welcome a{color:#767674;text-decoration:underline;font-weight:700}
.header .h-right{float:right;padding:30px 10px 0 0}
.header .h-right a{color:#886200;text-decoration:none;background:url(../Images/arrow-1.gif) no-repeat 100% 4px;margin:0 0 0 6px;padding:0 15px 0 0}
.h-right img{margin-bottom:2px;vertical-align:middle}
.menu{clear:both;margin-left:-9px}
.menu li{float:left;background:url(../Images/menu-left.gif) no-repeat 0 -100px;position:relative;padding-left:10px}
.menu li a{color:#706e70;line-height:37px;height:34px;font-size:11px;float:left;text-transform:uppercase;background:url(../Images/menu-right.gif) no-repeat 100% -77px!important;position:relative;z-index:11;padding:0 19px 0 10px!important}
.menu li:hover a,.menu li.active a{background-position:100% -114px!important}
.menu li.has-popup a{color:#706e70;line-height:37px;height:34px;font-size:11px;float:left;text-transform:uppercase;background:url(../Images/menu-right.gif) no-repeat 100% 0!important;position:relative;z-index:11!important;padding:0 30px 0 10px!important}
.menu li.has-popup li a{float:none;background:none!important;line-height:29px;height:29px}
a.static.selected{background-position:100% -115px!important}
.menu li.has-popup a:hover,.menu li.has-popup a.static.selected,.menu li.has-popup:hover a{background:url("../Images/menu-right.gif") no-repeat 100% -38px!important}
.menu li.has-popup:hover li a{background:none!important}
.menu li ul{position:absolute;left:7px!important;top:33px!important;border:1px solid #E6E6E6;display:none;background:#fff;z-index:10;-webkit-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);-moz-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);width:258px;padding:1px 1px 2px}
.menu li ul li a,.menu li.drop ul li a{line-height:16px;text-transform:none;display:block!important;height:1%;padding:6px 10px!important;background:none!important}
.menu li ul li,.menu li ul li a,.menu li.drop ul li,.menu li.drop ul li a{background:0;float:none}
.menu li ul li{border:solid 1px #e6e6e6;margin-bottom:-1px;padding:0}
.menu li ul li a:hover,.menu li.drop ul li a:hover{background:url(../Images/dropdown-active.gif) repeat-x 0 0}
.menu li.drop:hover a:hover,.menu li.drop.active a:hover,.menu li:hover ul a:hover,.menu li.active ul a:hover{background:url(../Images/dropdown-active.gif) repeat-x 0 0!important}
.breadcrumbs{background:url(../Images/breadcrumbs-dots.gif) repeat-x 0 100%;clear:both;padding:10px 0}
.breadcrumbs a{color:#886200;font-size:11px;margin:0 5px}
.breadcrumbs span{font-size:11px;margin:0 5px}
.content{padding:20px 0}
.main-content{padding:25px 270px 25px 0}
.main-content p{color:#695D59;font-size:13px;line-height:20px}
.main{float:left;width:730px}
.main .middle{background:url(../Images/box-middle.png) repeat-y 0 0;padding:5px 25px}
.content h2{font-size:18px;color:#7d706c;margin-bottom:15px}
.content h3{font-size:14px;color:#4c4c4c}
.content h4{font-size:14px;margin-bottom:15px}
.content h5{margin-top:-10px;color:#695d59;font-size:16px}
.main p{line-height:18px;margin-bottom:15px}
.main .inner-content{-webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);margin-right:15px}
.list li{line-height:20px;padding-bottom:5px;font-size:13px;color:#ae9973;margin-bottom:5px}
.list li a{background:url(../Images/arrow-1.gif) no-repeat scroll 100% 6px transparent;color:#AE9973;padding-right:14px}
.line{background:url(../Images/dotted-line.gif) no-repeat 0 0;height:1px;line-height:1px;margin:20px 0}
.main .property-list h3{margin-bottom:0;font-weight:700;color:#7d706c}
.main .property-list p{line-height:14px;margin:0}
.main .inner-content h3{background:url(../Images/top-curve.gif) no-repeat 0 0;padding:8px 25px}
.main .middle-curve{background:#fff;padding:20px 20px}
#mycarousel{width:100%;overflow:hidden}
#mycarousel li{float:left;width:106px;height:72px;background:url(../Images/list-bg.jpg) no-repeat 50% 50%;margin-right:18px;padding:8px 5px}
.sidebar{width:245px;float:right}
.sidebar-box{-webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);margin-bottom:15px}
.sidebar-box h3{background:url(../Images/box-top-bg.gif) repeat-x 0 0;height:22px;font-size:11px!important;padding:9px 15px 0}
.sidebar-box ul li{background:#F7F7F7 url(../Images/grad1.gif) repeat-x 0 100%;padding:12px 14px}
.sidebar-box ul li a{color:#4c4c4c;font-weight:700;background:url(../Images/arrow-1.gif) no-repeat 100% -59px;padding-right:15px}
.sidebar-box ul li ul{background:#fff;margin:10px -14px -11px;padding:5px 0 10px}
.sidebar-box ul li li{padding:5px 10px 0 14px}
.sidebar-box ul li ul li a{color:#886200;font-weight:400;background:url(../Images/arrow-2.gif) no-repeat 100% 4px;padding-right:8px}
.sidebar-box ul li .active{color:#928d80;background:0}
.box{-webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);background:#f3f3f3}
.box .middle{background:url(../Images/middle-shadow.png) repeat-y 0 0;height:1%}
.box ul li{background:url(../Images/list-dots.gif) repeat-x 0 100%;padding-bottom:1px}
.box ul li.last{background:0;text-transform:uppercase}
.box ul li li.last{background:url(../Images/list-arrow.gif) no-repeat 0 9px}
.box ul li a{display:block;color:#8b836e;padding:10px 15px}
.box ul li a:hover,.box ul li a.active{background:#fff url(../Images/arrow.gif) no-repeat 0 50%;margin-left:-9px;padding-left:24px;margin-right:2px}
.box ul li ul{background:#fff;margin:0 2px}
.box ul li ul li{background:url(../Images/list-arrow.gif) no-repeat 0 9px;margin:-5px 20px 0;padding:5px 0 5px 10px}
.box ul li li a{text-transform:none;display:inline;padding:0}
.box ul li li a:hover{background:0;text-decoration:underline;margin:0;padding:0}
.box .content{padding:15px}
.box .content h4{font-size:16px;margin-bottom:10px;color:#7d706c}
.box .content .per-detail h4{font-size:36px;font-weight:700;margin-bottom:0}
.box .content .per-detail h4 span{font-size:24px}
.phone{background:url(../Images/icons.gif) no-repeat 0 -598px;padding:0 0 0 18px}
.box .title{border-top:solid 4px #ac9365;background:#f3f3f3;border-bottom:1px dotted #CCC}
.box h3{text-transform:uppercase;font-size:11px;border-top:solid 1px #fff;padding:6px 15px}
.footer a{color:#ababa9;text-decoration:underline}
.footer a:hover{text-decoration:none;color:#666}
.property-list{width:100%;overflow:hidden;padding:0 0 30px}
.property-list li{float:left;-webkit-box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);width:235px;height:235px;position:relative;margin:0 8px 8px 0}
.property-list .detail{background:url(../Images/transparent.png) repeat 0 0;position:absolute;left:0;bottom:0;width:215px;padding:8px 10px}
.property-list .detail h4{font-size:12px;font-weight:700;margin-bottom:0}
.property-list .detail p{font-size:11px}
.property-list li a:hover img{opacity:.8;filter:alpha(opacity=80)}
.back{background:url(../Images/prev-icon.gif) no-repeat 0 4px;padding-left:10px;color:#ae9973;float:right}
.date{font-size:12px;font-style:italic;padding-top:10px}
.hilton-section{background:url(../Images/hilton-icon.gif) no-repeat 0 0;padding:3px 0 0 25px}
.property-list-detail{width:100%;padding:2px 0 20px}
.accordion{-webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);background:#fff;margin:0 15px 15px 0}
.accordion h3{background:#e1e1e1 url(../Images/panel-without-btn.png) no-repeat 0 0;color:#4C4C4C;cursor:pointer;font-size:16px;font-weight:700;padding:10px 80px 8px 10px;border-bottom:dotted 0 #333}
.accordion h4{background:#e2e2e2 url(../Images/panel1.png) no-repeat 0 0;text-transform:uppercase;cursor:pointer;margin-bottom:0;font-size:13px;color:#4c4c4c;padding:10px 80px 10px 25px}
.accordion h4.active{background:#e2e2e2 url(../Images/panel1-1.png) no-repeat 0 0}
.accordion h5{background:url(../Images/panel2.png) no-repeat 0 -2px;height:40px;text-transform:uppercase;cursor:pointer;font-size:13px;margin-top:0;line-height:40px;padding-left:35px}
.accordion h5.active{background-position:0 -43px}
.accordion h6{background:url(../Images/panel4.png) repeat-x 0 0;height:37px;text-transform:uppercase;margin-top:0;margin-bottom:0;font-size:13px;color:#4c4c4c;line-height:40px;padding-left:20px}
.accordion .panel3 h6{background:0;text-transform:uppercase;line-height:20px;margin-bottom:0;font-size:13px;color:#4c4c4c;height:auto;padding-left:20px}
.accordion .panel1 h6{background:0;text-transform:uppercase;line-height:20px;margin-bottom:0;font-size:13px;color:#4c4c4c;height:auto;padding-left:0}
.accordion h5{background:#ededed;cursor:default}
.leaf{margin-left:700px}
.accordion .panel2 td{border-bottom:dotted 1px #ccc;padding:15px 10px}
.accordion .panel2 td.col1{width:27%;padding-left:60px;font-size:14px;color:#7d706c}
.accordion .panel2 .col4{padding-left:0}
.accordion .panel2 td.col4 .tooltip{position:absolute;left:18px;top:-5px;display:none}
.accordion .shadow{margin-left:3px}
.accordion .panel2 .even td{background:#fcfcfc}
.panel{display:none}
.my-account p{margin-bottom:5px}
.my-account .accordion h3,.recommended-partners .accordion h3,.lead-construction .accordion h3,.approved-category .accordion h3,h3.none,.application-detail h3,.review-application h3{background:url(../Images/panel-without-btn.png) no-repeat 0 0;padding-left:15px;cursor:auto}
.my-account .col3{width:30%}
.paging{width:150px;margin:0 auto;padding:20px 0}
.paging .center{text-align:center;margin:-10px 30px 0}
.paging .center p{margin:0}
.paging .center span span{font-size:18px;color:#686868;font-weight:700}
.box1{background:#fff;-webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);margin-right:15px;padding:15px}
.box1 .per{float:left;width:160px}
.box1 .per .per-detail{margin-left:60px}
.box1 .per .per-detail h4{font-size:42px;margin-bottom:0;font-weight:700;margin-top:-10px}
.box1 .per .per-detail h4 span{font-size:30px}
.box1 .detail{margin-left:160px;padding-left:20px;margin-top:10px;border-left:1px dotted #ccc}
.box1 .detail h3{font-size:13px;color:#7d706c;margin-bottom:5px;font-weight:700}
.box1 .detail p{color:#4c4c4c}
.grid1 .col-1{width:40%}
.grid1 .col-2{width:35%;padding-top:20px}
.grid1 .product{border:solid 1px #ac9365;float:left;-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.2)}
.grid1 .details{margin-left:65px}
.btn2{text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);color:#fff;text-transform:uppercase;font-size:13px;border:solid 1px #b0aca9;background:url(../Images/buttons.gif) repeat-x 0 0;padding:4px 12px}
.btn2:hover{background-position:0 -38px}
.name p{font-size:12px}
.my-account .title{width:100%;float:left;padding:5px 0}
.my-account .title h6{font-size:14px;color:#4d4d4d; display:inline!important; float:none!important}
.my-account .title .feedback{margin-left:5px;margin-top:2px; float:none!important;}
.my-account .col-1 p{width:100%;float:left;margin-bottom:2px}
.my-account .col-3{padding-top:25px;font-size:14px}
.my-account .panel3 td{border-bottom:1px dotted #CCC}
.accordion .login{text-align:right;background:url(../Images/panel-bg.png) repeat-y 0 0;padding:10px}
.accordion .login p{margin-bottom:0;font-style:italic;padding:0 15px}
.product-name{font-size:14px}
.product-code{font-size:11px;color:#7b7b7b;padding-top:5px}
.product-img,.tdProduct img{background:url(../Images/product/box-shadow.png) no-repeat 0 0;float:left;padding:2px 3px}
.box .content .per{float:left;width:70px;padding-left:10px}
.box .content .detail{margin-left:95px}
.box .content .detail h4{font-size:11px;font-weight:700;color:#7b7b7b;margin-bottom:0}
.box .content .detail p{line-height:14px}
.box .content .border{clear:both;border-bottom:dotted 1px #ccc;margin:0 -10px 10px}
#mask{position:absolute;z-index:9000;background-color:#000;display:none;left:0;top:0}
.window{position:fixed;display:none;z-index:9999;background:#fff;padding:30px}
#dialog{width:780px;height:476px;background:url(../Images/confirm-box.png) no-repeat 0 0}
.close{float:right;background:url(../Images/cross-icon.gif) no-repeat 0 0;width:20px;height:22px;margin-right:10px}
.window h3{font-size:18px;color:#FFF;padding-left:10px}
.window .inner{padding:30px 20px}
.list-menu{width:150px;padding:2px}
.textarea{background:url(../Images/textarea-bg.gif) no-repeat 0 0;width:457px;height:115px;padding:10px}
.textarea textarea{border:0;width:457px;height:115px;font-family:Arial,Helvetica,sans-serif;font-size:12px}
#overlay{background:url(../Images/overlay.png) repeat 0 0;position:fixed;left:0;top:0;z-index:20;width:100%;height:100%;text-align:center}
#overlay img{margin-top:250px}
#submit-feedback{width:789px;height:430px}
.modal{background:#fff;-webkit-box-shadow:0 0 20px 5px rgba(0,0,0,0.3);-moz-box-shadow:0 0 20px 5px rgba(0,0,0,0.3);box-shadow:0 0 20px 5px rgba(0,0,0,0.3);display:none}
.modal h2{background:url(../Images/popup-header.gif) repeat-x 0 0;height:41px;line-height:41px;font-size:20px;color:#666;padding:0 0 0 20px}
.modal .content{background:#fff;color:#686868;padding:20px}
.modal .content select{border:1px #d7d7d7 solid;width:157px;-moz-border-radius:5px;border-radius:5px;color:#a39c9a;font-size:11px;padding:5px}
.modal .content p span{color:#534a46}
.modal .content p{margin-bottom:15px}
tr{position:relative}
.product-name .comment{position:relative}
.modal .content h3{font-size:11px;text-transform:uppercase;margin-bottom:15px;color:#686868}
.modal .comment textarea{border:1px #d7d7d7 solid;width:450px;-moz-border-radius:5px;border-radius:5px;color:#a39c9a;height:120px;font-family:Arial,Helvetica,sans-serif;font-size:11px;padding:5px}
.box2{width:250px;float:right;border-top:solid 4px #ac9365;background:#f3f3f3}
.box2 h4{border-bottom:dotted 1px #ccc;font-size:11px;border-top:1px #fff solid;margin-bottom:0;padding:8px 10px}
.modal .box2 .content{background:0;padding:10px}
.modal .box2 .content h5{margin-bottom:15px;font-size:16px;color:#7d706c;padding-top:20px}
.modal .box2 .email{background:url(../Images/@.gif) no-repeat 0 1px;padding-left:18px}
.modal .box2 .phone{background:url(../Images/phone-icon.gif) no-repeat 0 1px;padding-left:18px}
.word-count{padding-left:353px}
.word-count .word{padding-top:5px;text-transform:uppercase}
.word-count .count{width:40px;text-align:right;font-size:18px;font-weight:700}
#simplemodal-container .modal .form-btn a,#thankyou .simplemodal-overlay{line-height:26px;text-shadow:0 1px 1px rgba(0,0,0,.1);-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);background:#c8c4c0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',endColorstr='#c4c4c4');color:#7d706c;text-transform:uppercase;font-size:13px;margin-left:10px;padding:6px 15px}
#simplemodal-container .modal .form-btn a:hover,#thankyou .simplemodal-overlay:hover{background:#a48c61;color:#fff}
#thankyou{width:480px;position:absolute;left:50%;margin-left:-250px;top:300px;z-index:1000}
#thankyou .content h4{font-size:24px;color:#7d706c}
#thankyou .content p{color:#4c4c4c;font-size:13px}
#thankyou .form-btn{float:none;text-align:right;padding:100px 0 0}
.modal .cross{position:absolute;right:15px;top:12px;height:22px;width:22px;background:url(../Images/icons.gif) no-repeat 0 -372px}
a,ins,.header .welcome a:hover{text-decoration:none!important}
.flR,.paging .next,.form-btn{float:right}
.paging .prev{background:url(../Images/icons.gif) no-repeat 0 -520px;width:22px;height:22px}
.paging .next{background:url(../Images/icons.gif) no-repeat 0 -468px;width:22px;height:22px}
.menu li:hover,.menu li.active,.accordion h3.active{background-position:0 0}
.my-account .col1,.my-account .col2,.my-account .col3,.grid1 td{vertical-align:top;padding:15px}
.my-account .col1,.my-account .col2{width:35%}
.search-result{width:100%;float:left;padding:30px 0}
.search-result select{width:200px;-moz-border-radius:5px;border-radius:5px;font-size:12px;color:#a39c9a;border:1px #d7d7d7 solid;margin-bottom:10px;padding:5px}
.search-result .category{background:url(../Images/icons.gif) no-repeat 0 5px;float:left;padding:0 0 0 30px}
.search-result .category{background:url(../Images/icon-1.png) no-repeat 0 5px;float:left;padding:0 0 0 30px}
.search-result .brands{background:url(../Images/icons.gif) no-repeat 0 -41px;padding-left:30px;float:left;margin-left:10px}
.search-result .region{background:url(../Images/icons.gif) no-repeat 0 -146px;padding-left:30px;float:left;margin-left:10px;margin-right:10px}
.search-result .region-with-margin{background:url(../Images/icons.gif) no-repeat 0 -146px;padding-left:30px;float:left;margin-left:150px;margin-right:10px}
.go a{float:left;background:url(../Images/buttons.gif) repeat-x 0 -153px;margin-top:1px;color:#fff;-webkit-box-shadow:0 0 2px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px 0 rgba(0,0,0,0.2);-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;font-size:12px;padding:4px 14px}
.go a:hover{background-position:0 -185px;text-decoration:none}
.recommended-partners td p{margin-bottom:0;line-height:16px;text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:12px}
.recommended-partners .accordion .panel3 td,.recommended-partners .accordion .panel3 th{font-family:Arial,Helvetica,sans-serif;font-size:12px}
.recommended-partners td p img{margin-top:0;width:50px;height:50px;vertical-align:top;text-align:left}
.recommended-partners td,.lead-construction td{border-top:dotted 1px #ccc}
.recommended-partners .col1 p{font-size:12px;color:#7d706c;padding-bottom:5px}
.recommended-partners .col7 p{padding-bottom:10px}
.recommended-partners .col1 .cmt{float:right;cursor:pointer;margin-top:8px}
.lead-construction .eligible,.application-detail .eligible{border-top:0;color:#A19A97;font-style:italic;background:url(../Images/dotted-bg1.gif) no-repeat 50% 100%;line-height:26px}
.lead-construction td,.lead-construction th,.application-detail td,.application-detail th{vertical-align:top;color:#7b7b7b;padding:8px 0 8px 22px}
.lead-construction .panel3,.application-detail .panel3{background:#fff url(../Images/grad2.gif) repeat-x 0 0}
.lead-construction .col5{width:20%}
.lead-construction .col6 a{-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;line-height:30px}
.lead-construction .eligible a{-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;font-size:13px;color:#7d706c;line-height:18px;float:right;margin-right:12px;font-style:normal;padding:4px 15px!important}
.approved-category .accordion .panel,.my-product .accordion .panel{display:block;clear:both}
.sidebar-box ul li span{background:url(../Images/icons.gif) no-repeat 0 -319px;color:#FFF;float:right;height:20px;line-height:20px;margin-top:-4px;text-align:center;width:20px}
.search-result .label{float:left;font-size:13px;text-transform:uppercase;padding:5px 10px 0 20px}
.accordion .panel{clear:both}
.approved-category td,.my-product td{border-top:1px dotted #CCC}
.approved-category .col1,.my-product .col1{width:20%;text-align:center}
.approved-category .col1{padding-left:50px!important;text-align:left!important}
.approved-category a,.my-product a{color:#ac9365}
.approved-category h6,.my-product h6{font-size:11px;color:#695d59}
.approved-category .accordion h4,.my-product .accordion h4{padding-left:20px}
.my-product td.col4{padding:0}
.my-product .edit{background:url(../Images/icons.gif) no-repeat 0 -778px;padding-left:20px}
.col4 .col4-col1{width:250px;padding-left:10px}
.my-product .odd td td{border:0}
.my-product td .odd td{background:#f3f3f3}
.my-product h3{background:url(../Images/panel-without-btn.png) no-repeat scroll 0 0 transparent;cursor:default}
.overlay{position:absolute;background:#000;opacity:.5;width:100%;filter:alpha(opacity=50);left:0;top:0;display:none;z-index:90}
.profile-header{width:100%;float:left;background:url(../Images/partner-profile.png) no-repeat 480px 0;padding:20px 0}
.profile-header .pic{float:left;margin:0 10px 0 0}
.profile-header h4{font-size:22px;margin-bottom:5px}
.profile-header .content{padding-right:250px}
.profile-detail{float:right;width:200px}
.profile-detail h4{font-size:12px;font-weight:700;margin-bottom:2px}
.profile-detail p{line-height:18px}
.profile-detail .email{background:url(../Images/icons.gif) no-repeat 0 -574px;padding-left:20px;margin:10px 0 5px}
.profile-detail .ph{background:url(../Images/icons.gif) no-repeat 0 -597px;padding-left:20px;margin:0 0 5px}
.profile-detail .website{background:url(../Images/icons.gif) no-repeat 0 -617px;padding-left:20px;margin:0 0 5px}
.partner-profile h5 span{float:left;padding-left:25px;font-size:11px}
.partner-profile h5 .brand{width:170px;background:url(../Images/icons.gif) no-repeat 0 -660px}
.partner-profile h5 .country{width:100px;background:url(../Images/icons.gif) no-repeat 0 -701px;margin-left:50px}
.partner-profile td{vertical-align:top}
.partner-profile h6,.my-product h6{font-size:14px;color:#4d4d4d;margin-bottom:5px}
.partner-profile .accordion .panel2 td.col1{width:15%;padding-left:70px}
.partner-profile td.col2 .pic,.partner-profile td.col1 .pic,.my-product .pic,.pic-border{float:left;border:solid 1px #7d706c;-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);margin:0 15px 0 40px;padding:4px}
.pic,.my-product .pic{margin:0 15px 0 0!important}
.my-product .imagestyle{height:50px;width:50px}
.partner-profile .accordion .panel2 td.col2{width:50%}
.partner-profile .accordion h4{background:url(../Images/panel1-nobtn.gif) repeat-x 0 0;cursor:default}
.main .search-result{padding-bottom:15px}
.partner-profile .accordion h3{background:#e1e1e1 url(../Images/panel-without-btn.png) no-repeat scroll 0 0;cursor:default}
.accordion .search-result .go a,.lead-construction .col6 a,.lead-construction .eligible a{background:url(../Images/buttons.gif) repeat-x 0 -76px;color:#827672;border:solid 1px #cecece;margin-top:0;font-size:13px;padding:5px 10px}
.accordion .search-result .go a:hover,.lead-construction .col6 a:hover,.lead-construction .eligible a:hover{background-position:0 -111px;text-decoration:none}
.search-result select.sm{width:120px}
.partner-profile .accordion h5{background:url(../Images/products-panel.gif) no-repeat scroll 0 0 transparent;cursor:pointer;font-size:13px;height:40px;line-height:40px;margin-top:0;padding-left:10px;text-transform:uppercase}
.partner-profile .accordion h5.active{background-position:0 -41px}
.panel3,.sidebar-box ul li ul li,.accordion .panel2 .odd td{background:#fff}
.accordion .col2{width:17%}
.recommended-partners .col1{width:13%}
.accordion .col3,.recommended-partners .col5{width:11%}
.accordion .col4 img,.lead-construction .col7{vertical-align:middle}
.accordion .col4 .comment,.recommended-partners .col1 div{position:relative}
.grid1 .col-3,.col4 .col4-col2{width:25%}
.my-account .panel3 .odd td,.recommended-partners .odd td,.approved-category .odd td,.my-product .odd td,.partner-profile .accordion .panel2 .odd td{background:#f9f9f9}
.return,.lead-construction .col6{text-align:center}
.download:hover,.header .h-right a:hover,.breadcrumbs a:hover,.sidebar-box ul li a:hover,.back:hover,.my-account .col3 a:hover,.accordion .login a:hover,.return a:hover,#simplemodal-container .modal .box2 .email a:hover,.recommended-partners td p a:hover,.approved-category a:hover,.my-product a:hover,.profile-detail a:hover{text-decoration:underline}
.header .pipe,.paging .prev,.box1 .per img,.my-account .title h6,.my-account .title .feedback,.word-count *,.search-result .go{float:left}
.menu li:hover ul,.my-account .panel,.my-account .panel2,.my-account .panel3,.recommended-partners .panel3,.lead-construction .panel3,.my-product .panel,.partner-profile .panel{display:block}
.box,.box .content p,.modal .rating h3,.modal .comment h3,.modal .box2 .content p,.main .standard-detail{margin-bottom:10px}
.standards p,.my-account .col3 a,.my-account .col-1 a,.accordion .login a,.return a,#simplemodal-container .modal .box2 .email a,.recommended-partners td p a,.profile-detail a{color:#ae9973}
.modal .rating,.modal .comment,.recommended-partners .col7{padding-top:15px}
.recommended-partners .col7{text-align:center;padding-right:15px;width:15%}
.recommended-partners .col2,.recommended-partners .col3,.my-product .col2{width:14%}
.approved-category .col3,.my-product .col3{width:20%}
.recommended-partners .col4,.recommended-partners .col6,.lead-construction .col1{width:13%}
.recommended-partners th,.recommended-partners td,.approved-category td,.approved-category th,.my-product td,.my-product th{vertical-align:top;padding:8px 0 8px 7px}
.lead-construction th,.approved-category th,.my-product th{text-transform:uppercase}
.lead-construction .col2,.lead-construction .col3,.lead-construction .col4{width:15%}
.lead-construction .col5{width:17%}
.approved-category .col2,.my-product .col2{width:18%}
.my-product .col4 table,.partner-profile table{width:100%}
.my-product .col4{border-top:none!important}
.main .my-product .col4 p,.main .standard-detail p{margin-bottom:0}
.less{display:none}
.main .property-list h3{margin-bottom:0;font-weight:700;color:#7d706c;text-transform:uppercase}
.thankyou h3{font-size:16px;color:#7d706c;font-weight:bold;margin-bottom:15px;padding-top:10px}
.thankyou li{position:relative;margin:0 0 15px 50px}
.thankyou li .number{position:absolute;left:-50px;top:0;background:url(../Images/icons.gif) no-repeat 0 -861px;width:37px;height:37px;color:#fff;font-size:20px;text-align:center;line-height:37px}
.thankyou .go{float:right;margin-top:15px}
.thankyou .go a{padding:5px 14px}
.thankyou .go a span{background:url(../Images/icons.gif) no-repeat 0 -949px;padding:1px 0 1px 25px}
.become-partner li{font-size:12px;position:relative;line-height:18px}
.become-partner li span.normal-level{background:url(../Images/icons.gif) no-repeat 0 -1000px;width:31px;height:33px;position:absolute;left:-20px;top:0}
.box1{margin-bottom:15px}
.accordion .accordion{clear:both;margin:0;box-shadow:none}
.become-partner .accordion .accordion th{padding:10px 0 10px 60px;border-bottom:dotted 1px #ccc}
.become-partner td{vertical-align:top}
.become-partner .accordion .accordion .col1{width:10%!important;padding-left:15px}
.become-partner .accordion .accordion .col3{width:10%}
.become-partner .accordion .accordion .col2{width:25%!important}
.become-partner .accordion .accordion .col4{width:32%}
.become-partner a{color:#ae9973}
.become-partner a:hover{text-decoration:underline}
.become-partner .hide{display:none}
.become-partner .accordion .accordion td{border:0}
.become-partner .accordion .accordion td{padding-top:10px;padding-bottom:10px}
.become-partner .accordion .accordion .description td{padding-top:0;padding-bottom:0}
.become-partner .go,.application-detail .go{float:right}
.become-partner .go a,.application-detail .go a{color:#fff;float:right}
.become-partner .go span,.application-detail .go span{line-height:30px;margin-right:10px}
.become-partner .go a:hover,.application-detail .go a:hover{text-decoration:none}
.become-partner .search-result div,.application-detail .search-result div{float:left;margin-left:3px}
.become-partner .search-result select,.application-detail .search-result select{width:132px}
.steps{float:right}
.steps a{float:left;margin-right:5px;width:19px;height:18px;background:url(../Images/paging.png) no-repeat 100% 0}
.steps a.done{background-position:-24px 0}
.steps a.active{background-position:0 0}
.cmt{position:relative}
.tooltip{display:none;left:18px;position:absolute;top:-5px}
.more,.less{color:#AE9973;cursor:pointer}
.application-detail h6{font-size:16px;font-weight:bold;margin-bottom:5px}
.application-detail .col2 p{font-size:13px;color:#aba4a1}
.application-detail .col1,.application-detail .col2,.application-detail .col3{padding:15px}
.application-detail .col1{width:10%;text-align:center;padding-top:18px}
.application-detail .col2{width:70%}
.application-detail .col2 div{position:relative}
.application-detail .col2 h6,.application-detail .col2 p{padding-left:50px}
.application-detail .col3{text-align:center}
.application-detail .col3 h6{font-size:20px}
.gold-level{background:url(../Images/icons.gif) no-repeat 0 -1000px;width:31px;height:33px;position:absolute;left:0;top:0}
.application-detail .border,.form-border{background:url(../Images/border-1.gif) no-repeat 50% 0}
.normal-level{background:url(../Images/icons.gif) no-repeat 0 -1279px;width:31px;height:33px;position:absolute;left:0;top:0}
.form{padding:20px 0}
.form-field{width:100%;float:left}
.form-field .form-label{float:left;padding:10px 20px;width:130px;text-transform:uppercase}
.form-field .form-input{margin-left:170px;padding:5px}
.form-field .textbox-one input{width:312px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;box-shadow:0 2px 3px -3px #000 inset}
.form-field .browse-input input{border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px}
.form-field .form-input select{width:262px;padding:5px;border:solid 1px #ada59f;font-family:helvetica,arial,sans-serif;font-size:12px;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0 2px 3px -3px #000 inset}
.form-field .textbox-two input{width:251px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;box-shadow:0 2px 3px -3px #000 inset}
.form-field .textbox-three input{width:90px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;box-shadow:0 2px 3px -3px #000 inset}
.form-field textarea{padding:5px;border:solid 1px #ada59f;font-family:Arial;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;box-shadow:0 2px 3px -3px #000 inset;width:424px;height:128px}
.form-field .textbox-two select{width:102px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0 2px 3px -3px #000 inset}
.form-field .space{margin-bottom:10px;height:1px;line-height:1px}
.form h6{color:#7d706c;font-size:15px;font-weight:bold;padding-left:20px}
.form-field .textbox-four input{width:181px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;box-shadow:0 2px 3px -3px #000 inset}
.form-border{width:100%;padding:20px 0;float:left;background-position:50% 50%}
.form p{font-size:12px;color:#7d706c;padding:10px 0 0 20px}
.form p input{margin:0 5px 0 0;vertical-align:middle}
.logo-img{border:solid 1px #7d706c;padding:2px}
.logo-img{-webkit-box-shadow:0 1px 2px rgba(50,50,50,0.5);-moz-box-shadow:0 1px 2px rgba(50,50,50,0.5);box-shadow:0 1px 2px rgba(50,50,50,0.5);margin-bottom:10px;float:left;width:200px;height:100px}
.browse-input{clear:both}
.review-application th{padding:10px 15px}
.review-application td.col1,.review-application td.col2,.review-application td.col3{padding:10px 15px 10px 45px}
.review-application td{vertical-align:top;border-top:dotted 1px #ccc;padding:10px 15px}
.review-application th{text-transform:uppercase}
.review-application th.col1{width:35%;background:url('../Images/icons.gif') no-repeat 20px -1402px;padding-left:45px}
.review-application th.col2{width:20%;background:url('../Images/icons.gif') no-repeat 20px -1442px;padding-left:45px}
.review-application th.col3{width:20%;background:url('../Images/icons.gif') no-repeat 20px -1482px;padding-left:45px}
.review-application .odd td{background:#f9f9f9}
.review-application .go a{margin-right:30px}
.review-application .box1 .go a{margin-right:0}
.review-application .accordion .panel1 .go a,.review-application .accordion .panel1 .go input{margin:0 45px 20px 0}
.review-application .go a,.review-application .go{float:right}
.review-application .label{padding:10px 10px 10px 20px;float:left;width:150px;text-transform:uppercase}
.review-application .input{margin-left:180px;padding:8px 0;font-size:13px;color:#a39c9a}
.review-application .accordion .row{width:100%;overflow:hidden}
.review-application .accordion h4{padding-left:20px}
.review-application .accordion p{margin-bottom:5px}
.review-application h6{font-size:15px;padding:20px 0 10px 20px!important;font-weight:bold}
.review-application .border{text-align:center}
.review-application .accordion h4{background:url("../Images/panel1-nobtn.gif") repeat-x 0 0;cursor:default}
.review-application .col2 div{position:absolute}
.review-application .accordion .panel1 td.col2{padding-left:20px;width:75%}
.review-application .accordion .panel1 td.col2 h6{padding:10px 0 5px 40px}
.review-application .accordion .panel1 td.col2 p{padding:0 0 0 40px;color:#aba4a1;font-size:13px}
.review-application .accordion .panel1 td.col3 h6{padding:10px 0 0 0;font-size:20px}
.review-application .accordion .panel1 td.col3{text-align:right}
#non-approved-product h3{font-size:24px;color:#7d706c;text-transform:none;margin-bottom:5px}
#non-approved-product h4{font-size:18px;color:#000}
#non-approved-product p{font-size:12px;margin-bottom:30px}
#non-approved-product{width:798px}
.approved-product{margin-bottom:20px}
.approved-product li{width:100%;overflow:hidden;padding-bottom:10px}
.approved-product li .label{float:left;width:140px;padding:6px 20px 5px 50px;text-transform:uppercase}
.approved-product li .input{float:left}
.approved-product li .input input{width:475px;border:solid 1px #ada59f;padding:5px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#7d706c}
.approved-product li .input textarea{width:475px;height:100px;border:solid 1px #ada59f;padding:5px;-webkit-border-radius:4px;font-family:Arial;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#7d706c}
.alR{text-align:right}
#simplemodal-container #non-approved-product .form-btn a{border:1px solid #d9d9d9;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.05,#c4c4c4),color-stop(0.69,#e7e7e7))}
#simplemodal-container #non-approved-product .form-btn a:hover{background-image:linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-o-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-moz-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-webkit-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-ms-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.05,#9f885e),color-stop(0.69,#ac9366));border:solid 1px #ac9366}
.project-list .panel3{display:block}
.project-list .panel3 th{text-transform:uppercase}
.project-list td{border-top:dotted 1px #ccc;vertical-align:top;line-height:16px}
.project-list .panel3 td,.project-list .panel3 th{padding:8px 5px 8px 10px;font-size:11px}
.project-list .panel3 th a{color:#695D59}
.project-list .col1{width:12%;padding-left:15px!important}
.project-list .col2{width:18%}
.project-list .col3{width:14%}
.project-list .col4{width:25%}
.project-list .col4 div{margin-bottom:8px}
.project-list .go{float:right;margin-right:10px}
.project-list .go a{font-size:10px;line-height:14px;background-color:#9c896b;text-align:center;cursor:pointer}
.project-list .go a:hover{background-color:#927d56}
.project-list .at{background:url(../Images/icons.gif) no-repeat 0 -1549px;padding-left:18px}
.project-list .add{background:url(../Images/icons.gif) no-repeat 0 -1595px;padding-left:18px}
.project-list .col5{text-align:center}
.project-list .col4 a{color:#ae9973}
.project-list .col4 a:hover{text-decoration:underline}
.project-list .col4 .edit{padding-right:40px;margin-right:-18px;font-style:normal;font-size:11px}
.project-list .col4 .nonedit{padding-right:40px;margin-right:-18px;font-style:normal;font-size:11px}
.project-list .col4 .edit:hover{background:url(../Images/icons.gif) no-repeat 100% -778px}
.project-list .col4 span{font-size:9px;font-style:italic;color:#a4a4a4}
.project-list .odd td{background:#f9f9f9}
.project-list h3{background:url("../Images/panel-without-btn.png") no-repeat scroll 0 0 transparent;cursor:auto;padding-left:15px}
.color1{color:#ae9973}
#add-edit{width:435px}
#add-edit li{width:100%;float:left;margin-bottom:10px}
#add-edit .label{width:120px;float:left;text-transform:uppercase;padding:5px}
#add-edit .input{margin-left:150px}
#add-edit .textbox input{width:215px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#686868}
#add-edit .input select{width:227px;padding:5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#686868}
#add-edit .form-btn{float:none;clear:both}
#add-edit .form-btn .remove-project{margin-left:0!important;margin-right:15px}
.contact-form{width:100%;overflow:hidden;padding:20px 0}
.contact-form .row{width:100%;float:left}
.contact-form .row .label{padding:12px 10px 0 30px;width:100px;float:left;text-transform:uppercase}
.contact-form .row .input{margin-left:140px;padding:5px}
.contact-form .row .input input,.contact-form .row .input textarea{padding:5px;width:280px;-moz-border-radius:5px;border-radius:5px;font-size:12px;font-family:Arial;color:#a39c9a;border:1px #d7d7d7 solid;padding:5px;margin-bottom:10px}
.box1-inner{width:100%;overflow:hidden}
.box1-inner .lft{float:left;width:180px;padding:15px 10px;margin-right:20px;background:url(../Images/single-line.gif) no-repeat 100% 0;height:77px}
.box1-inner .lft h3{text-transform:uppercase}
.box1-inner .lft p{font-size:15px;font-weight:bold;line-height:22px}
.box1-inner .rgt{margin-left:225px;padding-top:10px}
.become-partner li span.calender{background:url("../Images/icons.gif") no-repeat scroll 0 -1675px transparent;height:33px;left:-20px;position:absolute;top:0;width:31px}
.box1-inner .rgt .go{margin-top:-40px;position:relative;z-index:10;text-transform:uppercase}
.box1-inner .rgt p{font-size:15px;font-weight:bold}
.account-status .cnt .go input{background:url(../Images/buttons.gif) repeat-x 0 -76px;color:#827672;border:solid 1px #cecece;margin-top:0;font-size:11px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;padding:5px 15px;text-transform:uppercase;margin-left:10px}
.account-status .cnt .go input:hover{background-position:0 -153px;text-decoration:none;color:#fff;border-color:#9f885e}
.account-status .row .select1 select{width:212px;-moz-border-radius:5px;border-radius:5px;font-size:12px;color:#a39c9a;border:1px #d7d7d7 solid;padding:5px;margin-bottom:5px}
.account-status .row .select2 select{-moz-border-radius:5px;border-radius:5px;font-size:12px;color:#a39c9a;border:1px #d7d7d7 solid;padding:5px;margin-bottom:5px
}
.account-status .row .textbox1 input{width:200px}
.account-status .row .textbox2 input{width:180px}
.check-payment h2 p,.check-payment h2{font-size:26px!important}
.check-payment h3 p,.check-payment h3{font-size:16px;font-weight:bold;color:#7d706c;margin-bottom:10px;padding-top:10px}
.check-payment p{font-size:12px;line-height:20px}
.account-status .cnt .go a{background:url(../Images/buttons.gif) repeat-x 0 -76px;color:#827672;border:solid 1px #cecece;margin-top:0;font-size:13px;padding:5px 15px;text-transform:uppercase;margin-left:10px}
.account-status .cnt .go a:hover{background-position:0 -153px;text-decoration:none;color:#fff;border-color:#9f885e}
#email-partner{height:400px;width:789px}
#simplemodal-container .modal .form-btn a,#email-confirm .form-btn a,.termandcondition .form-btn a{background:url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent;border:1px solid #CECECE;color:#827672;font-size:13px;margin-left:10px;margin-top:0;padding:5px 15px;text-transform:uppercase;border-radius:.3em .3em .3em .3em;box-shadow:0 1px 2px rgba(0,0,0,0.2)}
#simplemodal-container .modal .form-btn a:hover,#email-confirm .form-btn a:hover,.termandcondition .form-btn a:hover{background-position:0 -153px;border-color:#9F885E;color:#FFF;text-decoration:none}
.copy{padding:30px 0 0 0;font-size:12px}
.copy input{vertical-align:middle;margin:0 5px 2px 0}
.form-btn p{color:#7d706c;font-size:12px;font-style:italic;text-align:right}
#email-confirm h3{color:#7d706c}
#email-confirm{height:370px;width:789px;position:absolute;left:50%;margin-left:-394px;top:300px;z-index:1000}
#email-confirm .box2{margin-left:30px}
#email-confirm .content h4{color:#7d706c}
#email-confirm p{font-size:11px}
#email-confirm .email a{color:#AE9973}
#email-confirm .content .box2 p{font-size:11px}
#email-confirm .content p{color:#4c4c4c;font-size:13px}
#email-confirm .form-btn{float:none;text-align:right;padding:30px 0 0}
.modal .cross{position:absolute;right:15px;top:12px;height:22px;width:22px;background:url(../Images/icons.gif) no-repeat 0 -372px}
.payment-form h3{background:url("../Images/panel-without-btn.png") no-repeat scroll 0 0 transparent;cursor:auto;padding-left:15px}
.payment-form .panel3{display:block}
.payment-form th{padding:10px 15px}
.payment-form td.col1,.payment-form td.col2,.payment-form td.col3{padding:10px 15px 10px 45px}
.payment-form td{vertical-align:top;padding:10px 15px}
.payment-form th{text-transform:uppercase}
.payment-form th.col1{width:35%;background:url('../Images/icons.gif') no-repeat 20px -1402px;padding-left:45px}
.payment-form th.col2{width:20%;background:url('../Images/icons.gif') no-repeat 20px -1442px;padding-left:45px}
.payment-form th.col3{width:24%;background:url('../Images/icons.gif') no-repeat 20px -1482px;padding-left:45px}
.payment-form th.col4{padding-left:15px}
.payment-form .odd td{background:#f9f9f9}
.payment-form .col2,.payment-form .col3{padding:10px 15px 10px 45px}
.payment-form .eligible{border-top:0;color:#A19A97;font-style:italic;background:url(../Images/dotted-bg1.gif) no-repeat 50% 100%;line-height:26px}
.payment-form th{vertical-align:top;color:#7b7b7b;padding:8px 0 8px 22px}
.payment-form .panel3{background:#fff url(../Images/grad2.gif) repeat-x 0 0}
.payment-form .approved-cat th{background-color:#fff}
.payment-form .account-type td{padding:15px}
.payment-form .account-type td.col1{padding-top:18px}
.payment-form .account-type .col2 div{position:relative}
.payment-form .account-type .col2 h6,.payment-form .account-type .col2 p{padding-left:45px}
.payment-form .account-type .col2 h6{font-size:15px;font-weight:bold;color:#666}
.payment-form .account-type .col2 p{color:#999;font-size:13px}
.payment-form .account-type .col2{width:70%}
.payment-form .account-type .col1{width:10%;text-align:center}
.payment-form .account-type .col3{text-align:center}
.payment-form .account-type .col3 h6{font-size:20px;color:#666;font-weight:bold}
.payment-form .border{background:url(../Images/border-1.gif) no-repeat 50% 0}
.payment-form .approved-cat p{margin-bottom:0}
.information-forms h3{color:#4C4C4C;cursor:pointer;font-size:16px;font-weight:700;height:37px;line-height:37px;margin-bottom:0;padding-left:15px;padding-top:4px}
.information-forms{clear:both;width:100%;float:left;margin-bottom:15px}
.information-forms .contact-form{float:left;width:347px;padding:0;-webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0.3);box-shadow:0 2px 3px 1px rgba(0,0,0,0.3)}
.information-forms .contact-form.flR{float:right;margin-right:15px}
.information-forms .content{padding:20px 10px 10px 8px;background:#fff;height:250px}
.information-forms li{width:100%;float:left;margin-bottom:12px}
.information-forms .label{float:left;width:100px;padding:5px;font-size:11px;text-transform:uppercase}
.information-forms .input{float:left;padding:0 0 0 4px;color:#999;text-transform:uppercase}
.information-forms .input .textbox{color:#999;font-size:13px;padding:3px 10px;border:solid 1px #999;float:left;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:0 2px 3px -3px #000 inset;width:180px}
.information-forms .mandatory{background:#996;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.information-forms .mandatory span{color:#999;font-size:11px;background:#fff;text-transform:uppercase;float:left;padding:3px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:180px}
.information-forms .checkbox{padding:3px 0}
.information-forms .checkbox input{margin:0 5px 0 0;vertical-align:bottom}
.information-forms h3{cursor:default}
.information-forms .mandatoryBG{background:#996!important}
.payment-form .box1{float:left;width:720px;padding:0}
.payment-form .box1 h3{color:#4C4C4C;cursor:default;font-size:16px;font-weight:bold;height:37px;line-height:37px;margin-bottom:0;padding-left:15px;padding-top:4px}
.payment-form .box1 .content{padding:15px 18px}
.payment-form .box1 .go{float:right}
.payment-form .box1 select{width:168px;padding:3px 5px;border:solid 1px #ada59f;-webkit-border-radius:4px;-moz-border-radius:4px;color:#999;font-size:13px;margin-left:15px}
.main .payment-form .box1 p{margin-bottom:0;text-transform:uppercase}
.main .payment-form .box1 p select{text-transform:none}
.main .payment-form .content li{display: block;list-style-type: disc;}
.approved-cat td{border-top:dotted 1px #ccc}
.no-border{border:0;width:100%}
.no-border td{border:0;border-bottom:dotted 1px #B8B8B8}
.no-border td td{border:0}
.cell1{width:33%;color:#7D706C;font-size:14px;padding-left:60px}
.alternate{background:#F9F9F9}
.tdPartner{width:80%}
.table5{width:100%}
.tdProduct{width:14%}
.tdProduct img{height:50px;width:50px}
.tdPartner img{height:50px;width:50px}
.errorText,.form-field .errorText{font-family:'Myriad Pro',Arial;font-size:11px;color:#e95e3f;height:20px;font-weight:normal}
.recommended-partners .col1 td{border:0;padding:0}
.message{padding:10px 30px;margin-bottom:0;padding:10px 30px}
.messagefilter{padding:10px 30px;margin-bottom:25px}
.notification{border:1px solid #FCEFA1;color:#363636;background:#fbfaf0 url(../Images/highlight.gif) no-repeat 10px 10px}
.error{border:1px solid #CD0A0A;color:#CD0A0A;background:#fef8f6 url(../Images/highlight.gif) no-repeat 10px -44px}
.success{border:1px solid #4bc422;color:#363636;background:#e5ffdc url(../Images/highlight.gif) no-repeat 10px -98px}
.cell2{width:20%}
.form-field span{color:#7D706C;font-size:15px;font-weight:bold;padding-left:0}
.form-field .form-label span{color:#695D59;font-size:11px;padding-left:0;font-weight:normal}
.go input{float:none;cursor:pointer;background:url(../Images/buttons.gif) repeat-x 0 -153px;border:0;font-family:Arial;margin-top:1px;color:#fff;-webkit-box-shadow:0 0 2px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px 0 rgba(0,0,0,0.2);-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;font-size:12px;padding:5px 14px}
.go input:hover{background-position:0 -185px;text-decoration:none}
.panel1 .go input,.search-result .go input ,.serch{background:url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent;border:1px solid #CECECE;color:#827672;font-size:13px;margin-top:0;padding:4px 15px;cursor:pointer;border-radius: 0.3em}
.panel1 .go input:hover,.search-result .go input:hover{background-position:0 -111px;text-decoration:none}
.alternate{background:#efefef}
.review-application .accordion .editbtn{overflow:visible;margin-top:-40px}
.row .readonly input{background:#efefef}
.cat-table{width:100%}
.apply{padding:5px 0 5px 10px}
.become-partner .description{padding:0 0 15px 103px}
.edit-btn{width:100%;overflow:hidden;border-top:dotted 1px #666}
.edit-btn .go input{background:url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent;border:1px solid #CECECE;color:#827672;font-size:13px;padding:4px 15px;cursor:pointer;margin:0 45px 20px 0}
.edit-btn .go input:hover{background-position:0 -111px;text-decoration:none}
.cell{width:33%;text-align:center}
.cell p{margin:0}
.cell .large{font-size:22px;font-weight:bold}
.recipt .panel3{display:block;padding:15px}
.recipt h3{background:url(../Images/panel-without-btn.png) 0 1;cursor:default}
.recipt .box1{clear:both}
.recipt .box1 h3{margin:-15px -15px 0 -15px;color:#4C4C4C;font-size:16px;font-weight:700;height:37px;line-height:37px;margin-bottom:0;padding-left:15px;padding-top:4px}
.recipt .box1 p{margin:0}
.recipt .box1 .content{padding:30px 20px 15px 20px}
.recipt .information-forms .mandatory{background:0;border-radius:4px 4px 4px 4px}
.information-forms .readonly{background:#efefef}
.recipt .information-forms .input .textbox{border:0;border-radius:0;box-shadow:0 0 0 0 #000 inset;color:#999;float:left;font-size:13px;padding:3px 10px;width:180px}
.recipt .information-forms .content{height:215px}
.recipt .type{margin-left:40px;color:#a39c9a;font-size:13px}
.recipt h6{font-size:16px;font-weight:bold;margin-bottom:5px}
.recipt .col2 p{font-size:13px;color:#aba4a1;margin-bottom:0}
.recipt .col1,.recipt .col2,.recipt .col3{padding:15px}
.recipt .col1{width:10%;text-align:center;padding-top:18px}
.recipt .col2{width:70%}
.recipt .col2 div{position:relative}
.recipt .col2 h6,.recipt .col2 p{padding-left:50px}
.recipt .col3{text-align:center}
.recipt .col3 h6{font-size:20px}
.gold-level{background:url(../images/icons.gif) no-repeat 0 -1000px;width:31px;height:33px;position:absolute;left:0;top:0}
.box .email{background:url("../Images/@.gif") no-repeat scroll 0 1px transparent;padding-left:18px}
.box a,.em{color:#AE9973}
.box h5{margin-bottom:15px;padding-top:10px}
.box h3 img{margin:0 5px 0 0;vertical-align:bottom}
.profile-header{width:470px;padding-right:30px}
.profile-header .content{padding-right:0}
.contactdetails{float:right;padding-top:20px}
.contactdetails .profile-detail{padding-left:5px}
.select-listbox{border:1px solid #D7D7D7;border-radius:5px 5px 5px 5px;color:#A39C9A;font-size:12px;padding:5px;width:190px}
.back-list{float:right;margin-top:-30px;padding-right:10px}
.back-list a{color:#886200}
.partner-profile .accordion h2{font-size:12px;font-weight:bold;margin-bottom:5px}
.partner-profile .accordion td{padding:5px}
.partner-profile .accordion h5 td{padding:13px 0 0 0}
.table1{width:580px;margin-top:10px}
.table1 td{padding:5px 5px 5px 0;font-size:13px;color:#534a46;vertical-align:top;line-height:18px}
.table1 label{color:#686868;padding-right:15px;font-size:12px;text-transform:uppercase}
.btn3{clear:both;width:100%;overflow:hidden;padding-top:10px}
.btn3 a{margin-left:10px;line-height:28px;padding-left:10px;padding-right:10px;border-radius:5px}
.btn3 a:hover{background-position:0 -30px}
.table2{line-height:12px;border:0;padding-top:10px;padding-bottom:10px}
.panel .tb-col1{width:30%;padding-left:35px;font-size:13px;color:#534a46}
.panel .tb-col2{width:18%}
.panel .tb-col3{width:34%;float:left}
.panel .tabel2 .tb-col3 .no-border{width:230px}
.panel .tabel2 .tb-col3 .no-border td{padding:8px;line-height:18px}
.panel .tb-col4{width:20%}
.panel .tb-col5{text-align:right;padding-right:20px}
.panel .tb-col5 .edit{background:url(../Images/icons.gif) no-repeat 0 -778px;padding-left:20px;color:#ae9973}
.panel .tb-col5 .edit:hover{text-decoration:underline}
.table2 img{vertical-align:middle}
.accordion .panel1 .tabel2 .tb-col1{width:100px;padding-left:35px;font-size:13px;color:#534a46;padding-top:10px;padding-bottom:10px;line-height:12px}
.accordion .panel1 .table2 .tb-col2{width:30px;padding-left:35px}
.link{background:url("../Images/buttons.gif") repeat-x scroll 0 -153px transparent;border-radius:.3em .3em .3em .3em;color:#FFF;line-height:16px;font-size:12px;padding:1px 8px}
.link:hover{background-position:0 -185px;text-decoration:none}
.property-list-detail{padding-top:0}
.tabel2{width:100%}
.table2-overlay{overflow:hidden}
.tabel2 span{float:left;padding:8px;line-height:18px}
.tabel2 .no-border{width:550px}
.tabel2 .no-border td{border:0;padding:5px}
.tabel2 .no-border tr{background:0}
.btn1 span{background:url("../images/btn-left.gif") no-repeat scroll 0 0 transparent;float:left;height:30px;line-height:28px;padding:0 15px}
.tb-col1 img{cursor:pointer}
.row-field{text-align:right;font-style:italic}
.row-field a{color:#ae9973}
.row-field a:hover{text-decoration:underline}
.my-account .row-field p{margin-bottom:0}
#non-approved-product .form-btn a{border:1px solid #d9d9d9;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";color:#7D706C;line-height:26px;margin-left:10px;padding:6px 15px;border-radius:.3em .3em .3em .3em;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.05,#c4c4c4),color-stop(0.69,#e7e7e7))}
#non-approved-product .form-btn a:hover{background-image:linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-o-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-moz-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-webkit-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-ms-linear-gradient(bottom,#9f885e 5%,#ac9366 69%);background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.05,#9f885e),color-stop(0.69,#ac9366));border:solid 1px #ac9366;color:#fff}
.row-field{padding:5px 0}
.partnerpro .col1{width:40%}
.partnerpro .col2{width:30%}
.partnerpro .col3{width:40%}
.my-account .title h6{padding-left:0}
.checkbox-op label{vertical-align:top}
.go .gradient-btn{background:url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent;border:1px solid #CECECE;color:#827672!important;font-size:13px;margin-top:0;padding:5px 15px;margin:0 10px}
.go .gradient-btn:hover{background-position:0 -111px}
.panel1 .nostyle td{border:0;padding:0 0 5px 0}
.panel1 .col4-col1 h6{text-transform:none;font-weight:bold}
.become-partner .description{padding:0 0 15px 0}
.become-partner .addedit-product .accordion .accordion th{padding:10px 0 10px 60px;border-bottom:dotted 1px #ccc}
.become-partner .addedit-product td{vertical-align:top}
.become-partner .addedit-product .accordion .accordion .col1{width:10%}
.become-partner .addedit-product .addedit-product .accordion .accordion .col2,.become-partner .accordion .accordion .col3{width:18%}
.become-partner .addedit-product .accordion .accordion .col4{width:35%}
.become-partner .addedit-product a{color:#ae9973}
.become-partner .addedit-product a:hover{text-decoration:underline}
.become-partner .addedit-product .description{padding:0 0 15px 0}
.become-partner .addedit-product .hide{display:none}
.become-partner .addedit-product .accordion .accordion td{border:0}
.become-partner .addedit-product .accordion .accordion td{padding-top:10px;padding-bottom:10px}
.become-partner .addedit-product .accordion .accordion .description td{padding-top:0;padding-bottom:0}
.become-partner .addedit-product .go,.application-detail .go{float:right}
.become-partner .addedit-product .go a,.application-detail .go a{color:#fff;float:right}
.become-partner .addedit-product .go span,.application-detail .go span{line-height:30px;margin-right:10px}
.become-partner .addedit-product .go a:hover,.application-detail .go a:hover{text-decoration:none}
.become-partner .addedit-product .search-result div,.application-detail .search-result div{float:left;margin-left:3px}
.become-partner .addedit-product .search-result select,.application-detail .search-result select{width:132px}
.become-partner .addedit-product .description{padding:0 0 15px 103px}
.become-partner .addedit-product .accordion .accordion .description td{padding-top:0;padding-bottom:0}
.btn3{border-radius:.3em .3em .3em .3em;color:#FFF;float:left;font-size:12px;margin-top:1px;padding:6px 14px;text-decoration:none;float:right}
.btn3:hover{background-position:0 -185px}
.menu li:hover,.menu li.active,.accordion h3.active{background-position:0 0}
.btn4:hover{background-position:0 -185px}
.btn4{background:url("../Images/buttons.gif") repeat-x scroll 0 -153px transparent;border-radius:.3em .3em .3em .3em;color:#FFF;float:left;font-size:12px;margin-top:1px;padding:6px 14px;text-decoration:none;float:right}
.tabel2 .prod-div .no-border .col1{width:24%;font-size:14px;padding-left:20px}
.nowidth{width:0!important;padding-left:0!important}
.tabel2 .prod-div .no-border .col2{width:auto}
.tabel2 .prod-div .no-border{width:100%}
.tabel2 .prod-div .no-border .col2 .tdPartner{width:22%}
.tabel2 .prod-div .no-border .col2 .comment{float:right;margin-top:-5px}
.tabel2 .prod-div .no-border .col2 .product-name{padding-top:10px}
.tabel2 .prod-div .no-border .col2 .product-code{padding:5px 0 0 0}
.property-list-detail{padding-bottom:0}
.accordion-panel{margin-bottom:10px}
.accordion-panel .accordion{margin-bottom:0}
.print-btn{padding-top:8px;margin-right:-10px;float:right}
.prod-detail .col1{width:130px;padding-left:65px!important}
.prod-detail .col2{text-align:center;width:120px}
.prod-detail .col3{width:auto}
.prod-detail table{width:auto}
.div-content{border-right:#e6e6e6 solid 1px;border-left:#e6e6e6 solid 1px;border-bottom:#e6e6e6 solid 1px;padding:25px 30px}
#rightsidebar-wrapper{width:245px;float:right;margin-top:8px 0 0 0;padding:0;word-wrap:break-word;overflow:hidden}
#rightsidebar-wrapper.fixed{position:fixed;top:0}
.property-list-detail .description{padding:0 10px 20px 103px}
.recommended-partners .panel3 ul{padding-left:13px}
.recommended-partners .panel3 ul li,.approved-category .panel1 ul li,.my-account .panel3 ul li,.become-partner .property-list-detail ul li{list-style:outside disc}
.box1 .message{float:left}
.aspNetDisabled{background:#efefef}
.partner-profile h5 span{width:75px}
table{font-size:11px}
.imagestyle,.imagestyle1{border:1px #886200 solid!important;height:50px;width:50px}
.account-status .row .mandatory input{border-left:solid 4px #996;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.date .alink{color:#AE9973}
.fileinputs,.row .fileinputs{position:relative;float:left;width:65px!important;height:20px;padding-top:0!important}
.ImageUpload{position:relative;text-align:right;-moz-opacity:0;filter:alpha(opacity=1);opacity:0;z-index:2;margin-left:-50px!important}
#imageErrSpan,#pdfErrSpan{clear:both;display:block;padding-top:5px}
.customStyle{position:absolute;border:0;color:#fff}
.imgsrc{float:left;padding-top:4px!important;padding-left:5px!important}
.form .imageload{position:relative;padding-left:178px}
.form-1 .imageload{position:relative;}
.loadingimg{position:absolute;left:18px;top:15px;display:none}
.approved-category .panel table{width:100%}
.contact-form .mandatory{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-left:3px solid #996!important}
.contact-form .row .validation{margin-left:140px;padding:5px;margin-top:-10px}
.contact-form .row .errorText{font-family:'Myriad Pro',Arial;font-size:11px;color:#996;height:20px;font-weight:normal}
.sort-a a{color:#886200!important;background:url(../Images/sort-up.png) no-repeat 100% 6px!important;padding-right:14px}
.sort-d a{color:#886200!important;background:url(../Images/sort-down.gif) no-repeat 100% 6px!important;padding-right:14px}
th a{color:#695D59}
.account-gold-level{background:url(../Images/icons.gif) no-repeat 0 -1000px;width:31px;height:33px;position:absolute;left:-20px;top:0}
.account-normal-level{background:url(../Images/icons.gif) no-repeat 6px -1279px;width:31px;height:33px;position:absolute;left:-20px;top:0}
.content .detail h3{font-size:13px}
.imgname{padding-top:0}
.imgname a{font-size:11px;font-weight:normal;color:#999}
.application-detail .col2 p a{color:#886200}
.partner-profile .accordion h5.panel1,.partner-profile .accordion h5.nostyle{line-height:normal}
.partner-profile .accordion h5.nostyle{background:#efefef;cursor:default}
.go a.btn-one{padding:6px 14px}
.mg-right{margin-right:20px}
.paymentForm{padding-left:0px}
.paymentFormPad100{padding-left:100px}
.noborder{border:none!important}
.project-list .without-at{padding-left:18px}
.contact-form .row .errorText{font-family:'Myriad Pro',Arial;font-size:11px;color:#E95E3F;height:20px;font-weight:normal}
.checkedImage{margin-right:5px;vertical-align:middle}
.selectedText{vertical-align:super}
.H3Text{vertical-align:top}
.whiteBG{background-color:white}
.nobtn{background:#e1e1e1 url(../Images/panel-without-btn.png) no-repeat 0 0!important}
.noproducts{background:#e1e1e1 url(../Images/panel1-wthout-btn.png) no-repeat 0 0!important}
a,a:active{outline:0}
input[type="text"]:disabled,select[disabled]{opacity:.5}
.review-application .accordion h6{padding:0 0 0 38px!important}
.customStyle{padding-bottom:0!important;padding-left:0!important;padding-right:0!important}
body{background:#F2EEED url(../Images/content-bg.gif) repeat-x 0 0;font-family:helvetica,arial,sans-serif;font-size:11px;color:#695d59}
#divMaster{background:url(../Images/main-bg.jpg) no-repeat 50% 0}
.loadingimg-becomepartner{position:absolute;left:196px;top:30px;display:none}
.featuredprofile-label{font-size:14px;color:#7D706C}
#hdr-print{display:none}
.review-application .accordion .pad20{padding-left:20px!important}
.review-application .wid{width:470px!important}
.prod-detail .col1 p{font-size:12px}
.recommended-partners .accordion h3{background:url(../Images/panel-without-btn.png) repeat 0 0!important}
.browsePartner-main{width:780px!important}
.nofloat{float:none!important}
.browsepartner-sidebar{width:220px!important}
.partnerpro .col3 .title,.partnerpro .col2 .title{text-transform:uppercase}
.upper{text-transform:uppercase}
input[readonly]{background:#efefef}
.approved-category .panel1 ul{padding-left:13px}
.become-partner .accordion .accordion .col3{width:14%}
.chkbox input{vertical-align:top}
.widthTC{width:698px!important;height:162px!important}
.editor1{clear:both;padding:7px 0 5px 10px}
.graybg{background-color:lightgray;border:lightgray}
.aligntop{vertical-align:top}
.standards{clear:both;padding-left:15px}
.box1-inner .rgt div{margin-left:20px}
.form-spec{width:350px;padding:10px 180px}
.contact-form .form-spec{width:350px;padding:5px 150px}
.padtop{padding-top:8px!important}
.partOpp-padleft,.addEdit-pad{padding-left:15px!important}
.nostyle{list-style:none!important}
.NextStepsMargin{margin:0 0 15px 50px!important}
.noULstyle{list-style:none!important}
.tg{color:#FFF;float:right!important;text-transform:none;font-size:12px;font-weight:bold;height:19px;line-height:18px;margin-right:-65px;text-indent:29px;width:80px;padding:0!important}
h4 .acc-open{display:block}
h4 .acc-close{display:none}
h4.active .acc-open{display:none}
h4.active .acc-close{display:block}
.acc-open{background:url(../Images/acc-toggle.gif) repeat 0 0!important}
.acc-close{background:url(../Images/acc-toggle.gif) repeat 0 100%!important}
.accordion h3 .acc-open{background:url(../Images/open-close-img.gif) repeat 0 100%!important}
.accordion h3 .acc-close{background:#e2e2e2 url(../Images/open-close-img.gif) no-repeat 0 0!important}
h3 .acc-open{display:block}
h3 .acc-close{display:none}
h3.active .acc-open{display:none}
h3.active .acc-close{display:block}
.addedit-padtop{padding-top:10px!important}
.thankyouspace li{margin-bottom:25px!important}
.pytfrm-warning{font-family:'Myriad Pro',Arial;font-size:12px;color:#e95e3f;height:20px;font-weight:bold}
.sidebar ul{list-style:none}
.contact-us a{color: #AE9973;}
.chkbox{ line-height:16px;}
.abc ul{ padding-left:14px;}
.tabel2 span p { margin-bottom : 0 !important}
.tabel2 span .product, .col4 .col4-col1 .product, .prod-detail .col3 .product{border:solid 1px #ac9365;float:left; margin-top : 2px ; -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.2)}
.tabel2 span .downloadPDFButton, .col4 .col4-col1 .DownloadSpecSheet, .prod-detail .col3 .downloadPDFButton{color : #ae9973 ; margin-left : 3px ; margin-top : 2px }
.flL{ float:left;}

#log{background:none; border:0;}
#search{color: #A39C9A; font-size: 12px;}
.parentDiv .abcd{background:#fff; border:solid 1px #efefef;}

#cphContent_updPnlPartner, .browsepartner-sidebar{float:left;}
#cphContent_updPnlPartner{width:75%;}
.browsePartner-main.one{width:100% !important;}
.wrap{width:140%;}
.search-result.part1{width:74% !important;}
.browsepartner-sidebar.style1{width:242px!important;  background: url("../Images/grad1.gif") repeat-x scroll 0 100% #F7F7F7;}
.browsepartner-sidebar.style1 .middle{ padding:10px 6px;}
.cntnt{min-height:150px;}
.main-content.paddingTop{padding-top:2px !important;}
.style2{padding:0px !important;}
.ui-state-default{border: 1px #d7d7d7 solid !important;background:white !important;
                  margin-bottom: 10px;width: 140px !important; padding: 5px !important;
                  color: #a39c9a !important;}
 #search.search{color: #A39C9A; width: 68%;
font-size: 12px;
padding: 5px;
border: solid 1px #ada59f;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size: 11px;
box-shadow: 0 2px 3px -3px #000 inset;}
input[type="submit"]{border:none;}
.goStyle{background: url(../Images/buttons.gif) repeat-x 0 -153px;
margin-top: 1px;
color: #fff;
-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
-webkit-border-radius: .3em;
-moz-border-radius: .3em;
border-radius: .3em;
font-size: 12px;
padding: 4px 10px;}
.middle .padding{padding:4px;}
.ui-corner-all{font-size: 12px;
color: #a39c9a;
padding: 5px;}
.ui-widget-content a {
color: #817E7E !important;
}
.ui-autocomplete-category{color: #817E7E !important;}
.main-content p {
margin-bottom: 20px;
}
label.ui-state-hover {
background: #dadada !important;
}
.ui-widget-header {
 background: #FCFCFC !important;
}
.ui-multiselect-menu{width:auto !important;}

.abcd
{
    border-bottom: 0 none #b3b3b3;
    font-weight: normal;
    text-transform: none;
    display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
    padding: 0px 8px;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
/* Darken IE7 buttons by default so they stand out more given they won't have borders */

  **border-left-style: none;
    border-left-color: inherit;
    border-left-width: 0;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: 0;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: 0;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.icon-cancel{background-image: url(../Images/close.png) !important;margin-top: 5px;margin-left: 5px;}
.label{font-weight:bold;color: #868686;font-family: helvetica,arial,sans-serif !important;margin: 3px 5px 0;}
#cphContent_textCategory.ui-autocomplete-input
{margin-left: 89px;
    border-radius: 5px;
font-size: 12px;
color: #a39c9a !important;
border: 1px #d7d7d7 solid;
margin-bottom: 10px;
padding: 5px;
width: 132px;}

.ui-widget-content{background:#dadada !important;width:230px !important;background-color: white !important;list-style-type:none;cursor:default;}
.ui-state-default{font-weight:normal !important;color:#a39c9a; !important;}
.ui-state-active, .ui-state-default{background:#fff !important;}
.ui-icon{background-image: url(../Images/ui-icons_222222_256x240.png) !important;}
.ui-multiselect{width:160px !important;}
.search-result .brands{margin-left:0px !important;}
.message.error{width: 89.70%;}


.no-margin button{ margin-bottom:0px!important;}
.ui-menu-item a{ cursor:pointer;}

.ui-autocomplete{
     max-height: 315px;
    left: 760px;
    overflow: auto;
    position: absolute;
    top: 259px;
    }   
    
.ui-menu-item:hover{ background:#efefef;}    
.ReqfieldBecomepartner{padding-left: 88px;}
.becomPartnerDesc{padding-left: 174px;}



.wrap-text {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;


-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
	}
	
	
	 .grid-header {background:#e2e2e2 url(../Images/panel1-1.png) no-repeat 0 0}
	 
	.lnkLogin
{
    font-weight: bold;
    text-decoration:underline!important;
}