﻿*{margin:0;padding:0;font-weight:normal}
body{font-family:Arial,Helvetica,sans-serif;font-size:11px}
a{color:#AE9973!important;text-decoration:none}
a:hover{text-decoration:underline}
#TB_ajaxContent p{padding-top:0!important;padding-bottom:0!important}
.modal h2{background:url(../Images/popup-header.gif) repeat-x 0 0;height:41px;line-height:41px;font-size:20px;color:#666;padding:0 0 0 20px}
.modal .content{background:#fff;color:#686868;padding:20px;position:relative}
.modal .content select{border:1px #d7d7d7 solid;width:157px;-moz-border-radius:5px;border-radius:5px;color:#a39c9a;font-size:11px;padding:5px}
.modal .content p span{color:#534a46}
.modal .content p{margin-bottom:15px;position:relative}
.modal h3{font-size:11px;text-transform:uppercase;margin-bottom:10px;color:#686868;padding-top:15px;width:400px}
.modal h3 span{color:#686868}
.modal .comment textarea{border:1px #d7d7d7 solid;width:450px;-moz-border-radius:5px;border-radius:5px;color:#a39c9a;height:120px;font-family:Arial,Helvetica,sans-serif;font-size:11px;padding:5px}
.box2{width:250px;float:right;border-top:solid 4px #ac9365;background:#f3f3f3}
.box2 h4{border-bottom:dotted 1px #ccc;font-size:11px;border-top:1px #fff solid;margin-bottom:0;padding:8px 10px}
.modal .box2 .content{background:0;padding:10px}
.modal .box2 .content h5{margin-bottom:15px;font-size:16px;color:#7d706c;padding-top:20px}
.modal .box2 .email{background:url(../Images/@.gif) no-repeat 0 1px;padding-left:18px!important}
.modal .box2 .phone{background:url(../Images/phone-icon.gif) no-repeat 0 1px;padding-left:18px!important}
.word-count{padding-left:336px}
.word-count .word{padding-top:5px;text-transform:uppercase}
.word-count .count{width:40px;text-align:right;font-size:18px;font-weight:700}
.flR,.paging .next,.form-btn{float:right}
.word{float:left}
.word-count .count{font-size:18px;font-weight:700;text-align:right;width:40px;float:left}
.modal .form-btn a,#email-confirm .form-btn a{background:url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent;border:1px solid #CECECE;color:#827672!important;font-size:13px;margin-left:10px;margin-top:0;padding:5px 15px;text-transform:uppercase;border-radius:.3em .3em .3em .3em;box-shadow:0 1px 2px rgba(0,0,0,0.2);line-height:22px;cursor:pointer}
.modal .form-btn a:hover,#email-confirm .form-btn a:hover{background-position:0 -153px;border-color:#9F885E;color:#FFF!Important;text-decoration:none}
.clear{clear:both}
.form-btn p{text-align:right}
#email-confirm,#thankyou-email{display:none}
#email-confirm,#thankyou-message{display:none}
#thankyou-email{position:relative}
#thankyou-email h3{font-size:16px;font-weight:bold}
#email-partner .box2{position:relative;z-index:1000}
#contact-owner .box2{position:relative;z-index:1000}
#non-approved-product h3{font-size:24px;color:#7d706c;text-transform:none;margin-bottom:5px;padding-top:5px}
#non-approved-product h4{font-size:18px;color:#000}
#non-approved-product p{font-size:12px;margin-bottom:20px}
.approved-product{margin-bottom:20px}
.approved-product li{width:100%;overflow:hidden;padding-bottom:10px;list-style:none}
.approved-product li .label{float:left;width:140px;padding:6px 20px 5px 50px;text-transform:uppercase}
.approved-product li .input{float:left}
.approved-product li .input input{width:475px;border:solid 1px #ada59f;padding:5px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#7d706c}
.approved-product li .input textarea{width:475px;height:50px;border:solid 1px #ada59f;padding:5px;-webkit-border-radius:4px;font-family:Arial;-moz-border-radius:4px;border-radius:4px;font-size:11px;color:#7d706c}
.alR{text-align:right}
#non-approved-product .content{height:470px;overflow:auto;padding-top:10px}
.approved-product li .input #specSheetPdfUpload{width:auto}
.approved-product li .input .mandatory{border-left:solid 4px #996;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.errorText{font-family:'Myriad Pro',Arial;font-size:11px;color:#e95e3f;height:20px;padding-top:15px}
.errorTxtSubfeedBck{font-family:'Myriad Pro',Arial;font-size:11px;color:#e95e3f;height:4px;padding-top:15px}