﻿.partner-profile td.col3 a 
{
    color: #0254EB;
}

.partner-profile td.col3 a:visited
{   
    color: #0254EB;
} 

.partner-profile td.col3 a.morelink
{
    text-decoration:none;
    outline: none;
} 

/*.morecontent span 
{     
    display: none;
}*/

.partner-profile td.col3 comment
{
    width: 400px;
    margin: 10px;
} 
