﻿
.ui-dialog-buttonpane.ui-widget-content
 {
 	border: none;
    text-align: center;
    margin: 0 auto;
    }
    .ui-dialog-buttonset button
    {
    	background: url("../Images/buttons.gif") repeat-x scroll 0 -76px transparent !important;
    border: 1px solid #CECECE !important;
    color: #827672!important;
    	    margin-left: 10px;
    margin-top: 0;
    padding: 5px 15px !important;
    text-transform: uppercase;
    border-radius: .3em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    line-height: 16px;
    cursor: pointer;
    width: 80px !important;
    }
    .ui-dialog{z-index: 200;}
    .ui-icon-alert{display: none}
    .ui-dialog-content.ui-widget-content
    {    display: block;
    width: auto;
    min-height: 50px !important; 
    /* max-height: none; */
    /* height: 0px; */
    border: none;
    height: 50px;
    padding: 20px;}
    .ui-dialog{width: 265px !important;}
    .ui-widget-overlay{  z-index: 99;  background: #000;}
    .ui-dialog-titlebar .ui-button-text{display : none}
    .ui-widget-header button
    {
    	    width: 29px !important;
    float: right;
    margin-bottom: 0;
    }