﻿.review-application .accordion h3{border-top:#AD7F02 3px solid;background-color:#E7E7E7!important;background-image:none}
.panel1,.panel3{border-bottom:1px #efefef solid;border-left:1px #efefef solid;border-right:1px #efefef solid}
#hdr-print{display:block}
.header{position:relative}
.header #hdr-print{position:absolute;left:0;top:-1px}
#divMaster{background:0}
body{background:0}
.review-application .accordion h4{background:0;background-color:#F7F7F7}
.accordion{box-shadow:0 2px 3px 1px rgba(0,0,0,0)}
@media print{.go{display:none}
#partner-img{display:block;position:absolute;left:0;top:-1px}
#gold-partner-img{display:block;position:absolute;left:0;top:-1px}
.imagestyle,.imagestyle1{border:0 white solid!important}
.main .inner-content,.accordion,.box1{background:#fff;filter:none!important;z-index:10;-webkit-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);-moz-box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);box-shadow:2px 5px 10px 2px rgba(0,0,0,0.3);margin:-2px 18px 15px -2px}
}
.main .review-application th{background:0}
.review-application .label{width:170px!important}
.printpad{padding-left:280px!important}