*{padding:0;margin:0}
select{outline:0}
#TB_window{font:12px Arial,Helvetica,sans-serif;color:#333; top:70px!important; margin-top:0px!important}
#TB_secondLine{font:10px Arial,Helvetica,sans-serif;color:#666}
#TB_window a:link{color:#666}
#TB_window a:visited{color:#666}
#TB_window a:hover{color:#000}
#TB_window a:active{color:#666}
#TB_window a:focus{color:#666}
#TB_overlay{position:fixed;z-index:100;top:0;left:0;height:100%;width:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.TB_overlayMacFFBGHack{background:url(macFFBgHack.png) repeat}
.TB_overlayBG{background-color:#000;filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}
* html #TB_overlay{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight+'px')}
#TB_window{position:fixed;z-index:102;color:#000;display:none;text-align:left;top:50%;left:50%}
* html #TB_window{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2)+(TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)+'px')}
#TB_window img#TB_Image{display:block;margin:15px 0 0 15px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #666;border-left:1px solid #666}
#TB_caption{height:25px;padding:7px 30px 10px 25px;float:left}
#TB_closeWindow{height:25px;padding:11px 25px 10px 0;float:right}
#TB_closeAjaxWindow a{float:right;height:20px;width:20px;background:url(../Images/cross-img.gif) no-repeat 100% 0}
#TB_closeAjaxWindow{float:right;margin-bottom:-27px;padding:7px 10px 5px 0;position:absolute;right:0;text-indent:-1000em;top:32px}
#TB_ajaxWindowTitle{float:left;padding:7px 0 5px 10px;margin-bottom:1px}
#TB_title{height:27px}
#TB_ajaxContent{clear:both;padding:2px 15px 15px 15px;overflow:auto;text-align:left;line-height:1.4em}
#TB_ajaxContent.TB_modal{padding:15px}
#TB_ajaxContent p{padding:5px 0 5px 0}
#TB_load{position:fixed;display:none;height:13px;width:208px;z-index:103;top:50%;left:50%;margin:-6px 0 0 -104px}
* html #TB_load{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2)+(TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)+'px')}
#TB_HideSelect{z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%}
* html #TB_HideSelect{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight+'px')}
#TB_iframeContent{clear:both;border:0}